﻿@{
        ViewBag.Title = "登录中心--物联网云平台,让您的沟通更有效率";
        Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>登录中心-物联网云平台,让您的沟通更有效率</title>
    <link href="@Url.Content("~/Content/front/css/base.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/Content/admin/js/artDialog/skins/blue.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/artDialog/jquery.artDialog.js")" type="text/javascript"></script>
    
    <script type="text/javascript">
        $(function () {
            $("#valiCode").bind("click", function () {
                $("#valiCode").css("background", "url(/Home/ValidateCode?time=" + (new Date()).getTime() + ") no-repeat 3px center");
            });
        });

        function ClickToSubmit() {
            var username = $("#username").val();
            var userpass = $("#userpass").val();
            var validcode = $("#validcode").val();

            var formattedJSON = { uname: username, upass: userpass, vcode: validcode };

            $.ajax({
                url: "LoginValidation",
                type: "get",
                data: formattedJSON,
                dataType: "json",
                success: function (result) {
                    $(".infocenter").html("");
                    if (result.success) {   //登陆成功
                        art.dialog({ title: '提示', icon: 'succeed', time: 4, content: "用户登陆成功，准备跳转...", padding: 0 });
                        setTimeout(function () {
                            window.location.href = "/admin/index";
                        }, 1000);
                    }
                    else {                  //登陆失败
                        art.dialog({ title: '提示', icon: 'error', time: 4, content: result.message, padding: 0 });
                    }
                },
                error: function (a, b, c) {
                }
            });
        }
    </script>
    
    <script language="javascript" type="text/javascript">
        var timer1 = null;
        var direction = 1;
        $(function () {
            bindEvent();
            autoPlay();
            clearLogin();
        });

        function clearLogin() {
            $("#Button2").click(function () {
                $("#txtName").val('');
                $("#txtPass").val('');
                $("#txtVc").val('');
            });
        }

        //自动播放
        function autoPlay() {
            timer1 = setInterval(function () {
                var li;
                var index = $("#divImageList ul>li[selected^='selected']").attr("sysId");
                if (index == 6) { direction = 0; }
                else if (index == 1) { direction = 1 }
                if (direction == 1) index++;
                else index--;
                li = $("#divImageList ul>li").eq(index - 1);
                $("#divImageList ul>li[selected^='selected']").each(function () {
                    $(this).removeAttr("selected");
                    setImg("Leave", $(this).find("img:eq(0)"));
                });
                li.attr("selected", "selected");
                setImg("Normal", li.find("img:eq(0)"));
                animation(index);
            }, 2500);
        }
        //动画效果
        function animation(index) {
            switch (index) {
                case 1:
                    $("#title").text("系统设置");
                    setTimeout(function () {
                        $("#deciscript").text("平台能够为不同的登陆用户设置不同的操作权限，能够为不同用戶定制化不同的操作方式；同时平台配备有各种操作日志查看功能，以方便追踪用户操作。 ");
                    }, 10);
                    $("#rightImgArea img:eq(0)").attr("src", "../../Content/front/images/login/r1.png");
                    break;
                case 2:
                    $("#title").text("设备管理");
                    setTimeout(function () {
                        $("#deciscript").text("平台能够管理采集设备，控制设备，随心切换，按您所需。同时平台亦提供人性化的操作方式，让您管理设备的同时，亦可以处理手边其他工作。 ");
                    }, 10);
                    $("#rightImgArea img:eq(0)").attr("src", "../../Content/front/images/login/r2.png");
                    break;
                case 3:
                    $("#title").text("用户管理");
                    setTimeout(function () {
                        $("#deciscript").text("平台集成管理员，普通用户等各种角色，不同角色的操作功能将互相隔离，不同用户之间的操作将不受影响。账户的分级让上级用户对下级用户的管控更加方便，真正做了可配置化。");
                    }, 10);
                    $("#rightImgArea img:eq(0)").attr("src", "../../Content/front/images/login/r3.png");
                    break;
                case 4:
                    $("#title").text("实时控制");
                    setTimeout(function () {
                        $("#deciscript").text("平台集成实时控制设备功能，通过平台我们就可以在线操控设备，并且对当前设备运行状况一目了然，实时，便捷，高效。");
                    }, 10);
                    $("#rightImgArea img:eq(0)").attr("src", "../../Content/front/images/login/r4.png");
                    break;
                case 5:
                    $("#title").text("通知通告");
                    setTimeout(function () {
                        $("#deciscript").text("平台集成各种通知通告功能，可以以短信形式，文本形式，手机客户端推送形式，微信推送形式将信息发送出去；并且信息可以按照权限不同推动给不同的用户。");
                    }, 10);
                    $("#rightImgArea img:eq(0)").attr("src", "../../Content/front/images/login/r5.png");
                    break;
                case 6:
                    $("#title").text("视频监控");
                    setTimeout(function () {
                        $("#deciscript").text("平台集成视频监控功能，可以根据用户的需求为其开通。视频监控信息可以实时上传，定时上传，让您远在千里之外即可轻松了解设备状况。");
                    }, 10);
                    $("#rightImgArea img:eq(0)").attr("src", "../../Content/front/images/login/r6.png");
                    break;
            }
        }
        //绑定事件
        function bindEvent() {
            $("#divImageList ul").delegate("li", "mouseenter", function () {
                if (timer1 != null) clearInterval(timer1);
                if ($(this).attr("selected")) return false;
                setImg("Normal", $(this).find("img:eq(0)"));
                return false;
            }).delegate("li", "mouseleave", function () {
                autoPlay();
                if ($(this).attr("selected")) return false;
                setImg("Leave", $(this).find("img:eq(0)"));
                return false;
            }).delegate("li", "click", function () {
                if (timer1 != null) clearInterval(timer1);
                if ($(this).attr("selected")) return false;
                $("#divImageList ul>li[selected^='selected']").each(function () {
                    $(this).removeAttr("selected");
                    setImg("Leave", $(this).find("img:eq(0)"));
                });
                $(this).attr("selected", "selected");
                setImg("Normal", $(this).find("img:eq(0)"));
                animation(parseInt($(this).attr("sysId")));
                return false;
            });
        }
        //设置图片属性
        function setImg(oldSrc, target) {
            if (oldSrc == undefined || oldSrc == "") return;
            var newSrc = oldSrc == "Normal" ? "Leave" : "Normal";
            var newPath = target.attr("src").replace(oldSrc, newSrc);
            target.attr("src", newPath);
        }
    </script>
</head>

<body>
<div id="mainBody">
<div style="width:499px;height:86px;margin:0 auto;padding-top:60px;"><img src="../../Content/front/images/login/logo.png" /></div>
    <div id="middleContent">
        <div id="leftTextArea">
            <div id="title">系统设置</div>
            <div id="deciscript">平台能够为不同的登陆用户设置不同的操作权限，能够为不同年级的学生定制化不同的操作方式；同时平台配备有各种操作日志查看功能，以方便追踪用户操作。 </div>
        </div>
        <div id="rightImgArea"><img alt="" src="../../Content/front/images/login/r1.png" /></div>
        <div style="width:700px;height:50px;float:right;margin-top:20px;">
            <ul class="loginul">
            <li class="loginuserli"><input type="text" id="username" /></li>
            <li class="loginpwdli"><input type="password" id="userpass" /></li>
            <li class="logincodeli"><input type="text" id="validcode" /></li>
            <li class="loginvalili" style="background:url(/Home/ValidateCode) no-repeat 3px center;width:50px;" id="valiCode"></li>
            <li class="loginbtnli"><input type="button" onclick="ClickToSubmit()" value=""/></li>
            <li class="infocenter"></li>
            </ul>
        </div>
    </div>
<div id="divImageList">
    <ul style="width:1050px;">
        <li selected="selected" sysId="1"><img alt="" src="../../Content/front/images/login/b1.png" class="func" /></li>
        <li sysId="2"><img alt="" src="../../Content/front/images/login/b2.png" class="func"  /></li>
        <li sysId="3"><img alt="" src="../../Content/front/images/login/b3.png" class="func"  /></li>
        <li sysId="4"><img alt="" src="../../Content/front/images/login/b4.png" class="func"  /></li>
        <li sysId="5"><img alt="" src="../../Content/front/images/login/b5.png" class="func"   /></li>
        <li sysId="6"><img alt="" src="../../Content/front/images/login/b6.png" class="func"  /></li>
    </ul>
    <div style="margin-top:15px;float:left;height:24px"><img src="../../Content/front/images/login/des.png" /></div>
</div>
</div>
@*<div class="footer" style="width:100%;text-align:center;float:left;">
<p>版权所有©鹤壁德森科技有限公司 市场及人事：**************  技术及运维：：**************</p>
<p>技术支持： 程序诗人</p>
</div>*@
</body>
</html>
