﻿@model Dictionary<FuNong.DataContract.NewsTypeResponse, List<FuNong.DataContract.NewsResponse>>
@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <link href="../../Content/front/css/news.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/front/novoslider/themes/default/default.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/front/novoslider/css/nivo-slider.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="../../Content/front/novoslider/js/jquery.nivo.slider.pack.js" type="text/javascript"></script>
    <style type="text/css">
    .nnnitem {font-size: 13px;height: 25px;line-height: 25px;padding-left: 3px;color: #2B2B2B;background: url(../Content/front/images/dot.gif) no-repeat;padding-right:10px;}
    .nnntop{height:100px;}
    .nnncontainer{width:100%;height:100%;float:left;margin-left:3px;margin-top:3px;}
    .nnnimg{float:left;height:100%;width:120px;border:1px dotted green;border-radius:5px;}
    .nnnimg img{height:100px;width:120px;}
    .nnntitle{float:right;height:20px;width:213px;font-weight:bold;font-size:13px;color:#575757;padding-right:3px;}
    .nnntitlex{float:right;height:20px;width:350px;font-weight:bold;font-size:13px;color:#575757;padding-right:3px;}
    .nnncontent{float:right;height:35px;width:213px;color:#797979;padding-right:3px;}
    .nnncontentx{float:right;height:35px;width:350px;color:#797979;padding-right:3px;}
    a:hover{color:#FFA61B}
    
    .videocontainer{float:left;height:100px;width:120px;margin-top:5px;margin-left:5px;}
    .videoimg{float:left;width:100%;height:80px;}
    .videotxt{float:left;width:100%;height:20px;text-align:center;}
    </style>
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider({ pauseTime: 3000 });
            $(".nivo-controlNav").hide();
        });
    </script>
}
@{
    var linu = string.Empty;
    var count = 0;
    var todayHot = Model.Where(x=>x.Key.id==-2).FirstOrDefault().Value;  //今日热点
    if(todayHot!=null)
    {
        if(todayHot.Count>0)
        {
            todayHot[0].newstitle = todayHot[0].newstitle.Length > 18 ? todayHot[0].newstitle.Substring(0, 18) + "..." : todayHot[0].newstitle;
        }
    }
    for (var i = 1; i < todayHot.Count; i++)
    {
        linu += "[<a target='_blank' href='../Home/NewsDetail?menu=1&id=" + todayHot[i].id + "' style='color:gray;' >" + todayHot[i].newstitle + "</a>]";
    }
    var todayRecommand = Model.Where(x => x.Key.id == -1).FirstOrDefault().Value;  //今日推荐
    var todayRecommandLen = 8;
    if(todayRecommand!=null)
    {
        todayRecommand.ForEach(item =>
        {
            item.newstitle = item.newstitle.Length > 20 ? item.newstitle.Substring(0, 20)+"..." : item.newstitle;
            if(item.pageimg!=null)
            {
                item.pageimg = item.pageimg.Replace(",", "");
            }
            else
            {
                item.pageimg = "../Content/front/images/no.jpg";
            }
        });
        
        if(todayRecommand.Count<8)
        {
            todayRecommandLen = todayRecommand.Count;
        }
    }

    
}

<div class="newsfirst">
<div class="newsinnerfirst">
		<div class="slider-wrapper theme-default" style="width:100%;height:100%;">
           <div id="slider" class="nivoSlider" style="width:100%;height:100%;">
               @for (int i = 0; i < todayRecommandLen; i++)
               {
                <a href="../Home/NewsDetail?menu=1&id=@todayRecommand[i].id" target="_blank"><img style="width:100%;height:100%;" src="@todayRecommand[i].pageimg" alt="" title="@todayRecommand[i].newstitle" /></a>
               }
			</div>
		</div>
</div>
<div class="newsinnersecond">
    <div style="height:70px;float:left;width:100%;border-bottom:1px solid #E7E7E7;">
        <ul style="margin:0;padding:0;list-style:none;">
        <li style="height:30px;line-height:30px;text-align:center;font-weight:bold;font-size:20px;">
            <a target="_blank" href='../Home/NewsDetail?menu=1&id=@todayHot[0].id' style="color:#FF7803;">@todayHot[0].newstitle</a>
        </li>
        <li style="font-size:10px;text-indent:2em;">@Html.Raw(linu)</li>
        </ul>
    </div>
    <div style="clear:both"></div>
    <div style="height:60px;float:left;width:100%;">
        <ul class="newslistul">
        @for (int i = 0; i < todayRecommandLen; i++)
        {
                <li><span  class="nnnitem">&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="../Home/NewsDetail?menu=1&id=@todayRecommand[i].id">[@todayRecommand[i].typename]&nbsp;@todayRecommand[i].newstitle</a></span></li>
        }
        </ul>
    </div>
</div>
<div class="newsinnerthird"><a target="_blank" href="../../home/Register"><img src="../../Content/front/images/加入.gif" width="100%" height="100%;" alt="" /></a></div>
</div>
<div style="clear:both;"></div>
<div class="newssecond">
    <img src="../../Content/front/images/banner_1000.png" width="100%" height="100%" alt="" />
</div>

<div class="newsthird">
  <div class="newsthirdleft">
        @foreach(var kvp in Model.Where(x=>x.Key.id==0))
        {
            var key = kvp.Key;
            var val = kvp.Value;

            var valLen = 8;
            if(val!=null)
            {
                if(val.Count<8)
                {
                    valLen = val.Count;
                }
            }
            
            var firstEntity = val.FirstOrDefault();
            if (string.IsNullOrEmpty(firstEntity.pageimg))
            {
                firstEntity.pageimg = "../Content/front/images/no.jpg";
            }

            var projMarketTitle = (firstEntity.newstitle.Length > 25) ? firstEntity.newstitle.Substring(0, 25)+"...": firstEntity.newstitle;
            var projMarketContent = DotNet.Utilities.HTMLHelper.NoHTML(firstEntity.newsnote);
            var projMarketConte = (projMarketContent.Length > 100) ? projMarketContent.Substring(0, 100)+"..." : projMarketContent;
          
            count++;
            <div class="newsthirdleft-@count">
                <ul class="newslistul">
                <li class="newslisttitle">
                <span class="newslisttitletext">@key.typename</span>
                <span class="newslisttitlemore"><a target="_blank" href="newslist?menu=2&typeid=@key.typenote">更多>></a></span>
                </li>
                <li style="clear:both;"></li>
                <li class="nnntop">
                <div class="nnncontainer">
                    <div class="nnnimg"><img src="@firstEntity.pageimg.Replace(",","")" alt="" /></div>
                    <div class="nnntitlex"><a href="../Home/NewsDetail?menu=1&id=@firstEntity.id">@projMarketTitle</a></div>
                    <div class="nnncontentx">@projMarketConte</div>
                </div>
                </li>
                    @for (int i = 1; i < valLen; i++)
                    {
                        val[i].newstitle = val[i].newstitle.Length>27?val[i].newstitle.Substring(0,27)+"...":val[i].newstitle;
                        <li><span  class="nnnitem">&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="../Home/NewsDetail?menu=1&id=@val[i].id">@val[i].newstitle</a> @val[i].updatetime</span></li>
                    }
            </ul>
            </div>
        }
  </div>
</div>
