﻿@model Dictionary<int, List<FuNong.DataContract.NewsResponse>>
@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<FuNong.DataContract.NewsResponse> videoMarket = Model[11]; //视频新闻

    int videoCount = 6;
    if (videoMarket.Count < videoCount)
    {
        videoCount = videoMarket.Count;
    }

    FuNong.DataContract.SoilPublishMainResponse soilPublishMainResponse = ViewBag.message as FuNong.DataContract.SoilPublishMainResponse;

    string title = soilPublishMainResponse.publishtitle;
    if(title.Length>40)
    {
        title = title.Substring(0, 40) + "...";
    }

    string fee = soilPublishMainResponse.chargefee;
    if(string.IsNullOrEmpty(fee))
    {
        fee = "面议";   
    }
    else
    {
        fee = fee + "万元";    
    }
    
    
    var imgList = soilPublishMainResponse.indeximg;
    var imgRawList = string.Empty;
    if (string.IsNullOrEmpty(imgList))
    {
        imgRawList = "<img src='../UploadFile/SoilImages/default.jpg' style='width:100%;height:100%;' alt='' />";
    }
    else
    {
        if (imgList.Contains(','))
        {
            string[] imgArray = imgList.Split(',');
            imgArray.ToList().ForEach(item =>
            {
                if (!string.IsNullOrEmpty(item))
                {
                    imgRawList += "<img src='../Process/" + item + "'  style='width:100%;height:100%;' alt='' />";
                }
            });
        }
        else
        {
            imgRawList = "<img src='../Process/" + imgList + "'  style='width:100%;height:100%;' alt='' />";
        }
    }
 }
@section scripts
{
    <link href="@Url.Content("~/Content/front/css/news.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/front/novoslider/themes/default/default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/front/novoslider/css/nivo-slider.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/js/jqueryeasyui/themes/bootstrap/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/js/jqueryeasyui/themes/icon.css")"        rel="stylesheet" type="text/css" />

    
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/jquery-1.7.2.min.js")"   type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/jquery.easyui.min.js")"  type="text/javascript"></script>
    <script src="@Url.Content("~/Content/front/novoslider/js/jquery.nivo.slider.pack.js")" type="text/javascript"></script>

    <link href="@Url.Content("~/Content/admin/js/artDialog/skins/opera.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/admin/js/artDialog/jquery.artDialog.js")" type="text/javascript"></script>

    <style type="text/css">
    .videocontainer{float:left;height:100px;width:120px;margin-top:5px;margin-left:5px;}
    .videoimg{float:left;width:100%;height:80px;}
    .videotxt{float:left;width:100%;height:20px;text-align:center;}
    
    .soildetailcontainer{width:1000px;height:auto;margin:0 auto;margin-bottom:10px;margin-top:10px;}
    .soildetailleftcontainer{width:730px;height:100%;float:left;margin-left:-1px;margin-bottom:10px;}
    .soildetailleftnav{width:100%;height:30px;line-height:30px;border:1px solid #E4E4E4;border-left:3px solid #3B7046;}
    .soildetaillefttitle{width:100%;height:60px;line-height:60px;font-size:18px;font-weight:bold;text-align:left;border-bottom:1px dashed #dddddd}
    .soildetailleftslider{width:100%;height:500px;font-size:13px;color:Gray; text-align:center;margin-top:10px;}
    .sliderleftimages{width:320px;height:240px;float:left;}
    
    .soildetailattribute{width:400px;height:250px;float:left;margin-left:5px;}
    .soildetailattribute table{height:100%;width:100%;padding:5px;}
    .soildetailattribute table span{background:url(../../Content/admin/images/btnapprove.png) no-repeat;cursor:pointer;display:block;width:188px;height:33px;text-align:center;color:White;line-height:33px;font-size:16px;font-weight:bold;}
    .soildetailreminder{width:100%;height:30px;float:left;margin-top:10px;background:#FFFEE6 url(../../Content/front/images/tip.png) no-repeat;color:#8F5700;text-align:left;}
    .soildetailreminderex{width:100%;height:30px;line-height:30px;float:left;background:#FFFEE6 url(../../Content/front/images/tip.png) no-repeat 0px 5px;color:#8F5700;text-align:left;}
    .soildetailreminderexx{width:100%;height:35px;line-height:35px;float:left;background:#FFFEE6 url(../../Content/front/images/tip.png) no-repeat 0px 5px;color:#8F5700;text-align:left;text-indent:2em;line-height:2;}
    
    .soildetilcontent{width:100%;height:auto;float:left;margin-top:30px;}
    
    #soiltable  td{height:20px;line-height:20px;text-align:left;color:#444444;border-bottom:1px dashed #dddddd}
    #myask{background:url(../../Content/admin/images/btnapprove.png) no-repeat;cursor:pointer;display:block;width:188px;height:33px;text-align:center;color:White;line-height:33px;font-size:16px;font-weight:bold;margin:0 auto;}
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#slider').nivoSlider({ pauseTime: 3000 });
            $(".nivo-controlNav").hide();

            $("#myask").click(function () {
                var content = '<div style="width:420px;height:280px;margin:0 auto;">'
                            + '        <ul style="list-style:none;padding:0;margin:0;float:left;">'
                            + '            <li class="soildetailreminderex">&nbsp;&nbsp;&nbsp;&nbsp;温馨提示：请输问询内容，我们工作人员将会在第一时间为您解答！</li>'
                            + '            <li style="height:30px;line-height:30px;float:left;">昵称：<input type="text" style="width:300px;border:none;border-bottom:1px solid #A9A9A9;background-color:transparent;" /></li>'
                            + '            <li style="height:30px;line-height:30px;float:left;">标题：<input type="text" style="width:300px;border:none;border-bottom:1px solid #A9A9A9;background-color:transparent;" /></li>'
                            + '            <li style="vertical-align:top;float:left;">内容：<textarea rows="3" cols="3" style="height:180px;width:350px;" ></textarea></li>'
                            + '            <li style="height:35px;line-height:35px;text-align:center;float:left;width:420px;"><span id="myask">提交问询</span></li>'
                            + '        </ul>'
                            + '</div>';
                art.dialog({ title: '请输入您要询问的内容', content: content, width: 420, height: 300, padding: 0 });
            });

            submitIntention();
        });

        function submitIntention() {
          $("#intentionBtn").click(function () {

            var iName = $("#intentionName").val();
            var iPhone = $("#intentionPhone").val();
            var iNote = $("#intentionNote").val();
            var mainid = @soilPublishMainResponse.id;
            var requestid = @soilPublishMainResponse.requestid;
            var isapprove = @soilPublishMainResponse.isapprove;

            var formattedJSON = { inamex: iName, iphonex: iPhone,inotex:iNote, imainid:mainid,irequestid:requestid,isapprovex:isapprove };
            debugger;
          
                $.ajax({
                    url: "SubmitIntention",
                    type: "post",
                    data: formattedJSON,
                    dataType: "json",
                    success: function (result) {
                        if (result.success) {  
                           art.dialog({ title: '提示', icon: 'succeed', time: 4, content:result.message, padding: 0 });
                        }
                        else {                
                          art.dialog({ title: '提示', icon: 'error', time: 4, content:result.message, padding: 0 });
                        }
                    },
                    error: function (a, b, c) {}
                });
            });
        }

    </script>
}

<div class="soildetailcontainer">
  <div class="soildetailleftcontainer">
    <div class="soildetailleftnav">&nbsp;&nbsp;&nbsp;&nbsp;资讯首页 >土地流转专栏 >查看详细信息</div>
    <div class="soildetaillefttitle">@title</div>
    <div class="soildetailleftslider">
        <div class="sliderleftimages">
            <div class="slider-wrapper theme-default" style="width:100%;height:100%;">
               <div id="slider" class="nivoSlider" style="width:100%;height:100%;">
				    @Html.Raw(imgRawList)
			    </div>
		    </div>
         </div>
         <!--土地属性-->
         <div class="soildetailattribute">
            <table cellpadding="0" cellspacing="0" id="soiltable">
            <tbody>
            <tr><td>土地价格：@fee</td><td>土地面积：@soilPublishMainResponse.soilarea 亩</td></tr>
            <tr><td>流转方式：@soilPublishMainResponse.changetypename</td><td >土地类型：@soilPublishMainResponse.soiltypename</td></tr>
            <tr><td>可流转年限：@soilPublishMainResponse.canchangeyear 年</td><td >剩余流转年限：@soilPublishMainResponse.sparechangeyear 年</td></tr>
            <tr><td colspan="2">土地所在地址：@soilPublishMainResponse.provincename> @soilPublishMainResponse.cityname> @soilPublishMainResponse.districtname</td></tr>
            <tr><td colspan="2">流转大厅名称：通辽市福农土地经营权交易咨询有限公司</td></tr>
            <tr><td colspan="2">流转大厅地址：通辽市科尔沁区建国路北段2349（市农牧业局人禾酒店一楼）（查看详细信息）</td></tr>
            <tr><td colspan="2">流转大厅电话：0475-2792555</td></tr>
            <tr><td colspan="2"><span id="myask">我要询问</span></td></tr>
            </tbody>
            </table>
         </div>
         <!--提示分享-->
         <div class="soildetailreminder">
         <span style="padding-left:20px;">温馨提示：当您和流转大厅工作人员联系时请说明是在福农网上看到的，将会增大服务成功的几率！ </span>
         <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a><a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a></div>
         <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
         </div>
         <div style="clear:both"></div>
         <!--土地具体信息-->
         <div class="soildetilcontent">
            <div class="easyui-tabs" style="width:727px;height:auto">
                    <div title="土地介绍" style="padding:10px">
                        <div style="float:left;width:100%;height:170px;background-color:#F3F3F3;font-size:14px;color:#596372;">
                            <ul style="list-style:none;padding:14px;margin:0;">
                            <li style="float:left;width:100%;height:30px;line-height:30px;">位置与四至：@soilPublishMainResponse.locationdetail</li>
                            <li style="float:left;width:100%;height:30px;line-height:30px;">地上设施：@soilPublishMainResponse.soilgroundlist</li>
                            <li style="float:left;width:100%;height:30px;line-height:30px;">土壤类型：@soilPublishMainResponse.earthtypelist</li>
                            <li style="float:left;width:100%;height:30px;line-height:30px;">周边水源：@soilPublishMainResponse.waterlist</li>
                            <li style="float:left;width:100%;height:30px;line-height:30px;">周边配套：@soilPublishMainResponse.aroundlist</li>
                            </ul>
                        </div>
                        <div style="width:100%;float:left;margin-top:10px;text-indent:2em;font-size:15px;font-family: 微软雅黑;line-height:2;">
                         @Html.Raw(@soilPublishMainResponse.description)
                        </div>
                    </div>
                   
                    <div title="土地图片" style="padding:10px">
                      @Html.Raw(@imgRawList)
                    </div>
                   @* <div title="土地地图" style="padding:10px">
                      
                    </div>*@
                    <div title="意向登记" style="padding:10px">
                      <div style="width:100%;height:100%;float:left;text-indent:2em;font-size:13px;line-height:2;font-family: 微软雅黑;">
                           <ul style="list-style:none;padding:0;margin:0;float:left;">
                               <li class="soildetailreminderexx">温馨提示：请务必保证填写真实的姓名和可用的手机号，流转大厅将会不定期组织双方交易人进行一对一的见面交易！</li>
                               <li style="height:30px;line-height:30px;float:left;">意向受让人真实姓名：<input type="text" id="intentionName" style="width:300px;border:none;border-bottom:1px solid #A9A9A9;background-color:transparent;" /></li>
                               <li style="height:30px;line-height:30px;float:left;">意向受让人联系电话：<input type="text" id="intentionPhone" style="width:300px;border:none;border-bottom:1px solid #A9A9A9;background-color:transparent;" /></li>
                               <li style="vertical-align:top;float:left;margin-top:10px;">意向受让人备注说明：<textarea rows="3" id="intentionNote" cols="3" style="height:180px;width:450px;border:none;border:1px solid #A9A9A9" ></textarea></li>
                               <li style="height:35px;line-height:35px;text-align:center;float:left;width:100%;"><input type="button" id="intentionBtn" value="提交意向申请" style="height:30px;width:130px;" /></li>
                           </ul>
                        </div>
                    </div>
            </div>
            <div style="clear:both;"></div>
         </div>
    </div>
  </div>
  <div style="width:260px;height:650px;float:right;">
        <div class="newsthirdrightone">
          <ul class="newslistul">
            <li class="newslisttitle">
            <span class="newslisttitletext">视频新闻</span>
            <span class="newslisttitlemore">更多>></span>
            </li>
        </ul>
        @for (var i = 0; i < videoCount; i++)
        {
            string videoTitle = videoMarket[i].newstitle;
            if (videoTitle.Length > 8)
            {
                videoTitle = videoTitle.Substring(0, 8) + "...";
            }

            string imgsrc = "../../Content/front/images/video/videoimg" + i + ".jpg";
            
            <div class="videocontainer">
                <div class="videoimg"><img src=@imgsrc style="width:120px;height:80px;" /></div>
                <div class="videotxt"><a href='#'>@videoTitle</a></div>
            </div>
        }
        </div>
        <div class="newsthirdrighttwo"><img alt="" src="../../Content/front/images/banner_260.jpg" /></div>
  </div>
</div>
<div style="clear:both"></div>