﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
}

@section scripts
{
    <link href="@Url.Content("~/Content/admin/js/jqueryeasyui/themes/metro/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/js/jqueryeasyui/themes/icon.css")"        rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/jquery-1.7.2.min.js")"   type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/jquery.easyui.min.js")"  type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemonFront.js")" type="text/javascript"></script>
    <style type="text/css">
        .soilwrapper{width:1000px;height:100%;margin:0 auto;}
        
        .soilleftwrapper{width:775px;height:auto;float:left;}
        .soilleft{width:775px;height:350px;float:left;border:1px solid #DDDDDD;margin-top:10px;}
        .soillefttitle{height:34px;line-height:34px;width:100%;float:left;border-bottom:1px solid #DDDDDD}
        .soillefttitle span{font-size:14px;font-weight:bold;padding-left:30px;}
        .soilleftcontent{width:100%;float:left;padding:15px;}
        .soilleftcontentnav{float:left;width:100%;}
        .soilleftcontentnav a{display:block;height:24px;width:84px;border:1px solid #DDDDDD;text-align:center;line-height:24px;float:left;margin:8px;color:Black;}
        .soilleftcontentnav a:hover{background-color:#1F8D1D;color:White;}
        .soilleftcontentdetail{width:100%;height:30px;float:left;}
        .soilleftcontentdetailex{width:100%;min-height:30px;height:auto;float:left;}
        .soilleftcontentdetailex span,.soilleftcontentdetail span{font-weight:bold;float:left;}
        .soilleftcontentdetailex a,.soilleftcontentdetail a{display:block;text-align:center;line-height:100%;float:left;margin:3px;color:#0F60C5;}
        
        .soillist{width:775px;height:2480px;float:left;border:1px solid #dddddd;margin-top:10px;margin-bottom:10px;}
        .soillisttitle{font-weight:bold;color:#1E8B1E;font-size:15px;line-height:30px;height:30px;border-bottom:3px solid #1E8B1E;}
        .soillisttitle span{margin-left:30px;}
        
        .tabmain{width:100%;height:120px;border:0;}
        .picmore{background-color:#05A7CE;color:White;padding-left:5px;padding-right:5px;vertical-align: text-bottom;}
        .tabdesc{width: 400px;display:block;padding-left:10px;color:#656464;}
        .tabdesc span{display:block;margin-top:6px;}
        .tabattr{width:180px;}
        .tabattrspan1{color:#FE5F08}
        .tabattrspan2{color:#656464}
        .tabcer{width:180px;text-align:center;}
        .tabcerspan1{color:#FF6305;font-size:24px;font-weight:bold}
        .tabcerspan2{background-color:#E58D83;color:White;}
        
        .soilrightdesc{width:215px;height:125px;float:right;margin-top:5px;}
        .soilrightvideo{width:215px;height:330px;float:right;border:1px solid #DDDDDD;margin-top:10px;border-top:3px solid #1C8C1E}
        .soilrightnews1{width:215px;height:300px;float:right;border:1px solid #DDDDDD;margin-top:10px;border-top:3px solid #1C8C1E}
        .soilrightad{width:215px;height:72px;float:right;border:1px solid #DDDDDD;margin-top:10px;}
        .soilrightnews2{width:215px;height:300px;float:right;border:1px solid #DDDDDD;margin-top:10px;border-top:3px solid #1C8C1E}
        
        .removeoption{cursor:pointer;font-weight:normal;padding:3px;height:20px;background-image:url("../../Content/front/images/cross.png");background-repeat:no-repeat;background-position:right;padding-right:20px;border:1px solid #dddddd;line-height:20px;margin-right:5px;}
        .submitquery{background:url(../../Content/admin/images/btnapprove.png) no-repeat;cursor:pointer;display:block;width:188px;height:33px;text-align:center;color:White;line-height:33px;font-size:16px;font-weight:bold;margin:0 auto;}
    </style>
    @{
           
     }

    <script type="text/javascript">

        var DataURL = "../../Home/GetSoilMarketList";
        var ColumnData = [[
                        { field: 'id', hidden: true },
                        { field: 'requestid', title: '', formatter: function (value, row, index) {
                            var fee = row.chargefee;
                            if (fee == "" || fee == undefined || fee == null) fee = "面议";
                            else fee = fee + "万元";

                            var imgdesc = "";
                            var img = row.indeximg;
                            if (img == "" || img == null || img == undefined) img = "../../UploadFile/SoilImages/default.jpg";
                            else {
                                imgdesc = "<span class='picmore'>多图</span>";
                                if (img.indexOf(",") >= 0) {
                                    var array = img.split(",");
                                    for (var i = 0; i < array.length; i++) {
                                        var imgCurrent = array[i];
                                        if (imgCurrent != null && imgCurrent != "") {
                                            img = "../../Process/" + imgCurrent;
                                        }
                                    }
                                }
                                else {
                                    img = "../../Process/" + img;
                                }
                            }

                            return "<table  class='tabmain' cellpadding='0' cellspacing='0'>"
                                  + "    <tbody>"
                                  + "      <tr>"
                                  + "         <td rowspan='2'><img width='120' height='90' alt='' src='" + img + "'/></td>"
                                  + "         <td colspan='3' style='padding-left:10px;'><span><b><a href='../../Home/SoilDetail?menu=2&id="+row.id+"' style='font-size:14px;' target='_blank'>" + row.publishtitle + "</a></b>" + imgdesc + "</span></td>"
                                  + "        </tr>"
                                  + "        <tr>"
                                  + "          <td class='tabdesc'><span>区域：" + row.provincename + "-" + row.cityname + "-" + row.districtname + " </span><span>用途：<a href='#'>" + row.changetypename + "</a>><a href='#'>" + row.soiltypename + "</a></span><span><i>更新时间：" + formatDateTimeJSON(row.updatetime) + "</i></span></td>"
                                  + "          <td class='tabattr'><span class='tabattrspan1'><b>" + row.soilarea + " 亩</b></span><br /><span class='tabattrspan2'>使用年限：" + row.sparechangeyear + "年</span></td>"
                                  + "          <td  class='tabcer'><span class='tabcerspan1'>" + fee + "</span><br><span class='tabcerspan2'>实地认证</span><br></td>"
                                  + "        </tr>"
                                  + "     </tbody>"
                                  + "  </table>";
                        }, width: 0
                        }
                      ]];

                        var cityList, soilList, changeList;

                        $(document).ready(function () {
                            //获取城市，土地类型，流转类型列表
                            $.ajaxWebService("../../Home/GetCityList", "{ provinceid: '5' }", function (data) {
                                if (data.success) {
                                    cityList = data.data;
                                    soilList = data.data1;
                                    changeList = data.data2;

                                    //根据url加载待选项
                                    var cityid = getUrlVars()["cityid"];      //加载城市id
                                    var typeid = getUrlVars()["typeid"];      //加载土地类型id 
                                    var changeid = getUrlVars()["changeid"];  //加载流转类型id

                                    for (var i = 0; i < cityList.length; i++) {
                                        var currentid = cityList[i].id;
                                        var currentname = cityList[i].name;
                                        var herf = "javascript:additem(" + currentid + ",\"" + currentname + "\",\"city\")";
                                        $("#cityList").append("<a tag='city" + currentid + "' href=" + herf + " onclick='javascript:triggerdistrict(\"" + currentid + "\")'>" + currentname + "</a>");

                                        if (cityid != undefined && cityid != null && cityid != "") {  //如果传过来的有CityID
                                            triggerdistrict(cityid);  //拉出当前城市下的旗县
                                            $("a[tag='city" + cityid + "']").css("background-color", "#1F8D1D").css("color", "#ffffff");  //着色当前城市
                                            //if (cityid == currentid)
                                            //    additem(cityid, currentname, "city");  //添加到筛选中
                                        }
                                    }
                                    for (var i = 0; i < soilList.length; i++) {
                                        var currentid = soilList[i].id;
                                        var currentname = soilList[i].typename;
                                        var parentid = soilList[i].parentid;
                                        if (parentid == 0) {
                                            var herf = "javascript:additem(" + currentid + ",\"" + currentname + "\",\"soil\")";
                                            $("#soilList").append("<a tag='soil" + currentid + "' href=" + herf + " onclick='javascript:triggerschildren(\"" + currentid + "\")'>" + currentname + "</a>");
                                            if (typeid != undefined && typeid != null && typeid != "") {  //如果传过来的有typeid
                                                $("a[tag='soil" + typeid + "']").css("color", "red");  //着色当前
                                                //if (typeid == currentid)
                                                //    additem(typeid, currentname, "soil");  //添加到筛选中
                                                triggerschildren(typeid);
                                            }
                                        }
                                    }
                                    for (var i = 0; i < changeList.length; i++) {
                                        var currentid = changeList[i].id;
                                        var currentname = changeList[i].changetitle;
                                        var herf = "javascript:additem(" + currentid + ",\"" + currentname + "\",\"change\")";
                                        $("#changeList").append("<a tag='change" + currentid + "' href=" + herf + ">" + currentname + "</a>");
                                        if (changeid != undefined && changeid != null && changeid != "") {  //如果传过来的有changeid
                                            $("a[tag='change" + changeid + "']").css("color", "red");  //着色当前
                                            if (changeid == currentid)
                                                additem(changeid, currentname, "change");  //添加到筛选中
                                        }
                                    }
                                }
                            });
                            //移除筛选项
                            $(".removeoption").live("click", function () {
                                $(this).remove();
                            });
                        });


        $.ajaxWebService = function (url, dataparam, datasuccess) {
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: url,
                data: dataparam,
                success: datasuccess,
                error: function (a, b, c) {}
            });
        }

        function triggerschildren(parentsoiltypeid) {
            $("#soildetailList").html("<span>细分类型：</span>");
            for (var i = 0; i < soilList.length; i++) {
                var currentid = soilList[i].id;
                var currentname = soilList[i].typename;
                var parentid = soilList[i].parentid;
                if (parentid != 0 && parentid == parentsoiltypeid) {
                    var herf = "javascript:additem(" + currentid + ",\"" + currentname + "\",\"soildetail\")";
                    $("#soildetailList").append("<a tag='soildetail" + currentid + "' href=" + herf + ">" + currentname + "</a>");
                }
            }
        }

        function triggerdistrict(cid) {
            $.ajaxWebService("../../Home/GetDistrictListByCityID", "{ cityid: '" + cid + "' }", function (data) {
                if (data.success) {
                    $("#districtList").html("<span>各级旗县：</span>");
                    var districtList = data.data;
                    for (var i = 0; i < districtList.length; i++) {
                        var herf = "javascript:additem(" + districtList[i].id + ",\"" + districtList[i].name + "\",\"district\")";
                        $("#districtList").append("<a href=" + herf + ">" + districtList[i].name + "</a>");
                    }
                }
            });
        }

        function additem(id, name, type) {
            if (type != "city" && type != "soil") {
                var html = "<span tag=\"" + id + "\" tag1=\"" + type + "\" class='removeoption'>" + name + "</span>";
                var flag = existitem(id, type);
                if (!flag) {
                    $("#paramList").append(html);
                }
            }
        }

        function existitem(id, type) {
            var flag = false;
            $("#paramList span[class='removeoption']").each(function () {
                var currentItemid = $(this).attr("tag");
                var currentItemtype = $(this).attr("tag1");
                if (currentItemid == id && currentItemtype == type) {
                    flag = true;  //检查是否有重复项
                    return;
                }
            });
            return flag;
        }

        function submitquery(){

            var soiltypeid = new Array();
            var changetypeid = new Array();
            var districtid = new Array();
            var cityid = new Array();

            $("#paramList span[class='removeoption']").each(function () {
                var tag1 = $(this).attr("tag1");
                var tag = $(this).attr("tag");
                if (tag1 == "soildetail") soiltypeid.push(tag);
                if (tag1 == "change") changetypeid.push(tag);
                if (tag1 == "district") districtid.push(tag);
                //if (tag1 == "city") cityid.push(tag);
            });

            var query = { soiltypelist: '' + soiltypeid + ''
                            , changetypelist: '' + changetypeid + ''
                            , districtlist: '' + districtid + ''
                           // , citylist: '' + cityid + ''
            };

            $("#dg").datagrid('options').queryParams = query; //把查询条件赋值给datagrid内部变量
            $("#dg").datagrid('reload'); //重新加载
        }

    </script>
}

<div class="soilwrapper">
    <!--左侧部分-->
    <div class="soilleftwrapper">
    <div class="soilleft">
        <div class="soillefttitle"><span>内蒙古找地</span></div>
        <div class="soilleftcontent">
            <div class="soilleftcontentnav" id="cityList"></div>
            <div class="soilleftcontentdetailex" id="districtList"><span>各级旗县：</span></div>
            <div class="soilleftcontentdetail" id="changeList"><span>流转方式：</span></div>
            <div class="soilleftcontentdetail" id="soilList"><span>土地类型：</span></div>
            <div class="soilleftcontentdetail" id="soildetailList"><span>细分类型：</span></div>
            <div class="soilleftcontentdetail" id="paramList"><span>已选参数为：</span></div>
            <div class="soilleftcontentdetail" style="float:left;"><div class="submitquery" onclick="submitquery();">点击搜索</div></div>
        </div>
    </div>
    <div class="soillist"><table id="dg"></table></div>
    </div>
    
    <!--右侧部分-->
    <div class="soilrightdesc">
            <img src="../../Content/front/images/tudixinxi.jpg" />
    </div>
    <div class="soilrightvideo">
        <div style="width:100%;height:30px;line-height:30px;color:#1F8D1D;font-weight:bold;text-align:center;font-size:15px;float:left;border-bottom:1px solid #BFC0C0">图片新闻</div>
         @Html.Action("ImgNewsPartial", "PartialView")
    </div>
    <div class="soilrightnews1">
        <div style="width:100%;height:30px;line-height:30px;color:#1F8D1D;font-weight:bold;text-align:center;font-size:15px;float:left;border-bottom:1px solid #BFC0C0">地产投资</div>
        @Html.Action("VideoNewsPartial", "PartialView")
    </div>
    <div class="soilrightad">
        <img src="../../Content/front/images/tudi.jpg" />
    </div>
    <div class="soilrightnews2">
    <div style="width:100%;height:30px;line-height:30px;color:#1F8D1D;font-weight:bold;text-align:center;font-size:15px;float:left;border-bottom:1px solid #BFC0C0">流转资讯</div>
         @Html.Action("LZNewsPartial", "PartialView")
    </div>
</div>
<div style="clear:both;"></div>
