﻿@{
    ViewBag.Title = "Collector";
}

@section scripts{
    
    <link href="~/Content/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>


}

<br />

<div class="panel panel-info" style="margin:10px 10px 10px 10px">
    <div class="panel-heading">
        <h3 class="panel-title glyphicon glyphicon-user"><strong>阿福家的一号设备</strong></h3>
    </div>
    <div class="panel-body">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">控制器部分</h3>
            </div>
            <div class="panel-body">

                <div class="panel panel-success" style="float:left;margin-left:20px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">风机(在线)</h3>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default glyphicon glyphicon-off">停止</button>
                            <button type="button" class="btn btn-default glyphicon glyphicon-chevron-up btn-success">正转</button>
                            <button type="button" class="btn btn-default glyphicon glyphicon-chevron-down">反转</button>
                        </div>
                    </div>
                </div>

                <div class="panel panel-success" style="float:left;margin-left:20px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">湿帘(在线)</h3>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default glyphicon glyphicon-off btn-success">停止</button>
                            <button type="button" class="btn btn-default glyphicon glyphicon-chevron-up">上卷</button>
                            <button type="button" class="btn btn-default glyphicon glyphicon-chevron-down">下卷</button>
                        </div>
                    </div>
                </div>

                <div class="panel panel-danger" style="float:left;margin-left:20px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">暖灯(离线)</h3>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default glyphicon glyphicon-off" disabled="disabled">停止</button>
                            <button type="button" class="btn btn-default glyphicon glyphicon-play" disabled="disabled">开启</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">指示灯部分</h3>
            </div>
            <div class="panel-body">

                <div class="panel panel-success" style="float:left;margin-left:20px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">指示灯一(在线)</h3>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success glyphicon glyphicon-eye-close">灭</button>
                            <button type="button" class="btn btn-default glyphicon glyphicon-eye-open">亮</button>
                        </div>
                    </div>
                </div>

                <div class="panel panel-success" style="float:left;margin-left:20px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">指示灯二(在线)</h3>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success glyphicon glyphicon-eye-close">灭</button>
                            <button type="button" class="btn btn-default glyphicon glyphicon-eye-open">亮</button>
                        </div>
                    </div>
                </div>

                <div class="panel panel-success" style="float:left;margin-left:20px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">指示灯三(在线)</h3>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success glyphicon glyphicon-eye-close">灭</button>
                            <button type="button" class="btn btn-default glyphicon glyphicon-eye-open">亮</button>
                        </div>
                    </div>
                </div>

                <div class="panel panel-success" style="float:left;margin-left:20px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">指示灯四(在线)</h3>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default glyphicon glyphicon-eye-close">灭</button>
                            <button type="button" class="btn btn-success glyphicon glyphicon-eye-open">亮</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="panel panel-info" style="margin:10px 10px 10px 10px">
            <div class="panel-heading">
                <h3 class="panel-title glyphicon glyphicon-user"><strong>阿福家的二号设备</strong></h3>
            </div>
    <div class="panel-body">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">控制器部分</h3>
            </div>
            <div class="panel-body">

                <div class="panel panel-success" style="float:left;margin-left:20px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">风机(在线)</h3>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default glyphicon glyphicon-off">停止</button>
                            <button type="button" class="btn btn-default glyphicon glyphicon-chevron-up btn-success">正转</button>
                            <button type="button" class="btn btn-default glyphicon glyphicon-chevron-down">反转</button>
                        </div>
                    </div>
                </div>

                <div class="panel panel-success" style="float:left;margin-left:20px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">湿帘(在线)</h3>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default glyphicon glyphicon-off">停止</button>
                            <button type="button" class="btn btn-default glyphicon glyphicon-chevron-up">上卷</button>
                            <button type="button" class="btn btn-default glyphicon glyphicon-chevron-down  btn-success">下卷</button>
                        </div>
                    </div>
                </div>

                <div class="panel panel-success" style="float:left;margin-left:20px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">开关一(在线)</h3>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default glyphicon glyphicon-off">停止</button>
                            <button type="button" class="btn btn-default glyphicon glyphicon-play  btn-success">开启</button>
                        </div>
                    </div>
                </div>

                <div class="panel panel-success" style="float:left;margin-left:20px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">开关二(在线)</h3>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default glyphicon glyphicon-off  btn-success">停止</button>
                            <button type="button" class="btn btn-default glyphicon glyphicon-play">开启</button>
                        </div>
                    </div>
                </div>

                <div class="panel panel-success" style="float:left;margin-left:20px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">开关三(在线)</h3>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default glyphicon glyphicon-off">停止</button>
                            <button type="button" class="btn btn-default glyphicon glyphicon-play  btn-success">开启</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">指示灯部分</h3>
            </div>
            <div class="panel-body">
                <div class="panel panel-success" style="float:left;margin-left:20px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">指示灯一(在线)</h3>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success glyphicon glyphicon-eye-close">灭</button>
                            <button type="button" class="btn btn-default glyphicon glyphicon-eye-open">亮</button>
                        </div>
                    </div>
                </div>

                <div class="panel panel-success" style="float:left;margin-left:20px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">指示灯二(在线)</h3>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success glyphicon glyphicon-eye-close">灭</button>
                            <button type="button" class="btn btn-default glyphicon glyphicon-eye-open">亮</button>
                        </div>
                    </div>
                </div>

                <div class="panel panel-success" style="float:left;margin-left:20px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">指示灯三(在线)</h3>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success glyphicon glyphicon-eye-close">灭</button>
                            <button type="button" class="btn btn-default glyphicon glyphicon-eye-open">亮</button>
                        </div>
                    </div>
                </div>

                <div class="panel panel-success" style="float:left;margin-left:20px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">指示灯四(在线)</h3>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default glyphicon glyphicon-eye-close">灭</button>
                            <button type="button" class="btn btn-success glyphicon glyphicon-eye-open">亮</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


