﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<div id="tb" class="easyui-panel panel" title="专家在线咨询系统" >    <div id="messageboard">        <ul id="discussion"></ul>    </div>    <div id="userContainer">
        <ul id="userList"></ul>
    </div>    <div id="messagecontainer" >
        <textarea id="message" class="rte-zone" rows="3"></textarea>
        <div>
            <input type="button" id="send" class="btn" value="发送" />
            <input type="button" id="close" class="btn" value="关闭" /><input type="hidden" id="displayname" />
        </div>
    </div>
</div>
@section scripts{
    <style>
    .panel{padding:5px;height:auto;min-height:650px;}
    .current{color:Green;}
    .rte-zone{width:815px;margin:0;padding:0;height:160px;border:1px #999 solid;clear:both}
    .rte-toolbar{width:800px;margin-top:10px;}
    .rte-toolbar div{float:left;width:100%;}
    .rte-toolbar a,.rte-toolbar a img{border:0}
    .rte-toolbar p{float:left;margin:0;padding-right:5px}
    #messageboard{border:1px solid #B6DF7D;float:left;width:800px;padding:10px;height:450px;overflow:auto;border-radius:10px; -moz-box-shadow:2px 2px 5px #333333; -webkit-box-shadow:2px 2px 5px #333333; box-shadow:2px 2px 5px #333333;}
    #userContainer{border:1px solid #B6DF7D;float:right;width:200px;height:565px;padding:5px;border-radius:10px; -moz-box-shadow:2px 2px 5px #333333; -webkit-box-shadow:2px 2px 5px #333333; box-shadow:2px 2px 5px #333333;}
    #messagecontainer{float:left;width:800px;}
    #messagecontainer div{float:right;}
    #message{border:1px solid #B6DF7D;width:815px; height:70px;margin-top:5px;border-radius:10px; -moz-box-shadow:2px 2px 5px #333333; -webkit-box-shadow:2px 2px 5px #333333; box-shadow:2px 2px 5px #333333;}
    #userList li{border-bottom:1px solid #B6DF7D;cursor:pointer;}
    #userList li:hover{background-color:#ccc;}
    .btn{width:75px;height:25px;}
    </style>
    <script src="../../Content/jqueryplugin/jquery.rte.js" type="text/javascript"></script>
    <!--Reference the SignalR library. -->
    <script src="../../Scripts/jquery.signalR-1.1.4.min.js" type="text/javascript"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="../../signalr/hubs"></script>

    <script>
        $(function () {

            $('.rte-zone').rte("css url", "http://batiste.dosimple.ch/blog/posts/2007-09-11-1/");
            //添加对自动生成的Hub的引用
            var chat = $.connection.chatHub;

            //调用Hub的callback回调方法

            //后端SendChat调用后，产生的addNewMessageToPage回调
            chat.client.addNewMessageToPage = function (id, name, message) {
                $('#discussion').append('<li style="color:blue;">' + htmlEncode(name) + '</li><li> ' + htmlEncode(message) + '</li>')
            };

            //后端SendLogin调用后，产生的loginUser回调
            chat.client.loginUser = function (userlist) {
                reloadUser(userlist);
            };

            //后端SendLogoff调用后，产生的logoffUser回调
            chat.client.logoffUser = function (userlist) {
                reloadUser(userlist);
            };

            $('#displayname').val(prompt('请输入昵称:', ''));

            //启动链接
            $.connection.hub.start().done(function () {

                var userid = guid();
                var username = $('#displayname').val();

                //发送上线信息
                chat.server.sendLogin(userid, username);

                //点击按钮，发送聊天内容
                $('#send').click(function () {
                    var chatContent = $('#message').contents().find('.frameBody').html();
                    chat.server.sendChat(userid, username, chatContent);
                });

                //点击按钮，发送用户下线信息
                $('#close').click(function () {
                    chat.server.sendLogoff(userid, username);
                    $("#send").css("display", "none");
                });

                //每隔5秒，发送心跳包信息
                setInterval(function () {
                    chat.server.triggerHeartbeat(userid, username);
                }, 5000);
            });

        });

        //重新加载用户列表
        var reloadUser = function (userlist) {
            $("#userList").children("li").remove();
            for (i = 0; i < userlist.length; i++) {
                $("#userList").append("<li><img src='../../Content/images/charge_100.png' />" + userlist[i].Name + "</li>");
            }
        }

        //div内容html化
        var htmlEncode = function (value) {
            var encodedValue = $('<div />').html(value).html();
            return encodedValue;
        }

        //guid序号生成
        var guid = (function () {
            function s4() {
                return Math.floor((1 + Math.random()) * 0x10000)
                           .toString(16)
                           .substring(1);
            }
            return function () {
                return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
                       s4() + '-' + s4() + s4() + s4();
            };
        })();
    </script>
}