﻿@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="@Url.Content("~/Content/admin/css/default.css")"                        rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/js/jqueryeasyui/themes/gray/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/js/jqueryeasyui/themes/icon.css")"        rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Content/admin/js/jquery-1.4.2.min.js")"                type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jquery.easyui.min-1.1.2.js")"         type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/outlook2.js")"                        type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jquery.cookie.js")"                   type="text/javascript"></script>
    
    <style type="text/css">
    #mainPanle{background: #eee; overflow-y: hidden;z-index: 100; height: 2000px; background-color: #57C4D6;}
    #home{padding: 20px; overflow: hidden;}
    
    #processtable{width:100%;height:100%;}
    #processtable thead th{text-align:center;border-bottom:4px solid #0092DC;height:40px;line-height:40px;font-size:18px;fong-weight:bold;color:#858383;}
    #process tr td{cursor:pointer;}
    .process{width:120px;text-align:center;}
    .arrow{width:26px; text-align:center;}
    .arrowex{text-align:right;}
    .descriptiondiv,.processdiv{width:1024px;margin:0 auto;margin-top:10px;}
     #west {overflow:hidden;}

    .num {width:100%;height:40px;line-height:40px;text-align:left;padding-left:40px;font-size:14px;}
    .num1 {background:url(/Content/admin/images/number/1.png) 5px 5px no-repeat;background-size:32px 32px}
    .num2 {background:url(/Content/admin/images/number/2.png) 5px 5px no-repeat;background-size:32px 32px}
    .num3 {background:url(/Content/admin/images/number/3.png) 5px 5px no-repeat;background-size:32px 32px}
    .num4 {background:url(/Content/admin/images/number/4.png) 5px 5px no-repeat;background-size:32px 32px}
    .num5 {background:url(/Content/admin/images/number/5.png) 5px 5px no-repeat;background-size:32px 32px}
    .num6 {background:url(/Content/admin/images/number/6.png) 5px 5px no-repeat;background-size:32px 32px}
    .num7 {background:url(/Content/admin/images/number/7.png) 5px 5px no-repeat;background-size:32px 32px}
    .num8 {background:url(/Content/admin/images/number/8.png) 5px 5px no-repeat;background-size:32px 32px}
    .num9 {background:url(/Content/admin/images/number/9.png) 5px 5px no-repeat;background-size:32px 32px}
    .num10 {background:url(/Content/admin/images/number/10.png) 5px 5px no-repeat;background-size:32px 32px}
    .intro {background:url(/Content/admin/images/number/home.png) 5px 5px no-repeat;background-size:32px 32px}

    #stepTable{width:800px;height:auto;margin-top:20px;border:1px solid #CCCCCC}
    #stepTable td{border-right:1px solid #cccccc;border-bottom:1px solid #cccccc;}
    #stepTable th{border-bottom:1px solid #CCCCCC;text-align:left;line-height:30px;height:30px;color:#0092DC}

    #stepTable a{color:#0092DC}
    </style>
    @{
        string jsonString = ViewBag.menujson as string;   
     }
    <script type="text/javascript">
        var _menus = @Html.Raw(@jsonString);
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            //选中td中class以process开头的元素
            $("#process tr td[class^=process]").each(function (data, index) {
                $(this).bind("mouseover", function () {
                    resetallprocess();
                    var tag = $(this).attr("tag");
                    var htmlreplaced = '<img src="../../Content/admin/images/process/' + tag + '.png" alt="" />';
                    $(this).html(htmlreplaced);
                    //显示相关文字
                    resetalldescription();
                    $("#process" + tag).css("display", "block");
                });
            });
        });

        function resetallprocess() {
            $("#process tr td[class^=process]").each(function (data, index) {
                var tag = $(this).attr("tag");
                var doubletag = tag + "" + tag;
                var imagereplaced = '<img src="../../Content/admin/images/process/' + doubletag + '.png" alt="" />';
                $(this).html(imagereplaced);
            });
        }

        function resetalldescription() {
            $(".descriptiondiv span").each(function (data, index) {
                $(this).css("display","none");
            });
        }
    </script>
</head>
<body class="easyui-layout" >
    <div region="west" hide="true" split="true" title="导航菜单" style="width: 300px;" id="west">
        <div class="easyui-accordion" fit="true" border="false"></div>
    </div>
    <div id="mainPanle" region="center">
        <div id="tabs" class="easyui-tabs" fit="true" border="false">
            <div title="我的信息面板" id="home">
                <div style="float:left;width:100%;">
		            
                    <div style="width:800px;height:auto;text-align:center;margin:0 auto;font-size:13px;" class="print_show">
                        <table id="stepTable" cellpadding="0" cellspacing="0">
                            <thead>
                                <th colspan="2">&nbsp;&nbsp;用户信息管理</th>
                            </thead>
                            <tbody><tr><td>
                                <div class="num num1">步骤一：点击“<a href="ModifyPwd">修改登录密码</a>”先把自己的初始密码进行重置，保证账户安全！</div>
                                <div class="num num2">步骤二：点击“<a href="CompleteUserInfo">完善个人资料</a> ”功能来完善自己的个人信息，以便于保证我们有事情能够及时的找到您！</div>
                            </td></tr></tbody>
                            <thead>
                                <th colspan="2">&nbsp;&nbsp;硬件设备管理</th>
                            </thead>
                            <tbody><tr><td>
                                        <div class="num num1">步骤一：点击“<a href="../BaseData/School">公司基地管理</a> ”功能来添加自己的公司信息，可以添加多个公司信息！</div>
                                        <div class="num num2">步骤二：点击“<a href="../Machine/MachineList">我的设备列表</a> ”功能来添加自己采购的设备信息，可以添加多个设备！</div>
                                        <div class="num num3">步骤三：点击“<a href="../Machine/CollectorConfig">我的采集配置</a> ”功能来配置自己机器的采集信息！</a></div>
                                        <div class="num num4">步骤四：点击“<a href="../Machine/ControllerConfig">我的控制配置</a> ”功能来配置自己机器的控制信息！</a></div>
                            </td></tr></tbody>
                            <thead>
                            <th colspan="2">&nbsp;&nbsp;视频监控管理</th>
                            </thead>
                            <tbody><tr><td>
                                        <div class="num num1">步骤一：点击“<a href="../BaseData/VideoSetting">视频监控配置</a>”功能来配置自己硬盘录像机的相关信息即可，配置完毕可以在前台查看！</a></div>
                            </td></tr></tbody>
                            <thead>
                            <th colspan="2">&nbsp;&nbsp;配置说明</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="num intro">您可以通过点击上面的链接来分步实现配置，也可以通过点击左侧的菜单项来实现配置！</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="mm" class="easyui-menu" style="width: 150px;">
        <div id="mm-tabupdate">刷新</div>
        <div class="menu-sep"></div>
        <div id="mm-tabclose">关闭</div>
        <div id="mm-tabcloseall">全部关闭</div>
        <div id="mm-tabcloseother">除此之外全部关闭</div>
        <div class="menu-sep"></div>
        <div id="mm-tabcloseright">当前页右侧全部关闭</div>
        <div id="mm-tabcloseleft">当前页左侧全部关闭</div>
        <div class="menu-sep"></div>
        <div id="mm-exit">退出</div>
    </div>
</body>
</html>

