﻿@model FuNong.DataContract.UserResponse
@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    string scriptwarning = string.Empty;
    string message = string.Empty;
    if(Model!=null)
    {
        message = Model.Message;
        if(!string.IsNullOrEmpty(message))
        {
            if (Model.Success)
            {
                scriptwarning = "<script type='text/javascript'>art.dialog({ title: '提示', icon: 'succeed', time: 4, content:'" + message + "', padding: 0 });</script>";
            }
            else
            {
                scriptwarning = "<script type='text/javascript'>art.dialog({ title: '提示', icon: 'error', time: 4, content:'" + message + "', padding: 0 });</script>";
            }
        }
    }
 }

@section scripts
{
    <link href="@Url.Content("~/Content/admin/js/jquery.validationEngine/validationEngine.jquery.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/js/artDialog/skins/blue.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Content/admin/js/jquery.validationEngine/jquery.validationEngine.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jquery.validationEngine/jquery.validationEngine-zh_CN.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Content/admin/js/artDialog/jquery.artDialog.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            
            $("#form0").validationEngine();


            //获取省市县级联数据
            $.bindCombobox("/Process/GetLocationList", "{provinceid:-1,cityid:-1}", "id", "name", $("#province")
                    , function (row) { return row.name; }
                    , function (record) {
                        var provinceid = record.id;
                        $.bindCombobox("/Process/GetLocationList", "{provinceid:" + provinceid + ",cityid:-1}", "id", "name", $("#city")
                                            , function (row) { return row.name; }
                                            , function (recordex) {
                                                var cityid = recordex.id;
                                                $.bindCombobox("/Process/GetLocationList", "{provinceid:-1,cityid:" + cityid + "}", "id", "name", $("#districtid")
                                                                    , function (row) { return row.name; }
                                                                    , function (recordex) { });
                                            });
                        }
                      );
                                    });

                    $.bindCombobox = function (url, dataparam, valueF, textF, stuff, formatterItem, selectItem) {
                        $.ajaxWebService(url, dataparam, function (data) {
                            if (data.success) {
                                var result = data.data;
                                stuff.combobox({
                                    valueField: valueF,
                                    textField: textF,
                                    data: result,
                                    formatter: formatterItem,
                                    onSelect: selectItem
                                });
                            }
                            else {
                                alert(data.message);
                            }
                        });
                    }

                    $.ajaxWebService = function (url, dataparam, datasuccess) {
                        $.ajax({
                            type: "POST",
                            dataType: "json",
                            contentType: "application/json",
                            url: url,
                            data: dataparam,
                            success: datasuccess,
                            error: function (a, b, c) { }
                        });
                    }

    </script>
}

<div  style="width:800px;height:auto;text-align:center;margin:0 auto;font-size:13px;" class="print_show">
    <div style="width:100%;height:40px;line-height:40px;border-bottom:5px solid #0092DC;font-size:15px;font-weight:bold;">完善个人资料</div>
    <form id="form0" method="post" action="CompleteUserInfo">
     @Html.Raw(scriptwarning)
    <table cellpadding="0" cellspacing="0" style="width:800px;height:auto;margin-top:20px;border:1px solid #CCCCCC">
    <thead>
    <th colspan="2" style="border-bottom:1px solid #CCCCCC;text-align:left;line-height:30px;height:30px;color:#0092DC">&nbsp;&nbsp;个人基础资料</th>
    </thead>
    <tbody>
    <tr>
    <td style="width:150px;height:30px;text-align:right;">登录名称：</td>
    <td style="text-align:left;">@Model.username</td>
    </tr>
    <tr>
    <td style="width:150px;height:30px;text-align:right;">所属角色：</td>
    <td style="text-align:left;">@Model.rolename</td>
    </tr>
    <tr>
    <td style="width:150px;height:40px;text-align:right;">身份证号码：</td>
    <td style="text-align:left;"><input type="text" id="idcard" name="idcard" value="@Model.idcard" style="width:250px;height:25px;" class="validate[required]" /></td>
    </tr>
    <tr>
     <td style="width:150px;height:40px;text-align:right;">真实姓名：</td>
     <td style="text-align:left;"><input type="text" id="nickname" name="nickname" value="@Model.nickname" style="width:250px;height:25px;" class="validate[required]" /></td>
    </tr>
     <tr>
     <td style="width:150px;height:40px;text-align:right;">电子邮箱：</td>
     <td style="text-align:left;"><input type="text" id="usermail" name="usermail" value="@Model.usermail" style="width:250px;height:25px;" class="validate[required,custom[email]]"  /></td>
    </tr>
     <tr>
     <td style="width:150px;height:40px;text-align:right;">手机号码：</td>
     <td style="text-align:left;"><input type="text" id="userphone" name="userphone" value="@Model.userphone" style="width:250px;height:25px;" class="validate[required,custom[phone]]"  /></td>
    </tr>
     <tr>
     <td style="width:150px;height:40px;text-align:right;">用户住址：</td>
     <td style="text-align:left;"><textarea id="useraddress" name="useraddress" style="width:450px;height:50px;" >@Model.useraddress</textarea></td>
    </tr>
     <tr>
     <td style="width:150px;height:40px;text-align:right;">用户备注：</td>
     <td style="text-align:left;"><textarea id="usernote" name="usernote" style="width:450px;height:50px;" >@Model.usernote</textarea></td>
    </tr>
      <tr>
     <td colspan="2" style="height:60px;">
     <input type="submit" style="width:150px;height:30px;" value="确认修改个人信息" />
     </td>
    </tr>
    </tbody>
    </table>
    </form>
</div>

