﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts
{
@*    <link   href="@Url.Content("~/Content/admin/js/jqueryeasyui/themes/gray/tree.css")"   type="text/css" rel="stylesheet" />
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/plugins/jquery.tree.js")"  type="text/javascript"></script>*@
    <script src="../../Content/admin/js/jqueryeasyui/TreeGrid.js" type="text/javascript"></script>
    <script type="text/javascript">
        var DataURL = "GetFileControl";
        var idField = "id";
        var treeField = "roleid";
        var ColumnData = [[
                        { field: 'id', hidden: true },
                        { field: 'roleid', title: '角色名称',
                            formatter: function (value, row, index) {
                                return row.rolename;
                            },
                            editor: { type: 'combobox',
                                options: {
                                    valueField: 'id',
                                    textField: 'rolename',
                                    url: 'GetAllRoles',
                                    required: true
                                }
                            }
                            , width: 150
                        },
                        { field: 'databasename', title: '数据库名称', editor: 'text', width: 100 },
                        { field: 'columnname', title: '字段名称', editor: 'text', width: 100 },
                         { field: 'isshow', title: '是否显示', formatter: function (value, row, index) {
                             if (row.parentid == 0 || row.parentid == null || row.parentid == "" || row.parentid == undefined) {
                                 return "";
                             }
                             else {
                                 if (Boolean(value) == true)  
                                     return '<span class="icon icon-ok" style="height:16px;display:block;">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                                 else if (Boolean(value) == false)
                                     return '<span class="icon icon-cancel" style="height:16px;display:block;">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                             }
                         }, editor: { type: 'combobox',
                             options: {
                                 valueField: 'settingvalue1',
                                 textField: 'settingname',
                                 url: '/BaseData/GetBaseSettingBy?groupname=judge',
                                 required: true
                             }
                         }, width: 50
                         },
                        { field: 'fielddesc', title: '字段说明', editor: 'text', width: 100 },
                        { field: 'parentid', title: '父类节点', editor: 'text',
                            formatter: function (value, row, index) {
                                if (row.parentid == 0 || row.parentid == null || row.parentid == "" || row.parentid == undefined) {
                                    return "";
                                }
                                else {
                                    
                                }
                            },
                            editor: { type: 'combobox',
                                options: {
                                    valueField: 'id',
                                    textField: 'databasename',
                                    url: 'GetTopField',
                                    required: true
                                }
                            }, width: 100
                        },
                        { field: 'recordorder', title: '排序', editor: 'numberbox', width: 50 },
                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
                      ]];

        var editingId;
        var editaction;

        var AddRecords = function () {
            editingId = -1;
            $('#dg').treegrid('append', {
                parent: editingId,
                data: [{
                    id: editingId
                }]
            });

            $('#dg').treegrid('select', editingId);
            $('#dg').treegrid('beginEdit', editingId);

            editaction = "add";
        }

        var UpdateRecords = function () {
            debugger;
            if (editingId != undefined) {
                $('#dg').treegrid('select', editingId);
                return;
            }
            var row = $('#dg').treegrid('getSelected');
            if (row) {
                editingId = row.id
                $('#dg').treegrid('beginEdit', editingId);
            }

            editaction = "update";
        }

        var DeleteRecords = function () {
            editaction = "remove";
            var row = $('#dg').treegrid('getSelected');
            if (row) {
                $.messager.confirm('请确认', '确定删除记录吗?', function (r) {
                    if (r) {
                        editingId = row.id
                        //$('#dg').treegrid('remove', editingId);
                    }
                });
            }
            else {
                alert("请选择一条待删除节点！");
            }
        }

        var ReloadRecords = function () {
            editingId = undefined;
            $("#dg").treegrid("reload");
        }

        var SaveRecords = function () {
            if (editingId != undefined) {
                var t = $('#dg');
                t.treegrid('endEdit', editingId);

                t.treegrid("select", editingId);

                var row = t.treegrid('getSelected');
                if (row) {
                    row.editaction = editaction;
                    $.post("CommitFieldControl", row, function (response) {
                        if (response.Success)
                            $.messager.show({ title: '操作成功', msg: response.Message });
                        else
                            $.messager.show({ title: '操作失败', msg: response.Message });

                        $('#dg').treegrid('reload');
                    }, "JSON");
                }
            }

            editingId = undefined;
        }

        $.ajaxWebService = function (url, dataparam, datasuccess) {
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: url,
                data: dataparam,
                success: datasuccess,
                error: function (a, b, c) { }
            });
        }
    </script>
}
@*
<div style="width:100%;height:auto;">
    <div style="width:500px;height:100%;float:left;">
    <div style="margin:20px 0;">
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="edit()">Edit</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="save()">Save</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="cancel()">Cancel</a>
	</div>
    <table id="tg" class="easyui-treegrid" style="width:700px;height:250px"
			data-options="
				iconCls: 'icon-ok',
				rownumbers: true,
				animate: true,
				collapsible: true,
				fitColumns: true,
				url: 'GetModels',
				method: 'post',
				idField: 'id',
				treeField: 'modelname',
				showFooter: true
			">
		<thead>
			<tr>
				<th data-options="field:'modelname',width:180,editor:'text'">Task Name</th>
				<th data-options="field:'modelpath',width:60,align:'right',editor:'numberbox'">Persons</th>
				<th data-options="field:'updatetime',width:80,editor:'datebox'">Begin Date</th>
				<th data-options="field:'progress',width:120,formatter:formatProgress,editor:'numberbox'">Progress</th>
			</tr>
		</thead>
	</table>
	<script type="text/javascript">
	    function formatProgress(value) {
	        if (value) {
	            var s = '<div style="width:100%;border:1px solid #ccc">' +
		    			'<div style="width:' + value + '%;background:#cc0000;color:#fff">' + value + '%' + '</div>'
	            '</div>';
	            return s;
	        } else {
	            return '';
	        }
	    }
	    var editingId;
	    function edit() {
	        if (editingId != undefined) {
	            $('#tg').treegrid('select', editingId);
	            return;
	        }
	        var row = $('#tg').treegrid('getSelected');
	        if (row) {
	            editingId = row.id
	            $('#tg').treegrid('beginEdit', editingId);
	        }
	    }
	    function save() {
	        if (editingId != undefined) {
	            var t = $('#tg');
	            t.treegrid('endEdit', editingId);
	            editingId = undefined;
	            var persons = 0;
	            var rows = t.treegrid('getChildren');
	            for (var i = 0; i < rows.length; i++) {
	                var p = parseInt(rows[i].persons);
	                if (!isNaN(p)) {
	                    persons += p;
	                }
	            }
	            var frow = t.treegrid('getFooterRows')[0];
	            frow.persons = persons;
	            t.treegrid('reloadFooter');
	        }
	    }
	    function cancel() {
	        if (editingId != undefined) {
	            $('#tg').treegrid('cancelEdit', editingId);
	            editingId = undefined;
	        }
	    }
	</script>
 

    </div>
</div>*@
<table id="dg" title="模块参数配置"></table>
<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput"  class="easyui-searchbox" style="width:200px;" />
