﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    var cookie = new FuNong.Framework.Cookie.CookieWrapper();
    var nv = cookie.GetCookieCollection("FuNong.UserInfo.Login");
    string userid   = string.Empty;
    string username = string.Empty;
    string roleid   = string.Empty;
    if(nv!=null)
    {
       userid   = nv["FuNong.Login.UserID"];
       username = nv["FuNong.Login.UserName"];
       roleid   = nv["FuNong.Login.RoleID"];
    }
}
@section scripts
{
    <script src="@Url.Content("Scripts/jquery.signalR-1.1.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>

    <script type="text/javascript">

        var currentLoginUserName = '@roleid';

        $(function () {
            //添加对自动生成的Hub的引用
            var mailBoxProcessor = $.connection.InnerMailBoxPullHub;
            //调用Hub的callback回调方法
            //后端SendChat调用后，产生的addNewMessageToPage回调
            mailBoxProcessor.client.addNewMessageToPage = function (from, message) {
                //接收信息，并显示
                if (name.lastIndexOf(currentLoginUserName) > -1)
                    $('#discussion').append('<li style="color:white;font-weight:bold;margin-left:-30px;width:530px;word-wrap : break-word;word-break: break-all;"><span style="color:wheat;font-weight:bold;">' + htmlEncode(name) + '</span>: ' + htmlEncode(message) + '</li>')
                else
                    $('#discussion').append('<li style="color:white;font-weight:bold;margin-left:-30px;width:530px;word-wrap : break-word;word-break: break-all;"><span style="color:white;">' + htmlEncode(name) + '</span>: ' + htmlEncode(message) + '</li>')

                //提示用户有新信息到达
                window.parent.newMessageArrive(true);
            };

            //后端SendLogin调用后，产生的loginUser回调
            mailBoxProcessor.client.loginUser = function (userlist) {
                reloadUser(userlist);
            };

            //后端SendLogoff调用后，产生的logoffUser回调
            mailBoxProcessor.client.logoffUser = function (userlist) {
                reloadUser(userlist);
            };

            $('#displayname').val(currentLoginUserName);

            //启动链接
            $.connection.hub.start().done(function () {

                var userid = guid();
                var username = $('#displayname').val();

                //发送上线信息
                mailBoxProcessor.server.sendLogin(userid, username);

                //点击按钮，发送聊天内容
                $('#send').click(function () {
                    var chatContent = $('#message').val();
                    if (chatContent != "") {
                        $('#message').val("");
                        mailBoxProcessor.server.sendChat(userid, username, chatContent);
                    }
                });
            });

        });

        //重新加载用户列表
        var reloadUser = function (userlist) {
            $("#userList").children("li").remove();
            for (i = 0; i < userlist.length; i++) {
                var uname = userlist[i].Name;
                if (uname == currentLoginUserName)
                    $("#userList").append("<li><img style='width:20px;height:20px;' src='../../Content/images/user.png' /><span style='position:relative;top:-5px;color:wheat;font-weight:bold;'>" + uname + "</span></li>");
                else
                    $("#userList").append("<li><img style='width:20px;height:20px;' src='../../Content/images/user.png' /><span style='position:relative;top:-5px;color:white;'>" + uname + "</span></li>");

            }
        }
        //div内容html化
        var htmlEncode = function (value) {
            var encodedValue = $('<div />').html(value).html();
            return encodedValue;
        }

        //guid序号生成
        var guid = (function () {
            function s4() {
                return Math.floor((1 + Math.random()) * 0x10000)
                           .toString(16)
                           .substring(1);
            }
            return function () {
                return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
                       s4() + '-' + s4() + s4() + s4();
            };
        })();
    </script>

}

