﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@section scripts{
<script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemon.js")" type="text/javascript"></script>
<script type="text/javascript">
    var DataURL = "GetRoleDetailByPage";
    var ColumnData = [[
                        { field: 'id', title: '角色编号', hidden: false },
                        { field: 'rolename', title: '角色名称', editor: 'text', width: 100 },
                        { field: 'ismultischool', title: '允许多校', formatter: function (value, row, index) {
                            if (Boolean(value) == true)
                                return '<span class="icon icon-ok" style="height:16px;display:block;">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                            else if (Boolean(value) == false)
                                return '<span class="icon icon-cancel" style="height:16px;display:block;">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                        }, editor: { type: 'combobox',
                            options: {
                                valueField: 'settingvalue1',
                                textField: 'settingname',
                                url: '/BaseData/GetBaseSettingBy?groupname=judge',
                                required: true
                            }
                        }, width: 30
                        },
                        { field: 'refroleid', title: '关联其他角色', editor: 'text', width: 100 },
                        { field: 'refowner', title: '是否关联自己', formatter: function (value, row, index) {
                             if (Boolean(value) == true)
                                 return '<span class="icon icon-ok" style="height:16px;display:block;">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                             else if (Boolean(value) == false)
                                 return '<span class="icon icon-cancel" style="height:16px;display:block;">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                         }, editor: { type: 'combobox',
                             options: {
                                 valueField: 'settingvalue1',
                                 textField: 'settingname',
                                 url: '/BaseData/GetBaseSettingBy?groupname=judge',
                                 required: true
                             }
                         }, width: 35
                         },
                        { field: 'rolenote', title: '角色备注', editor: 'text', width: 200 },
                        { field: 'recordorder', title: '排序', editor: 'numberbox', width: 50 },
                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
                      ]];

    var SaveRecords = function () {
        //只有先endedit之后，值才会传到后台。
        endEdit();
        var inserted = $('#dg').datagrid('getChanges', "inserted");
        var deleted = $('#dg').datagrid('getChanges', "deleted");
        var updated = $('#dg').datagrid('getChanges', "updated");
        var effectRow = new Object();
        if (inserted.length) {
            effectRow["inserted"] = JSON.stringify(inserted);
        }
        if (deleted.length) {
            effectRow["deleted"] = JSON.stringify(deleted);
        }
        if (updated.length) {
            effectRow["updated"] = JSON.stringify(updated);
        }
        $.post("CommitRoleDetails", effectRow, function (response) {
            if (response.success) 
                $.messager.show({ title: '操作成功', msg: response.success });
            else 
                $.messager.show({ title: '操作失败', msg: response.error });

            $('#dg').datagrid('reload'); 
        }, "JSON");
    }
</script>
}
<table id="dg" title="角色参数配置"></table>
<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput"  class="easyui-searchbox" style="width:200px;" />