﻿@model List<FuNong.DataContract.RoleResponse>
@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
<title>用户维护（用户新增，修改，删除）</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link href="../../Content/admin/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/admin/css/list.css" rel="stylesheet" type="text/css" />
</head>
@{
    var count = Model.Count;   
 }
<body>
<div class="container">
        <div id="fdw-pricing-table">
            @for (var i = 0; i < count; i++)
            {
                var cssname = "plan"+i;
                var roleName = Model[i].rolename;
                var roleNote = Model[i].rolenote;
                var roleId = Model[i].id;
                <div name="sel" class="plan @cssname">
                    <div class="header">@roleName</div>
                    <div class="monthly">@roleNote</div>      
                    <a class="signup" href="UserDetail?roleid=@roleId&rolename=@roleName">进入管理</a>   
                </div>
            }
        </div>
</div>
</body>
</html>
