﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts{
<script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemon.js")" type="text/javascript"></script>
<script type="text/javascript">
    var DataURL = "GetUserDetailByPage";
    var ColumnData = [[
                        { field: 'ck', checkbox: true },
                        { field: 'id', hidden: true },
                        { field: 'username', title: '登陆名称', editor: 'text', width: 100 },
                        { field: 'idcard', title: '身份证号', editor: 'text', width: 100 },
                        { field: 'realname', title: '真实姓名', editor: 'text', width: 100 },
                        { field: 'userphone', title: '联系手机', editor: 'text', width: 70 },
                        { field: 'usermail', title: '电子邮箱', editor: 'text', width: 70 },
                        { field: 'departmentid', title: '所属部门',
                            formatter: function (value, row, index) {
                                return row.departmentname;
                            },
                            editor: { type: 'combobox',
                                options: {
                                    valueField: 'id',
                                    textField: 'departmentname',
                                    url: 'GetAllDepartments',
                                    required: false
                                }
                            }, width: 120
                        },
                          { field: 'roleid', title: '拥有权限',
                              formatter: function (value, row, index) {
                                  return row.rolename;
                              },
                              editor: { type: 'combobox',
                                  options: {
                                      valueField: 'id',
                                      textField: 'rolename',
                                      url: 'GetAllRoles',
                                      required: true
                                  }
                              }, width: 120
                          },
                        { field: 'ischeck', title: '是否审核',
                            formatter: function (value, row, index) {
                                if (Boolean(value) == true)
                                    return '<p class="icon icon-ok">&nbsp;&nbsp;&nbsp;&nbsp;</p>';
                                else if (Boolean(value) == false)
                                    return '<p class="icon icon-no">&nbsp;&nbsp;&nbsp;&nbsp;</p>';
                            },
                            editor: {
                                type: 'checkbox',
                                options: { on: 1, off: 0 }
                            }, width: 50
                        },
                        { field: 'usernote', title: '备注', editor: 'text', width: 100 },
                        { field: 'recordorder', title: '排序', editor: 'numberbox', width: 50 },
                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
                      ]];

    var SaveRecords = function () {
        //只有先endedit之后，值才会传到后台。
        endEdit();
        var inserted = $('#dg').datagrid('getChanges', "inserted");
        var deleted = $('#dg').datagrid('getChanges', "deleted");
        var updated = $('#dg').datagrid('getChanges', "updated");
        var effectRow = new Object();
        if (inserted.length) {
            effectRow["inserted"] = JSON.stringify(inserted);
        }
        if (deleted.length) {
            effectRow["deleted"] = JSON.stringify(deleted);
        }
        if (updated.length) {
            effectRow["updated"] = JSON.stringify(updated);
        }
        $.post("CommitUserDetail", effectRow, function (response) {
            if (response.success)
                $.messager.show({ title: '操作成功', msg: response.success });
            else
                $.messager.show({ title: '操作失败', msg: response.error });

            $('#dg').datagrid('reload');
        }, "JSON");
    }
</script>
}
<table id="dg" title="设备参数配置"></table>
<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput"  class="easyui-searchbox" style="width:200px;" />
