﻿@model FuNong.DataContract.UserResponse
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    var cookie = new FuNong.Framework.Cookie.CookieWrapper();
    var nv = cookie.GetCookieCollection("FuNong.UserInfo.Login");
    //string ismultischool = string.Empty;
    //string schoolname = string.Empty;
    //if (nv != null)
    //{
    //    schoolname = HttpUtility.UrlDecode(nv["FuNong.Login.SchoolName"]).Trim();
    //    ismultischool   = nv["FuNong.Login.IsMultiSchool"];
    //}
}
@section scripts
{
    <link href="@Url.Content("~/Content/admin/js/baidueditor/themes/iframe.css")"                       rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/js/baidueditor/themes/default/css/ueditor.css")"          rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/js/artDialog/skins/blue.css")"                            rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/js/jquery.validationEngine/validationEngine.jquery.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/admin/js/ajaxupload/ajaxupload.js")"                           type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/baidueditor/ueditor.config.js")"                      type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/baidueditor/ueditor.all.js")"                         type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jquery.validationEngine/jquery.validationEngine.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/artDialog/jquery.artDialog.js")"                      type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/JsParser.js")"                                        type="text/javascript"></script>

    <style type="text/css">
    .btnapprove{margin-left:50px;margin-top:10px;cursor:pointer;width:188px;height:33px;line-height:33px;color:white;font-weight:bold;background:url(@Url.Content("~/Content/admin/images/btnapprove.png")) no-repeat;border:none;}
    .detailreminder{width:100%;height:30px;float:left;margin-top:10px;background:#FFFEE6 url(../../Content/front/images/tip.png) no-repeat;color:#8F5700;text-align:left;}
    </style>

    <script type="text/javascript">
        $(function () {
            var roleid = getParameterByName("id");
            var uid = getParameterByName("uid");
            var rolename = getParameterByName("rolename");

            if (uid == null || uid == undefined || uid == "" || uid <= 0)
                $("#method").val("add");
            else
                $("#method").val("update");

            //根据当前登录用户权限的ismultischool标记来设置学校下拉列表
            setSchoolByFlag();

            //字段权限验证
            checkFieldPermission(roleid, "edu_user_detail");

            //前端验证
            validate();

            //获取省市县级联数据
            $.bindCombobox("/Process/GetLocationList", "{provinceid:-1,cityid:-1}", "id", "name", $("#province")
                    , function (row) { return row.name; }
                    , function (record) {
                        var provinceid = record.id;
                        $.bindCombobox("/Process/GetLocationList", "{provinceid:" + provinceid + ",cityid:-1}", "id", "name", $("#city")
                                            , function (row) { return row.name; }
                                            , function (recordex) {
                                                var cityid = recordex.id;
                                                $.bindCombobox("/Process/GetLocationList", "{provinceid:-1,cityid:" + cityid + "}", "id", "name", $("#district")
                                                                    , function (row) { return row.name; }
                                                                    , function (recordex) {
                                                                        var districtid = recordex.id;  //获取districtid，然后再获取学校列表
                                                                        //$.bindCombobox("/BaseData/GetSchoolByDistrict", "{districtid:" + districtid + "}", "id", "name", $("#schoolid")
                                                                        //, function (row) { return row.name; }
                                                                        //, function (recordex) { });
                                                                    });
                                            });
                    }
                    );

            //获取性别
            $.bindComboboxPlain("/BaseData/GetBaseSettingBy", "{groupname:'gender'}", "settingvalue1", "settingname", $("#genderid")
                    , function (row) { return row.settingname; }
                    , function (record) { }
                    );
            //获取角色信息
            $.bindComboboxPlain("/Admin/GetRolesBy", "{id:" + roleid + "}", "id", "rolename", $("#roleid")
                    , function (row) { return row.rolename; }
                    , function (record) { }
                    );
            //获取部门信息
            $.bindComboboxPlain("/Admin/GetAllDepartments", "{}", "id", "departmentname", $("#departmentid")
                    , function (row) { return row.departmentname; }
                    , function (record) { }
                    );

            load(roleid, uid);

            AddSearchBar();
        });



        function setSchoolByFlag() {
            @*var ismultipleSchoolFlag = "@ismultischool";
            //不允许多校
            if(ismultipleSchoolFlag!="1")
            {
                  $("tr[tag=schooltr]").css("display","none");
            }*@                              
        }

        function load(roleid,uid) {
            //加载数据
            if (uid != null && uid != undefined && uid != "") {
                $("#addnew").css("display", "none");
                $(".detailreminder").css("display","block");

                $.ajaxWebService("/Admin/GetUserDetailsBy", "{uid:" + uid + "}", function (data) {
                    if (data.Success) {

                        $("#uid").val(data.uid);

                        //可操作部分
                        $("#userphone").val(data.userphone);
                        $("#usermail").val(data.usermail);
                        $("#nickname").val(data.nickname);

                        if (data.classname != null && data.classname != undefined && data.classname != "") {
                            $("#gradeclass").html("<div style='background-color:green;height:20px;line-height:20px;text-align:center;color:white;'>当前已分配：" + data.gradename + " " + data.classname + "</div>");
                        }
                        else {
                            $("#gradeclass").html("<div style='background-color:red;height:20px;line-height:20px;text-align:center;color:white;'>当前未分配，请点击分配！</div>");
                        }
                      

                        $("#smsnumber").val(data.smsnumber);
                        $("#personcode").val(data.personcode);
                        $("#personcode").val(data.personcode);
                        $("#idcard").val(data.idcard);
                        $("#checkincard").val(data.checkincard);

                        $("#host").val(data.host);
                        $("#qq").val(data.qq);
                        $("#useraddress").val(data.useraddress);
                        $("#usernote").val(data.usernote);
                        $('#refuid').combogrid('setValue', data.refuid);

                        setTimeout(function () {
                            //不可操作部分
                            //$("#province").combobox("setValue", "已选").combobox("disable");
                            //$("#city").combobox("setValue", "已选").combobox("disable");
                            //$("#district").combobox("setValue", "已选").combobox("disable");
                            //$("#schoolid").combobox("setValue", data.schoolname).combobox("disable");
                            $("#genderid").combobox("setValue", data.genderid);
                            $("#roleid").combobox("setValue", data.rolename).combobox("disable");
                            $("#username").removeClass().val(data.username).css("background-color", "#EBEBE4").attr("readonly", "readonly");
                            $("#userpass").removeClass().val("******").css("background-color", "#EBEBE4").attr("readonly", "readonly");
                            $("#confirmpwd").removeClass().val("******").css("background-color", "#EBEBE4").attr("readonly", "readonly");

                            $("#departmentid").combobox("setValue", data.departmentid);

                            $("#addnew").css("display", "block").css("margin", "0 auto").css("margin-top", "10px");

                            debugger
                            var optionCID = $("<option>").val(data.classid).text(data.classname);
                            $("#classid").append(optionCID);
                        }, 1500);
                    }
                });
            }
        }

        function validate() {
            //验证
            $("#form0").validationEngine();
            $.changeposition();
        }

        //数据库字段权限加载
        function checkFieldPermission(roleid, databasename) {
            var json = "{roleid:" + roleid + ",databasename:'" + databasename + "'}";
            $.ajaxWebService("/Admin/GetFieldPermissionBy", json, function (data) {
                if (data.success) {
                    var list = data.data;
                    var len = list.length;
                    for (var i = 0; i < len; i++) {
                        var fieldshow = list[i].isshow;
                        var fieldname = list[i].columnname;
                        var fielddesc = list[i].fielddesc;

                        var elementdesc = $("#" + fieldname + "Text");
                        var elementowner = $("#" + fieldname + "Name");

                        if (fieldshow == 1) {  //显示
                            elementdesc.html(fielddesc + "：");
                        }
                        else {
                            elementdesc.css("display", "none");
                            elementowner.css("display", "none");
                        }
                    }
                }

                //加载年级班级级联
                $.ajaxWebService("/BaseData/GetCourseTableAjax", "{}", function (data) {
                    if (data.success) {
                        var optionNotify1 = $("<option>").val("").text("请选择");
                        $("#gradeid").append(optionNotify1);

                        //年级 班级
                        for (var i = 0; i < data.gradedata.length; i++) {
                            var obj = data.gradedata[i];
                            var optionGrade = $("<option>").val(obj.id).text(obj.name);
                            $("#gradeid").append(optionGrade);
                            $("#gradeid").change(function () {
                                $("#classid").empty();
                                var selected = $("#gradeid").find("option:selected").val();
                                for (var j = 0; j < data.classdata.length; j++) {
                                    var classData = data.classdata[j];
                                    if (parseInt(selected) == classData.gradeid) {
                                        var optionClass = $("<option>").val(classData.id).text(classData.classname);
                                        $("#classid").append(optionClass);
                                    }
                                }
                            });
                        }
                    }
                    else {
                        alert(data.message);
                    }
                });

            });
        }

         $.bindCombobox = function (url, dataparam, valueF, textF, stuff, formatterItem, selectItem) {
             $.ajaxWebService(url, dataparam, function (data) {
                 if (data.success) {
                     var result = data.data;
                     stuff.combobox({
                         valueField: valueF,
                         textField: textF,
                         data: result,
                         formatter: formatterItem,
                         onSelect: selectItem
                     });
                 }
                 else {
                     alert(data.message);
                 }
             });
         }

         $.bindComboboxPlain = function (url, dataparam, valueF, textF, stuff, formatterItem, selectItem) {
             $.ajaxWebService(url, dataparam, function (data) {
                 stuff.combobox({
                     valueField: valueF,
                     textField: textF,
                     data: data,
                     formatter: formatterItem,
                     onSelect: selectItem
                 });
             });
         }

         $.changeposition = function () {
             $('input').attr('data-prompt-position', "topLeft");
             $('input').data('promptPosition', "topLeft");
             $('textarea').attr('data-prompt-position', "topLeft");
             $('textarea').data('promptPosition', "topLeft");
         }

         $.ajaxWebService = function (url, dataparam, datasuccess) {
             $.ajax({
                 type: "POST",
                 dataType: "json",
                 contentType: "application/json",
                 url: url,
                 data: dataparam,
                 success: datasuccess,
                 error: function (a, b, c) { }
             });
         }

         var AddSearchBar = function () {
             var fields = $("#refuid").combogrid("grid").datagrid('getColumnFields');
             for (var i = 0; i < fields.length; i++) {
                 var opts = $("#refuid").combogrid("grid").datagrid('getColumnOption', fields[i]);
                 if (opts.title != undefined) {
                     var muit = "<div name='" + fields[i] + "'>" + opts.title + "</div>";
                     $('#TypeSelect').html($('#TypeSelect').html() + muit);
                 }
             }
             $('.searchbox').appendTo('.datagrid-toolbar').css("margin-top", "3px");
             $('#ValueInput').appendTo('.datagrid-toolbar');
             $(".datagrid-toolbar table").css("float", "left");   //让SearchBox在同一行显示的关键语句
             $('#ValueInput').searchbox({
                 menu: '#TypeSelect',
                 prompt: '请输入待查询的值',
                 searcher: function (value, name) {
                     if (value == "") {
                         alert("无输入值，请重试！");
                     }
                     else {
                         $("#refuid").combogrid("grid").datagrid('load', {
                             Field: name,
                             Value: value
                         });
                     }
                 }
             });
         }
     </script>
}
@{
    string scriptwarning = string.Empty;
    string message = string.Empty;
    if(Model!=null)
    {
        message = Model.Message;
        if(!string.IsNullOrEmpty(message))
        {
            if (Model.Success)
            {
                scriptwarning = "<script type='text/javascript'>art.dialog({ title: '提示', icon: 'succeed', time: 4, content:'" + message + "', padding: 0 });</script>";
            }
            else
            {
                scriptwarning = "<script type='text/javascript'>art.dialog({ title: '提示', icon: 'error', time: 4, content:'" + message + "', padding: 0 });</script>";
            }
        }
    }
 }
<div  style="width:650px;height:auto;text-align:center;margin:0 auto;font-size:13px;">
 <span class="detailreminder" style="padding-left:15px;display:none;">温馨提示：编辑模式下<strong>不能修改用户名，用户密码，角色信息</strong>！</span>
    <form id="form0" method="post" action="UserMaintain">
    @Html.Raw(scriptwarning)
    <table cellpadding="0" cellspacing="0" style="width:650px;height:auto;margin-top:20px;border:1px solid #CCCCCC">
     <!--必须填写信息开始-->
     <thead>
    <th colspan="4" style="border-top:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;text-align:left;line-height:30px;height:30px;color:#0092DC">&nbsp;&nbsp;必须填写信息</th>
    </thead>
    <tbody>
     @*<tr tag="schooltr">
     <td style="width:150px;height:30px;text-align:right;">请选择地区<span style="color:red;">*</span>：</td>
     <td style="text-align:left;" colspan="3">
     <input id="province" style="width:130px" class="easyui-combobox" type="text" name="provinceid" data-options="required:true"/>
     <input id="city" style="width:130px" class="easyui-combobox" type="text" name="cityid" data-options="required:true"/>
     <input id="district" style="width:130px" class="easyui-combobox" type="text" name="districtid" data-options="required:true"/>
     </td>
    </tr>*@
    @*<tr tag="schooltr">
    <td style="width:150px;height:30px;text-align:right;">请选择学校<span style="color:red;">*</span>：</td>
    <td style="text-align:left;" colspan="3">
      <input class="easyui-combobox" type="text" name="schoolid"  id="schoolid"  style="width:473px;"/>
    </td>
    </tr>*@
     <tr>
    <td style="width:150px;height:30px;text-align:right;">登录用户名<span style="color:red;">*</span>：</td>
    <td style="text-align:left;" colspan="3">
       <input type="text" style="border:1px solid #D3D3D3;height:20px;width:470px;" name="username" id="username" class="validate[required,minSize[1],maxSize[20],ajax[ajaxCheckUserExist]]" />
    </td>
    </tr>
    <tr>
    <td style="width:150px;height:30px;text-align:right;">登录密码<span style="color:red;">*</span>：</td>
    <td style="text-align:left;">
       <input type="password" style="border:1px solid #D3D3D3;height:20px;" name="userpass" id="userpass" class="validate[required,minSize[1],maxSize[32]]" />
    </td>
     <td style="width:150px;height:30px;text-align:right;">确认密码<span style="color:red;">*</span>：</td>
    <td style="text-align:left;" >
       <input type="password" style="border:1px solid #D3D3D3;height:20px;" name="confirmpwd" id="confirmpwd"  class="validate[required,equals[userpass]]" />
    </td>
    </tr>
    <tr>
    <td style="width:150px;height:30px;text-align:right;">手机号码<span style="color:red;">*</span>：</td>
    <td style="text-align:left;">
       <input type="text" style="border:1px solid #D3D3D3;height:20px;" id="userphone" name="userphone" class="validate[required,custom[phone],minSize[1],maxSize[15]]" />
    </td>
    <td style="width:150px;height:30px;text-align:right;">电子邮箱<span style="color:red;">*</span>：</td>
    <td style="text-align:left;">
       <input type="text" style="border:1px solid #D3D3D3;height:20px;" id="usermail" name="usermail" class="validate[required,custom[email]]" />
    </td>
    </tr>
    <tr>
    <td style="width:150px;height:30px;text-align:right;">真实姓名<span style="color:red;">*</span>：</td>
    <td style="text-align:left;" >
       <input type="text" style="border:1px solid #D3D3D3;height:20px;" id="nickname" name="nickname" class="validate[required,minSize[1],maxSize[20]]" />
    </td>
    <td style="width:150px;height:30px;text-align:right;">请选择角色<span style="color:red;">*</span>：</td>
    <td style="text-align:left;">
      <input id="roleid" class="easyui-combobox" type="text" name="roleid" data-options="required:true"/>
    </td>
    </tr>
    <tr>
    </tr>
    </tbody>
     <!--必须填写信息开始-->

    <!--人员设置信息开始-->
    @*<thead>
    <th colspan="4" style="border-bottom:1px solid #CCCCCC;border-top:1px solid #CCCCCC;text-align:left;line-height:30px;height:30px;color:#0092DC">&nbsp;&nbsp;人员设置信息</th>
    </thead>*@
    <tbody>
    <tr>
     <td style="width:150px;height:30px;text-align:right;" id="classidText">分配班级：</td>
     <td style="text-align:left;"  id="classidName">
        <select id="gradeid" style="width:80px;border:none;border-bottom:1px solid #CCCCCC;" ></select>
        <select id="classid" name="classid" style="width:80px;border:none;border-bottom:1px solid #CCCCCC;"></select>
        <label id="gradeclass"></label>
     </td>
     <td style="width:150px;height:30px;text-align:right;"id="refuidText">家长设置：</td>
     <td style="text-align:left;"  id="refuidName">
        @*<input id="refuid" class="easyui-combogrid" name="refuid"/>*@
         <select class="easyui-combogrid"  id="refuid" name="refuid" style="width:180px" 
         data-options="
                panelWidth: 500,
                idField: 'uid',
                textField: 'nickname',
                url: 'GetUserDetailByPage?roleid=4',
                method: 'post',
                columns: [[
                    { field: 'uid', hidden: true },
                    {field:'username',title:'登陆名称',width:100},
                    {field:'nickname',title:'真实姓名',width:100},
                    {field:'userphone',title:'手机号码',width:100}
                ]],
                pagination: true,    
                pageSize: 20,
                pageList: [20],
                fit:true,
                fitColumns: true,
                toolbar: []">
        </select>
     </td>
    </tr>
    </tbody>
    <!--人员设置信息结束-->

    <thead>
    <th colspan="4" style="border-bottom:1px solid #CCCCCC;border-top:1px solid #CCCCCC;text-align:left;line-height:30px;height:30px;color:#0092DC">&nbsp;&nbsp;人员基本信息</th>
    </thead>
    <tbody>
    <tr>
     <td style="width:110px;height:30px;text-align:right;" id="departmentidText">所属部门：</td>
     <td style="text-align:left;"  id="departmentidName">
        <input id="departmentid" class="easyui-combobox" type="text" name="departmentid"></input>
     </td>
    <td style="width:110px;height:30px;text-align:right;" id="personcodeText">教职工/学生证：</td>
     <td style="text-align:left;" id="personcodeName">
        <input type="text" style="border:1px solid #D3D3D3;height:20px;" id="personcode" name="personcode"  />
     </td>
    </tr>
    <tr>
     <td style="width:150px;height:30px;text-align:right;" id="smsnumberText">备用手机号码：</td>
     <td style="text-align:left;" id="smsnumberName">
         <input type="text" style="border:1px solid #D3D3D3;height:20px;" id="smsnumber" name="smsnumber"  class="validate[custom[phone]]" />
     </td>
       <td style="width:150px;height:30px;text-align:right;">选择性别：</td>
     <td style="text-align:left;">
        <input id="genderid" class="easyui-combobox" type="text" name="genderid"/>
     </td>
    
    </tr>
     <tr>
     <td style="width:150px;height:30px;text-align:right;" id="idcardText">身份证号：</td>
     <td style="text-align:left;" id="idcardName">
        <input type="text" style="border:1px solid #D3D3D3;height:20px;" id="idcard" name="idcard"  class="validate[custom[chinaIdLoose]]" />
     </td>
       <td style="width:110px;height:30px;text-align:right;" id="checkincardText">考勤卡号：</td>
     <td style="text-align:left;" id="checkincardName">
        <input type="text" style="border:1px solid #D3D3D3;height:20px;" id="checkincard" name="checkincard" />
     </td>
    </tr>
    </tbody>
     <thead>
    <th colspan="4" style="border-top:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;text-align:left;line-height:30px;height:30px;color:#0092DC">&nbsp;&nbsp;人员附加信息</th>
    </thead>
    <tbody>
    
    <tr>
    <td style="width:150px;height:30px;text-align:right;">个人主页：</td>
    <td style="text-align:left;">
      <input type="text" style="border:1px solid #D3D3D3;height:20px;" id="host" name="host" class="validate[custom[url]]"/>
    </td>
    <td style="width:110px;height:30px;text-align:right;">联系QQ：</td>
    <td style="text-align:left;">
     <input type="text" style="border:1px solid #D3D3D3;height:20px;" id="qq" name="qq"  class="validate[custom[qq]]" />
    </td>
    </tr>
     <tr>
     <td style="width:150px;height:30px;text-align:right;">家庭住址：</td>
     <td style="text-align:left;" colspan="3">
        <textarea cols="4" rows="4" style="width:465px;height:50px;margin-top:5px;border:1px solid #D3D3D3" id="useraddress" name="useraddress"></textarea>
     </td>
    </tr>
     <tr>
     <td style="width:150px;height:30px;text-align:right;">用户备注：</td>
     <td style="text-align:left;" colspan="3">
        <textarea cols="4" rows="4" style="width:465px;height:50px;margin-top:5px;border:1px solid #D3D3D3" id="usernote" name="usernote"></textarea>
     </td>
    </tr>
    </tbody>
    </table>
    <button class="btnapprove" id="addnew" >提交信息</button>
    <input type="hidden" name="uid" id="uid" />
    <input type="hidden" name="method" id="method" />
    </form>
</div>

<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput"  class="easyui-searchbox" style="width:200px;" />