﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts{
<link href="@Url.Content("~/Content/admin/js/artDialog/skins/blue.css")"        rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridSingleSelect.js")"       type="text/javascript"></script>
<script src="@Url.Content("~/Content/admin/js/artDialog/jquery.artDialog.js")"  type="text/javascript"></script>
<script src="@Url.Content("~/Content/admin/js/JsParser.js")"                    type="text/javascript"></script>
<script type="text/javascript">
    var roleid = getParameterByName("roleid");
    var rolename = getParameterByName("rolename");
    var DataURL = "GetUserDetailByPage?roleid="+roleid;
    var ColumnData = [[
                        { field: 'uid', hidden: true },
                        { field: 'username',  title: '登陆名称', editor: 'text', width: 100 },
                      // { field: 'schoolname',  title: '所属学校', editor: 'text', width: 100 },
                      //{ field: 'idcard',    title: '身份证号', editor: 'text', width: 100 },
                        { field: 'nickname',  title: '真实姓名', editor: 'text', width: 100 },
                        { field: 'userphone', title: '联系手机', editor: 'text', width: 70  },
                        { field: 'departmentid', title: '所属部门',
                              formatter: function (value, row, index) {
                                  return row.departmentname;
                              },
                              editor: { type: 'combobox',
                                  options: {
                                      valueField: 'id',
                                      textField: 'departmentname',
                                      url: 'GetAllDepartments',
                                      required: false
                                  }
                              }, width: 80
                          },
                          { field: 'roleid', title: '拥有权限',
                                formatter: function (value, row, index) {
                                    return row.rolename;
                                },
                                editor: { type: 'combobox',
                                    options: {
                                        valueField: 'id',
                                        textField: 'rolename',
                                        url: 'GetAllRoles',
                                        required: true
                                    }
                                }, width: 80
                            },
                        { field: 'ischeck', title: '是否审核',
                            formatter: function (value, row, index) {
                                if (Boolean(value) == true)
                                    return '<span class="icon icon-ok">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                                else if (Boolean(value) == false)
                                    return '<span class="icon icon-no">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                            },
                            editor: {
                                type: 'checkbox',
                                options: { on: 1, off: 0 }
                            }, width: 50
                        },
                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
                      ]];

                        var AddRecords = function () {
                            var url = 'usermaintain?id='+roleid+'&rolename='+rolename;
                            var iframe = "<iframe src='" + url + "'  frameborder=0 scrolling=yes style='width:700px;height:500px;'></iframe>";
                            art.dialog({
                                id: 'userMaintain',
                                title: '添加【@ViewBag.name】到平台',
                                padding:0,
                                content: iframe
                            });
                        }

                        var UpdateRecords = function () {
                            var row = $('#dg').datagrid('getSelected');
                            if (row == "" || row == undefined) {
                                art.dialog({
                                    title: '提示',
                                    content: "请选择一条数据进行更新操作！"
                                });
                            }
                            else {
                                var url = 'usermaintain?id=' + roleid + '&uid=' + row.uid + '&rolename=' + rolename;
                                var iframe = "<iframe src='" + url + "'  frameborder=0 scrolling=yes style='width:700px;height:500px;'></iframe>";
                                art.dialog({
                                    id: 'userMaintain',
                                    title: '更新【@ViewBag.name】用户的相关信息',
                                    padding: 0,
                                    content: iframe
                                });
                            }
                        }

                        var DeleteRecords = function () {
                            var row = $('#dg').datagrid('getSelected');
                            debugger;
                            if (row == "" || row == undefined) {
                                art.dialog({
                                    title: '提示',
                                    content: "请选择一个【@ViewBag.name】进行删除操作！"
                                });
                            }
                            else {
                                $.messager.confirm('请确认', '确定删除记录吗?', function (r) {
                                    if (r) {
                                        $.post("CommitUserDetail", row, function (response) {
                                            if (response.Success)
                                                $.messager.show({ title: '操作成功', msg: response.Message });
                                            else
                                                $.messager.show({ title: '操作失败', msg: response.Message });

                                            $('#dg').datagrid('reload');
                                        }, "JSON");
                                    }
                                });
                            }
                        }


</script>
}
<table id="dg" title="当前管理的用户角色为： @ViewBag.name "></table>
<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput"  class="easyui-searchbox" style="width:200px;" />
