﻿@model FuNong.DataContract.UserResponse

@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div  style="width:800px;height:auto;text-align:center;margin:0 auto;font-size:13px;" class="print_show">
    <div style="width:100%;height:40px;line-height:40px;border-bottom:5px solid #0092DC;font-size:15px;font-weight:bold;">当前登录用户信息</div>
    <table cellpadding="0" cellspacing="0" style="width:800px;height:auto;margin-top:20px;border:1px solid #CCCCCC">
    <thead>
    <th colspan="2" style="border-bottom:1px solid #CCCCCC;text-align:left;line-height:30px;height:30px;color:#0092DC">&nbsp;&nbsp;基本信息</th>
    </thead>
    <tbody>
    <tr>
    <td style="width:150px;height:30px;text-align:right;">登录名称：</td>
    <td style="text-align:left;">@Model.username</td>
    </tr>
    <tr>
    <td style="width:150px;height:30px;text-align:right;">真实姓名：</td>
    <td style="text-align:left;">@Model.nickname</td>
    </tr>
    <tr>
     <td style="width:150px;height:30px;text-align:right;">身份证号：</td>
     <td style="text-align:left;">@Model.idcard</td>
    </tr>
     <tr>
     <td style="width:150px;height:30px;text-align:right;">联系电话：</td>
     <td style="text-align:left;">@Model.userphone</td>
    </tr>
      <tr>
     <td style="width:150px;height:30px;text-align:right;">联系地址：</td>
     <td style="text-align:left;">@Model.useraddress</td>
    </tr>
     <tr>
     <td style="width:150px;height:30px;text-align:right;">所属部门：</td>
     <td style="text-align:left;">@Model.departmentname</td>
    </tr>
     <tr>
     <td style="width:150px;height:30px;text-align:right;">所属角色：</td>
     <td style="text-align:left;">@Model.rolename</td>
    </tr>
      <tr>
     <td style="width:150px;height:30px;text-align:right;">电子邮箱：</td>
     <td style="text-align:left;">@Model.usermail</td>
    </tr>
    </tbody>
    </table>
</div>

