﻿<!DOCTYPE html>
<html ng-app="dsBootstrap">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts")
</head>
<body>
    @RenderBody()


</body>
</html>
