﻿@model  FuNong.DataContract.CourseTableResponse
@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section scripts{
    <link href="@Url.Content("~/Content/admin/js/jquery.validationEngine/validationEngine.jquery.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/admin/js/jquery.validationEngine/jquery.validationEngine.js")" type="text/javascript"></script>

    <link href="@Url.Content("~/Content/admin/js/artDialog/skins/blue.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/admin/js/artDialog/jquery.artDialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/JsParser.js")" type="text/javascript"></script>

<script type="text/javascript">

    var resultdata;
    $(document).ready(function () {

        $("#form0").validationEngine();

        TriggerGradeClassWithSelectedSchool();

        art.dialog({ title: "人员选择", content: "<iframe style='width:800px;height:600px;' scrolling=no frameborder=0 src='/BaseData/UserSelectionDialog'></iframe>", padding: 0, width: 600, height: 400 });

        var count = 1;
        $("a[tag=periodBtn]").click(function () {
            var tagIndex = $(this).attr("tag1");
            var start = 5;
            var appendElement = $("tr[tag1=" + tagIndex + "]");
            appendElement.after("<tr><td><input class='easyui-timespinner' data-validation-engine='validate[required]' style='width:60px;'/> - <input class='easyui-timespinner' data-validation-engine='validate[required]' style='width:60px;'/></td>"
            + "<td>课程:<select  data-validation-engine='validate[required]' class='courseid' name='courseid-" + tagIndex + "-" + (start + 1 * count) + "' style='width:110px;'></select>教师:<select name='teacherid-" + tagIndex + "-" + (start + 1 * count) + "' class='teacherid' style='width:110px;'></select></td>"
            + "<td>课程:<select  data-validation-engine='validate[required]' class='courseid' name='courseid-" + tagIndex + "-" + (start + 2 * count) + "' style='width:110px;'></select>教师:<select name='teacherid-" + tagIndex + "-" + (start + 2 * count) + "' class='teacherid' style='width:110px;'></select></td>"
            + "<td>课程:<select  data-validation-engine='validate[required]' class='courseid' name='courseid-" + tagIndex + "-" + (start + 3 * count) + "' style='width:110px;'></select>教师:<select name='teacherid-" + tagIndex + "-" + (start + 3 * count) + "' class='teacherid' style='width:110px;'></select></td>"
            + "<td>课程:<select  data-validation-engine='validate[required]' class='courseid' name='courseid-" + tagIndex + "-" + (start + 4 * count) + "' style='width:110px;'></select>教师:<select name='teacherid-" + tagIndex + "-" + (start + 4 * count) + "' class='teacherid' style='width:110px;'></select></td>"
            + "<td>课程:<select  data-validation-engine='validate[required]' class='courseid' name='courseid-" + tagIndex + "-" + (start + 5 * count) + "' style='width:110px;'></select>教师:<select name='teacherid-" + tagIndex + "-" + (start + 5 * count) + "' class='teacherid' style='width:110px;'></select></td></tr>");
            var rowspan = $("td[tag1=" + tagIndex + "]").attr("rowspan");
            $("td[tag1=" + tagIndex + "]").attr("rowspan", parseInt(rowspan) + 1);
            //重新触发绑定事件
            addItem(resultdata);
        });

        $("#submitcoursetable").click(function () {
            $("#form0").submit();
        });

        AddSearchBar();
    });

    function TriggerGradeClassWithSelectedSchool() {
        $.ajaxWebService("GetCourseTableAjax", "{}", function (data) {
            if (data.success) {
                var optionNotify1 = $("<option>").val("").text("请选择");
                var optionNotify2 = $("<option>").val("").text("请选择");
                $("#gradeid").append(optionNotify1);

                //年级 班级
                for (var i = 0; i < data.gradedata.length; i++) {
                    var obj = data.gradedata[i];
                    var optionGrade = $("<option>").val(obj.id).text(obj.name);
                    $("#gradeid").append(optionGrade);
                    $("#gradeid").change(function () {
                        $("#classid").empty();
                        $("#classid").append(optionNotify2);
                        var selected = $("#gradeid").find("option:selected").val();
                        for (var j = 0; j < data.classdata.length; j++) {
                            var classData = data.classdata[j];
                            if (parseInt(selected) == classData.gradeid) {
                                var optionClass = $("<option>").val(classData.id).text(classData.classname);
                                $("#classid").append(optionClass);
                            }
                        }
                    });
                }

                //班级选择改变事件

                $("#classid").change(function () {
                    var selected = $("#classid").find("option:selected").val();
                    $.ajaxWebService("GetMasterBy", "{classid:" + selected + "}", function (data) {
                        if (data.success) {
                            $("#masterid").html(data.data.mastername + "[" + data.data.mastercode + "]");
                        }
                        else {
                            $("#masterid").html(data.message);
                        }
                    });
                });

                //班主任
                //                var optionNotify2 = $("<option>").val("").text("请选择");
                //                $("#masterid").append(optionNotify2);
                //                for (var i = 0; i < data.userdata.length; i++) {
                //                    var obj = data.userdata[i];
                //                    var option = $("<option>").val(obj.uid).text(obj.nickname);
                //                    $("#masterid").append(option);
                //                }

                resultdata = data;

                addItem(data);
            }
            else {
                alert(data.message);
            }
        });
    }

    function addItem(resultdata) {
        //课程
        $(".courseid").each(function () {
            var tsize = $(this).find("option").size();
            if (tsize <= 0) {
                var optionNotify3 = $("<option>").val("").text("请选择");
                $(this).append(optionNotify3);
                for (var i = 0; i < resultdata.coursedata.length; i++) {
                    var obj = resultdata.coursedata[i];
                    var option = $("<option>").val(obj.settingvalue1).text(obj.settingname);
                    $(this).append(option);
                }
            }
        });

        //任课教师
//        $(".teacherid").each(function () {
//            var tsize = $(this).find("option").size();
//            if (tsize <= 0) {
//                var optionNotify4 = $("<option>").val("").text("请选择");
//                $(this).append(optionNotify4);
//                for (var i = 0; i < resultdata.userdata.length; i++) {
//                    var obj = resultdata.userdata[i];
//                    var option = $("<option>").val(obj.uid).text(obj.nickname);
//                    $(this).append(option);
//                }

//            }
//        });

        $("input[class=easyui-timespinner]").timespinner();
    }

    function deepclone(obj) {
        function Clone() { }
        Clone.prototype = obj;
        var o = new Clone();
        for (var a in o) {
            if (typeof o[a] == "object") {
                o[a] = deepclone(o[a]);
            }
        }
        return o;
    }  

    $.ajaxWebService = function (url, dataparam, datasuccess) {
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            url: url,
            data: dataparam,
            success: datasuccess,
            error: function (a, b, c) { }
        });
    }


    var AddSearchBar = function () {
        $("select[tag=teacherid]").each(function () {
        });
        var fields = $("select[tag=teacherid]").combogrid("grid").datagrid('getColumnFields');
        for (var i = 0; i < fields.length; i++) {
            var opts = $("select[tag=teacherid]").combogrid("grid").datagrid('getColumnOption', fields[i]);
            if (opts.title != undefined) {
                var muit = "<div name='" + fields[i] + "'>" + opts.title + "</div>";
                $('#TypeSelect').html($('#TypeSelect').html() + muit);
            }
        }
        $('.searchbox').appendTo('.datagrid-toolbar').css("margin-top", "3px");
        $('#ValueInput').appendTo('.datagrid-toolbar');
        $(".datagrid-toolbar table").css("float", "left");   //让SearchBox在同一行显示的关键语句
        $('#ValueInput').searchbox({
            menu: '#TypeSelect',
            prompt: '请输入待查询的值',
            searcher: function (value, name) {
                if (value == "") {
                    alert("无输入值，请重试！");
                }
                else {
                    $("select[tag=teacherid]").combogrid("grid").datagrid('load', {
                        Field: name,
                        Value: value
                    });
                }
            }
        });
    }
</script>
<style type="text/css">
    #main thead td{border-bottom:1px solid black;border-right:1px solid black;text-align:center;height:80px;font-weight:bold;}
    #main tbody td{border-bottom:1px solid black;border-right:1px solid black;text-align:center;height:40px;}
    select{border:none;border-bottom:1px solid gray;}
</style>
}
@{
        var cookie = new FuNong.Framework.Cookie.CookieWrapper();
        var nv = cookie.GetCookieCollection("FuNong.UserInfo.Login");
        string schoolid = string.Empty;
        string schoolname = string.Empty;
        if (nv != null)
        {
            schoolid = nv["FuNong.Login.SchoolID"];
            schoolname = HttpUtility.UrlDecode(nv["FuNong.Login.SchoolName"]).Trim();
        }
 }

<form id="form0" action="CourseTable">
<div style="width:100%;height:100%;font-size:13px;">
    <div style="width:1000px;height:50px;margin:0 auto;margin-top:30px;">
    <table cellpadding="0" cellspacing="0" style="width:100%;height:100%;">
        <tr>
        <td style="width:130px;">学校：<font color='red'>@schoolname</font></td>
        <td style="width:170px;">年级：<select id="gradeid" style="width:120px;" data-validation-engine="validate[required]"></select></td>
        <td style="width:170px;">班级：<select id="classid" style="width:120px;" data-validation-engine="validate[required]"></select></td>
        <td style="width:290px;">班主任：<label id="masterid" style="width:290px;" ></label></td>
        <td><a href="#" id="submitcoursetable" class="easyui-linkbutton" data-options="iconCls:'icon-save'">填写完毕，保存课程表</a></td>
        </tr>
    </table>
    </div>
    <div style="width:1000px;height:100%;margin:0 auto;border:1px solid black;">
        <table id="main" cellpadding="0" cellspacing="0" style="width:100%;height:100%;">
            <thead>
            <tr>
                <td colspan="2" id="td1"></td>
                <td style="width:150px;" id="td2">一</td>
                <td style="width:150px;">二</td>
                <td style="width:150px;">三</td>
                <td style="width:150px;">四</td>
                <td style="width:150px;border-right:none;">五</td>
            </tr>
            </thead>
            <tbody>
            @for (var i = 0; i < Model.periodlist.Count; i++)
            {
                    <tr id="period-@i" tag="period" tag1=@i>
                        <td style="width:100px;" tag1=@i rowspan="1"><a href="#" id="add-@i" tag="periodBtn" tag1=@i  class="easyui-linkbutton" data-options="iconCls:'icon-add'">@Model.periodlist[i].settingname</a></td>
                        <td><input class="easyui-timespinner" style="width:60px;"  data-validation-engine="validate[required]"/> - <input class="easyui-timespinner" style="width:60px;"  data-validation-engine="validate[required]"/></td>
                        @for (var j = 1; j <= 5; j++)
                        {
                            <td>
                            课程:<select class="courseid" name="courseid-@i-@j" style="width:110px;"  data-validation-engine="validate[required]"></select>
                            教师:
                            @*<select class="teacherid" name="teacherid-@i-@j" style="width:110px;"  data-validation-engine="validate[required]"></select>*@
                             <select class="easyui-combogrid" tag="teacherid" name="teacherid-@i-@j" style="width:105px;" 
                                 data-options="
                                        panelWidth: 500,
                                        idField: 'uid',
                                        textField: 'nickname',
                                        url: '/Admin/GetUserDetailByPage?roleid=2',
                                        method: 'post',
                                        columns: [[
                                            { field: 'uid', hidden: true },
                                            {field:'username',title:'登陆名称',width:100},
                                            {field:'nickname',title:'真实姓名',width:100},
                                            {field:'userphone',title:'手机号码',width:100}
                                        ]],
                                        border:false,
                                        pagination: true,    
                                        pageSize: 20,
                                        pageList: [20],
                                        fit:true,
                                        fitColumns: true,
                                        toolbar: []">
                            </select>
                            </td>    
                        }
                    </tr>
            }

            <!--上午开始-->
          @*  <th>
                <tr>
                    <td style="width:100px;" rowspan="2"><a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'">上午</a></td>
                    <td><input class="easyui-timespinner" style="width:60px;"/> - <input class="easyui-timespinner" style="width:60px;"/></td>
                    <td>课程:<input class="easyui-combobox" style="width:110px;"/>教师:<input class="easyui-combobox" style="width:110px;"/></td>
                    <td>课程:<input class="easyui-combobox" style="width:110px;"/>教师:<input class="easyui-combobox" style="width:110px;"/></td>
                    <td>课程:<input class="easyui-combobox" style="width:110px;"/>教师:<input class="easyui-combobox" style="width:110px;"/></td>
                    <td>课程:<input class="easyui-combobox" style="width:110px;"/>教师:<input class="easyui-combobox" style="width:110px;"/></td>
                    <td>课程:<input class="easyui-combobox" style="width:110px;"/>教师:<input class="easyui-combobox" style="width:110px;"/></td>
                </tr>
                 <tr>
                    <td><input class="easyui-timespinner" style="width:60px;"/> - <input class="easyui-timespinner" style="width:60px;"/></td>
                    <td>课程:<input class="easyui-combobox" style="width:110px;"/>教师:<input class="easyui-combobox" style="width:110px;"/></td>
                    <td>课程:<input class="easyui-combobox" style="width:110px;"/>教师:<input class="easyui-combobox" style="width:110px;"/></td>
                    <td>课程:<input class="easyui-combobox" style="width:110px;"/>教师:<input class="easyui-combobox" style="width:110px;"/></td>
                    <td>课程:<input class="easyui-combobox" style="width:110px;"/>教师:<input class="easyui-combobox" style="width:110px;"/></td>
                    <td>课程:<input class="easyui-combobox" style="width:110px;"/>教师:<input class="easyui-combobox" style="width:110px;"/></td>
                </tr>
            </th>*@
            <!--上午结束-->
            <!--下午开始-->
            @*<th>
                <tr>
                    <td style="width:100px;" rowspan="1"><a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'">下午</a></td>
                    <td><input class="easyui-timespinner" style="width:60px;"/> - <input class="easyui-timespinner" style="width:60px;"/></td>
                    <td>课程:<input class="easyui-combobox" style="width:110px;"/>教师:<input class="easyui-combobox" style="width:110px;"/></td>
                    <td>课程:<input class="easyui-combobox" style="width:110px;"/>教师:<input class="easyui-combobox" style="width:110px;"/></td>
                    <td>课程:<input class="easyui-combobox" style="width:110px;"/>教师:<input class="easyui-combobox" style="width:110px;"/></td>
                    <td>课程:<input class="easyui-combobox" style="width:110px;"/>教师:<input class="easyui-combobox" style="width:110px;"/></td>
                    <td>课程:<input class="easyui-combobox" style="width:110px;"/>教师:<input class="easyui-combobox" style="width:110px;"/></td>
                </tr>
            </th>*@
            <!--下午结束-->
            <!--晚上开始-->
            @*<th>
                <tr>
                    <td style="width:100px;" rowspan="1"><a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'">晚上</a></td>
                    <td><input class="easyui-timespinner" style="width:60px;"/> - <input class="easyui-timespinner" style="width:60px;"/></td>
                    <td>课程:<input class="easyui-combobox" style="width:110px;"/>教师:<input class="easyui-combobox" style="width:110px;"/></td>
                    <td>课程:<input class="easyui-combobox" style="width:110px;"/>教师:<input class="easyui-combobox" style="width:110px;"/></td>
                    <td>课程:<input class="easyui-combobox" style="width:110px;"/>教师:<input class="easyui-combobox" style="width:110px;"/></td>
                    <td>课程:<input class="easyui-combobox" style="width:110px;"/>教师:<input class="easyui-combobox" style="width:110px;"/></td>
                    <td>课程:<input class="easyui-combobox" style="width:110px;"/>教师:<input class="easyui-combobox" style="width:110px;"/></td>
                </tr>
            </th>*@
            <!--晚上结束-->
            </tbody>
        </table>
    </div>
</div>
</form>

<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput"  class="easyui-searchbox" style="width:200px;" />