﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts{
<script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGrid.js")" type="text/javascript"></script>
<script type="text/javascript">
    var DataURL = "GetGradeByPage";
    var ColumnData = [[
                        { field: 'id', hidden: true },
                        { field: 'schoolid', title: '所属学校', formatter: function (value, row, index) {
                            return row.schoolname;
                        }, width: 100
                        },
                        { field: 'name', title: '年级名称', editor: 'text', width: 100 },
                        { field: 'note', title: '年级备注', editor: 'text', width: 200 },
                        { field: 'stateid', title: '当前状态', formatter: function (value, row, index) {
                            return row.statename;
                        }, editor: { type: 'combobox',
                            options: {
                                valueField: 'settingvalue1',
                                textField: 'settingname',
                                url: 'GetBaseSettingBy?groupname=state',
                                required: true
                            }
                        }, width: 100
                        },
                        { field: 'recordorder', title: '排序', editor: 'numberbox', width: 50 },
                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
                      ]];

                        var AddRecords = function () {
                            $('#dg').datagrid('appendRow', {});
                            var editIndex = $('#dg').datagrid('getRows').length - 1;
                            $('#dg').datagrid('selectRow', editIndex).datagrid('beginEdit', editIndex);
                            var defaultOrder = $('#dg').datagrid('getEditor', { index: editIndex, field: 'recordorder' });
                            $(defaultOrder.target).numberbox('setValue', '1');
                        }

                        var UpdateRecords = function () {
                            var row = $('#dg').datagrid('getSelections');
                            if (row) {
                                row.forEach(function (rowData) {
                                    var rowIndex = $('#dg').datagrid('getRowIndex', rowData);
                                    $('#dg').datagrid('beginEdit', rowIndex);
                                });
                            }
                        }

                        var DeleteRecords = function () {
                            var row = $('#dg').datagrid('getSelections');
                            if (row == "" || row == undefined) {
                                alert('请选择一条数据进行删除');
                            }
                            else {
                                $.messager.confirm('请确认', '确定删除记录吗?', function (r) {
                                    if (r) {
                                        row.forEach(function (rowData) {
                                            var rowIndex = $('#dg').datagrid('getRowIndex', rowData);
                                            $('#dg').datagrid('deleteRow', rowIndex);
                                        });
                                        //SaveRecords();
                                    }
                                });
                            }
                        }

                        var SaveRecords = function () {
                            endEdit();
                            var inserted = $('#dg').datagrid('getChanges', "inserted");
                            var deleted = $('#dg').datagrid('getChanges', "deleted");
                            var updated = $('#dg').datagrid('getChanges', "updated");
                            var effectRow = new Object();
                            if (inserted.length) {
                                effectRow["inserted"] = JSON.stringify(inserted);
                            }
                            if (deleted.length) {
                                effectRow["deleted"] = JSON.stringify(deleted);
                            }
                            if (updated.length) {
                                effectRow["updated"] = JSON.stringify(updated);
                            }
                            $.post("CommitGrade", effectRow, function (response) {
                                if (response.success)
                                    $.messager.show({ title: '操作成功', msg: response.success });
                                else
                                    $.messager.show({ title: '操作失败', msg: response.error });

                                $('#dg').datagrid('reload');
                            }, "JSON");
                        }

                        $.bindCombobox = function (url, dataparam, valueF, textF, stuff, formatterItem, selectItem) {
                            $.ajaxWebService(url, dataparam, function (data) {
                                if (data.success) {
                                    var result = data.data;
                                    stuff.combobox({
                                        valueField: valueF,
                                        textField: textF,
                                        data: result,
                                        formatter: formatterItem,
                                        onSelect: selectItem
                                    });
                                }
                                else {
                                    alert(data.message);
                                }
                            });
                        }

                        $.ajaxWebService = function (url, dataparam, datasuccess) {
                            $.ajax({
                                type: "POST",
                                dataType: "json",
                                contentType: "application/json",
                                url: url,
                                data: dataparam,
                                success: datasuccess,
                                error: function (a, b, c) { }
                            });
                        }
</script>
}
<table id="dg" title="年级信息管理"></table>
<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput"  class="easyui-searchbox" style="width:200px;" />
