﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts{
<script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridNoBar.js")"  type="text/javascript"></script>
<script src="@Url.Content("~/Content/admin/js/JsParser.js")"                    type="text/javascript"></script>
<script type="text/javascript">

    var typeid = getParameterByName("typeid");

    var DataURL = "GetSysLogByPage?typeid=" + typeid;
    var ColumnData = [[
                        { field: 'id', hidden: true },
                        { field: 'Date', title: '日志时间', formatter: formatDateTimeJSON, width: 80 },
                        { field: 'Level', title: '日志级别',  width: 50 },
                        { field: 'Message', title: '日志消息', width: 250 }
                      ]];
</script>
}
<table id="dg" title="平台日志查看"></table>
<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput"  class="easyui-searchbox" style="width:200px;" />
