﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@section scripts{
<script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemonSignalSelect.js")" type="text/javascript"></script>
<script type="text/javascript">
    var DataURL = "GetVillageByPage";
    var ColumnData = [[
                        { field: 'id', hidden: true },
                         { field: 'provincename', title: '所属省',
                             formatter: function (value, row, index) {
                                 return row.provincename;
                             },
                             editor: { type: 'combobox',
                                 options: {
                                     valueField: 'id',
                                     textField: 'name',
                                     url: '/Process/GetLocationList?provinceid=-1&cityid=-1',
                                     onLoadSuccess: function (data) {
                                         if (data.success) {
                                             //绑定省级数据
                                             $(this).combobox("loadData", data.data);

                                             //找到绑定市级列表的Editor
                                             var row = $("#dg").datagrid('getSelected');
                                             var rindex = $("#dg").datagrid('getRowIndex', row);
                                             var cityed = $("#dg").datagrid('getEditor', { index: rindex, field: 'cityid' });

                                             //开始绑定市级列表，然后为其指定默认值(需要绑定Onloadsuccess方法和OnSelect方法)
                                             $.bindCombobox('/Process/GetLocationList', "{provinceid:" + row.provinceid + ",cityid:-1}", "id", "name", $(cityed.target), null,
                                            function (data) {
                                                //设置市级默认值
                                                $(cityed.target).combobox("setValue", row.cityid);
                                                //找到绑定区县级列表的Editor
                                                var districted = $("#dg").datagrid('getEditor', { index: rindex, field: 'districtid' });
                                                //开始绑定区县级列表，然后为其指定默认值（需要绑定Onloadsuccess方法）
                                                $.bindCombobox('/Process/GetLocationList', "{provinceid:-1,cityid:" + row.cityid + "}", "id", "name", $(districted.target), null,
                                                function (data) {
                                                    //设置区县级默认值
                                                    $(districted.target).combobox("setValue", row.districtid);
                                                },
                                                function (recordx) { });

                                            },
                                            function (record) {
                                                //当选择市的时候，找到绑定区县的列，然后绑定其editor
                                                var edx = $("#dg").datagrid('getEditor', { index: rindex, field: 'districtid' });
                                                $.bindCombobox('/Process/GetLocationList', "{provinceid:-1,cityid:" + record.id + "}", "id", "name", $(edx.target), null, null, function (recordx) { });
                                            });
                                         }
                                     },
                                     onSelect: function (currentrow) {
                                         //当选择省份的时候
                                         var row = $("#dg").datagrid('getSelected');
                                         var rindex = $("#dg").datagrid('getRowIndex', row);
                                         var ed = $("#dg").datagrid('getEditor', { index: rindex, field: 'cityid' });
                                         // //找到绑定市的列 然后绑定其editor
                                         $.bindCombobox('/Process/GetLocationList', "{provinceid:" + currentrow.id + ",cityid:-1}", "id", "name", $(ed.target), null, null,
                                        function (record) {
                                            //当选择市的时候，找到绑定区县的列，然后绑定其editor
                                            var edx = $("#dg").datagrid('getEditor', { index: rindex, field: 'districtid' });
                                            $.bindCombobox('/Process/GetLocationList', "{provinceid:-1,cityid:" + record.id + "}", "id", "name", $(edx.target), null, null, function (recordx) { });
                                        });
                                     },
                                     required: true
                                 }
                             }, width: 120
                         },
                        { field: 'cityid', title: '所属市',
                            formatter: function (value, row, index) {
                                return row.cityname;
                            }, editor: { type: 'combobox',
                                options: {
                                    valueField: 'id',
                                    textField: 'name',
                                    required: true
                                }
                            }, width: 150
                        },
                        { field: 'districtid', title: '所属区县',
                            formatter: function (value, row, index) {
                                return row.districtname;
                            }, editor: { type: 'combobox',
                                options: {
                                    valueField: 'id',
                                    textField: 'name',
                                    required: true
                                }
                            }, width: 150
                        },
                        { field: 'name', title: '所属乡镇', editor: 'text', width: 100 },
                        { field: 'jin', title: '经度', editor: 'text', width: 100 },
                        { field: 'wei', title: '纬度', editor: 'text', width: 100 },
                        { field: 'recordorder', title: '排序', editor: 'numberbox', width: 50 },
                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
                      ]];

    var SaveRecords = function () {
        endEdit();
        var inserted = $('#dg').datagrid('getChanges', "inserted");
        var deleted = $('#dg').datagrid('getChanges', "deleted");
        var updated = $('#dg').datagrid('getChanges', "updated");
        var effectRow = new Object();
        if (inserted.length) {
            effectRow["inserted"] = JSON.stringify(inserted);
        }
        if (deleted.length) {
            effectRow["deleted"] = JSON.stringify(deleted);
        }
        if (updated.length) {
            effectRow["updated"] = JSON.stringify(updated);
        }
        $.post("CommitVillage", effectRow, function (response) {
            if (response.success)
                $.messager.show({ title: '操作成功', msg: response.success });
            else
                $.messager.show({ title: '操作失败', msg: response.error });

            $('#dg').datagrid('reload');
        }, "JSON");
    }

    $.bindCombobox = function (url, dataparam, valueF, textF, stuff, formatterItem, loadSuccess, selectItem) {
        $.ajaxWebService(url, dataparam, function (data) {
            if (data.success) {
                var result = data.data;
                stuff.combobox({
                    valueField: valueF,
                    textField: textF,
                    data: result,
                    formatter: formatterItem,
                    onLoadSuccess: loadSuccess,
                    onSelect: selectItem
                });
            }
            else {
                alert(data.message);
            }
        });
    }

    $.ajaxWebService = function (url, dataparam, datasuccess) {
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            url: url,
            data: dataparam,
            success: datasuccess,
            error: function (a, b, c) { }
        });
    }

</script>
}
<table id="dg" title="乡镇信息维护"></table>
<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput"  class="easyui-searchbox" style="width:200px;" />
