﻿@model List<FuNong.DataContract.NewsTypeResponse>
@{
    var result = Model;
    if(result!=null && result.Count!=0)
    {
        for(var i=1;i<=result.Count;i++)
        {
            var elementID = "menu"+i;
            var menuName = result[i-1].typename;
            var menuUrl = result[i - 1].typenote;
            var className = ((i==1)?"menuselected":"menuunselected");
            
           <a id="@elementID" href="@menuUrl" class="@className">@menuName</a>
        }
    }
 }
