body{background-color:#ECF9FA;}
.accordion { background: #fff; overflow: hidden; }
.accordion .accordion-header { background: #E0ECFF url('images/panel_title.png') repeat-x; border-top-width: 0; cursor: pointer; }
.accordion .accordion-header .panel-title { font-weight: normal; }
.accordion .accordion-header-selected .panel-title { font-weight: bold; }
.accordion-noborder .accordion-header { border-width: 0 0 1px; }
.accordion-noborder .accordion-body { border-width: 0px; }
.combobox { display: inline-block; white-space: nowrap; font-size: 12px; margin: 0; padding: 0; border: 1px solid #A4BED4; }
.combobox-text { font-size: 12px; border: 0px; line-height: 20px; height: 20px; padding: 0px; padding-left: 5px; }
.combobox-arrow { background: url('images/combo_arrow.gif') no-repeat 0 0; width: 18px; height: 20px; overflow: hidden; display: inline-block; vertical-align: top; cursor: pointer; opacity: 0.6; filter: alpha(opacity=60); }
.combobox-arrow-hover { opacity: 1.0; filter: alpha(opacity=100); }
.combobox-content { position: absolute; background: #fff; display: none; border: 1px solid #A4BED4; overflow-x: hidden; overflow-y: auto; }
.combobox-item { padding: 2px; font-size: 12px; padding: 3px; padding-right: 0px; padding-left: 5px; cursor: pointer; }
.combobox-item-hover { background: #fafafa; }
.combobox-item-selected { background: #FBEC88; }
.combotree { display: inline-block; white-space: nowrap; font-size: 12px; margin: 0; padding: 0; border: 1px solid #A4BED4; }
.combotree-text { font-size: 12px; border: 0px; line-height: 20px; height: 20px; padding: 0px; }
.combotree-arrow { background: url('images/combo_arrow.gif') no-repeat 0 0; width: 18px; height: 20px; overflow: hidden; display: inline-block; vertical-align: top; cursor: pointer; opacity: 0.6; filter: alpha(opacity=60); }
.combotree-arrow-hover { opacity: 1.0; filter: alpha(opacity=100); }
.combotree-content { position: absolute; background: #fff; display: none; border: 1px solid #A4BED4; overflow: auto; }
.datagrid { font-size: 12px; border: 1px solid #04B3BE; overflow1: hidden; background: #fff; }
.datagrid-noborder { border-width: 0px; }
.datagrid-wrap { position: relative; }
.datagrid-view { position: relative; overflow: hidden; }
.datagrid-view1 { position: absolute; overflow: hidden; left: 0px; top: 0px; border-right1: 1px solid #ccc; }
.datagrid-view2 { position: absolute; overflow: hidden; left: 210px; top: 0px; }
.datagrid-mask { position: absolute; left: 0; top: 0; background: #ccc; opacity: 0.3; filter: alpha(opacity=30); display: none; }
.datagrid-mask-msg { position: absolute; cursor1: wait; left: 100px; top: 50px; width: auto; height: 16px; padding: 12px 5px 10px 30px; background: #fff url('images/pagination_loading.gif') no-repeat scroll 5px 10px; border: 2px solid #6593CF; color: #222; display: none; }
.datagrid-title { background: url('images/datagrid_title_bg.png') repeat-x; border-bottom: 1px solid #04B3BE; border-top: 1px solid #fff; position: relative; padding: 5px 0px; }
.datagrid-title-text { color: #15428b; font-weight: bold; padding-left: 5px; }
.datagrid-title-with-icon { padding-left: 22px; }
.datagrid-title-icon { position: absolute; width: 16px; height: 16px; left: 3px; top: 4px !important; top: 6px; }
.datagrid-sort-desc .datagrid-sort-icon { padding: 2px 13px 3px 0px; background: url('images/datagrid_sort_desc.gif') no-repeat center center; }
.datagrid-sort-asc .datagrid-sort-icon { padding: 2px 13px 3px 0px; background: url('images/datagrid_sort_asc.gif') no-repeat center center; }
.datagrid-toolbar { height: 28px; background: #efefef; padding: 1px 2px; border-bottom: 1px solid #ccc; }
.datagrid-btn-separator { float: left; height: 24px; border-left: 1px solid #ccc; border-right: 1px solid #fff; margin: 2px 1px; }
.datagrid-pager { background: #efefef; border-top: 1px solid #ccc; position: relative; }

.datagrid-header { overflow: hidden; background: #fafafa url('images/datagrid_header_bg.gif') repeat-x left bottom; border-bottom: 1px solid #ccc; margin-bottom: 1px; }
.datagrid-header-inner { float: left; padding-right: 20px; margin-bottom: -1px; }
.datagrid-header th { border-right: 1px dotted #ccc; font-size: 12px; font-weight: normal; background: #fafafa url('images/datagrid_header_bg.gif') repeat-x left bottom; border-bottom: 1px dotted #ccc; border-top: 1px dotted #fff; }
.datagrid-header th.datagrid-header-over { background: #EBF3FD; }
.datagrid-header .datagrid-cell { margin: 0; padding: 4px 2px; white-space: nowrap; word-wrap: normal; overflow: hidden; }
.datagrid-header .datagrid-cell-group { margin: 0; padding: 4px 2px; white-space: nowrap; word-wrap: normal; overflow: hidden; }
.datagrid-header-rownumber { width: 25px; text-align: center; margin: 0px; padding: 3px 0px; }
.datagrid-cell-rownumber { width: 25px; text-align: center; background: #fafafa url('images/datagrid_header_bg.gif') repeat-x left bottom; margin: 0px; padding: 3px 0px; }
.datagrid-header-check { padding: 0px 3px; }
.datagrid-cell-check { padding: 0px 3px; }
.datagrid-body { margin: 0; padding: 0; overflow: auto; zoom: 1; }
.datagrid-view1 .datagrid-body-inner { padding-bottom: 20px; }
.datagrid-view1 .datagrid-body { overflow: hidden; }
.datagrid-body td { font-size: 12px; border-right: 1px dotted #ccc; border-bottom: 1px dotted #ccc; overflow: hidden; padding: 0; margin: 0; }
.datagrid-body .datagrid-cell { overflow: hidden; margin: 0; padding: 3px 4px; white-space: nowrap; word-wrap: normal; }
.datagrid-body .datagrid-cell-height { height: 16px !important; *height:22px;
}
.datagrid-row-alt { background: #EEEEFF; }
.datagrid-row-over { background: #D0E5F5; background1: #FBEC88; cursor: default; }
.datagrid-row-selected { background: #FBEC88; }
.datagrid-resize-proxy { position: absolute; width: 1px; top: 0; height: 10000px; background: red; cursor: e-resize; display: none; }
.dialog-content { overflow: auto; }
.dialog-toolbar { background: #fafafa; padding: 2px 5px; border-bottom: 1px solid #eee; }
.dialog-tool-separator { float: left; height: 24px; border-left: 1px solid #ccc; border-right: 1px solid #fff; margin: 2px 1px; }
.dialog-button { border-top: 1px solid #eee; background: #fafafa; padding: 5px 5px; text-align: right; }
.dialog-button .l-btn { margin-left: 5px; }
.layout { position: relative;  margin: 0; padding: 0; }
.layout-panel { position: absolute; overflow: hidden; }
.layout-panel-east, .layout-panel-west { z-index: 2; background1: #fff; }
.layout-panel-north, .layout-panel-south { z-index: 3; background1: #fff; }
.layout-button-up { background: url('images/layout_button_up.gif') no-repeat; }
.layout-button-down { background: url('images/layout_button_down.gif') no-repeat; }
.layout-button-left { background: url('images/layout_button_left.gif') no-repeat; }
.layout-button-right { background: url('images/layout_button_right.gif') no-repeat; }
.layout-expand { position: absolute; padding: 0px 5px; padding: 0px; background: #6CCDDF; font-size: 1px; cursor: pointer; z-index: 1; }
.layout-expand .panel-header { background: transparent; border-bottom-width: 0px; }
.layout-expand .panel-header .panel-tool { top: 5px; }
.layout-expand .panel-body { overflow: hidden; }
.layout-expand-over { background: #E1F0F2; }
.layout-body { overflow: auto; background: #fff; }
.layout-split-proxy-h { position: absolute; width: 5px; background: #ccc; font-size: 1px; cursor: e-resize; display: none; z-index: 5; }
.layout-split-proxy-v { position: absolute; height: 5px; background: #ccc; font-size: 1px; cursor: n-resize; display: none; z-index: 5; }
.layout-split-north { border-bottom: 5px solid #59b9ea; }
.layout-split-south { border-top: 5px solid #59b9ea; }
.layout-split-east { border-left: 5px solid #59b9ea; }
.layout-split-west { border-right: 5px solid #59b9ea; }
.layout-mask { position: absolute; background: #fafafa; filter: alpha(opacity=10); opacity: 0.10; z-index: 4; }

a.l-btn { color: #444; background: url('images/button_a_bg.gif') no-repeat top right; font-size: 12px; text-decoration: none; display: inline-block; zoom: 1; height: 24px; padding-right: 18px; cursor: pointer; outline: none; }
a.l-btn-plain { background: transparent; padding-right: 5px; border: 1px solid transparent; }

a.l-btn-disabled { color: #ccc; opacity: 0.5; filter: alpha(opacity=50); cursor: default; }
a.l-btn span.l-btn-left { display: block; background: url('images/button_span_bg.gif') no-repeat top left; padding: 4px 0px 4px 18px; line-height: 16px; }
a.l-btn-plain span.l-btn-left { background: transparent; padding-left: 5px; }

a.l-btn span span.l-btn-text { display: inline-block; height: 16px; line-height: 16px; padding: 0px; }
a.l-btn span span span.l-btn-empty { display: inline-block; padding: 0px; width: 16px; }
a:hover.l-btn { background-position: bottom right; outline: none; }
a:hover.l-btn span.l-btn-left { background-position: bottom left; }

a:hover.l-btn-plain { border: 1px solid #7eabcd; background: url('images/button_plain_hover.png') repeat-x left bottom; }
a:hover.l-btn-disabled { background-position: top right; }
a:hover.l-btn-disabled span.l-btn-left { background-position: top left; }
.menu { position: absolute; background: #f0f0f0 url('images/menu.gif') repeat-y; margin: 0; padding: 2px; border: 1px solid #ccc; overflow: hidden; }
.menu-item { position: relative; margin: 0; padding: 0; height: 22px; line-height: 20px; overflow: hidden; font-size: 12px; cursor: pointer; }
.menu-text { position: absolute; left: 28px; top: 0px; }
.menu-icon { position: absolute; width: 16px; height: 16px; top: 3px; left: 2px; }
.menu-rightarrow { position: absolute; width: 4px; height: 7px; top: 7px; right: 5px; background: url('images/menu_rightarrow.png') no-repeat; }
.menu-sep { margin: 3px 0px 3px 24px; line-height: 2px; font-size: 2px; background: url('images/menu_sep.png') repeat-x; }
.menu-active { border: 1px solid #7eabcd; background: #fafafa; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.menu-shadow { position: absolute; background: #ddd; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2,MakeShadow=false,ShadowOpacity=0.2); }

.m-btn-downarrow { display: inline-block; width: 12px; background: url('images/menu_downarrow.png') no-repeat 4px 5px; }

a.m-btn-active { background-position: bottom right; }
a.m-btn-active span.l-btn-left { background-position: bottom left; }
a.m-btn-plain-active { background: transparent; border: 1px solid #7eabcd; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.messager-body { padding: 5px 10px; }
.messager-button { text-align: center; padding-top: 10px; }
.messager-icon { float: left; width: 47px; height: 35px; }
.messager-error { background: url('images/messager_error.gif') no-repeat scroll left top; }
.messager-info { background: url('images/messager_info.gif') no-repeat scroll left top; }
.messager-question { background: url('images/messager_question.gif') no-repeat scroll left top; }
.messager-warning { background: url('images/messager_warning.gif') no-repeat scroll left top; }
.messager-input { width: 262px; border: 1px solid #ccc; }
.pagination { zoom: 1; }
.pagination table { float: left; }
.pagination-btn-separator { float: left; height: 24px; border-left: 1px solid #ccc; border-right: 1px solid #fff; margin: 3px 1px; }
.pagination-num { border: 1px solid #ccc; margin: 0 2px; }
.pagination-page-list { margin: 0px 6px; }
.pagination-info { float: right; padding-right: 6px; padding-top: 8px; font-size: 12px; }
.pagination span { font-size: 12px; }
.pagination-first { background: url('images/pagination_first.gif') no-repeat; }
.pagination-prev { background: url('images/pagination_prev.gif') no-repeat; }
.pagination-next { background: url('images/pagination_next.gif') no-repeat; }
.pagination-last { background: url('images/pagination_last.gif') no-repeat; }
.pagination-load { background: url('images/pagination_load.png') no-repeat; }
.pagination-loading { background: url('images/pagination_loading.gif') no-repeat; }
.panel { overflow: hidden; font-size: 12px; }
.panel-header { padding: 5px; line-height: 15px; color: #15428b; font-weight: bold; font-size: 12px; background: url('images/panel_title.png') repeat-x; position: relative; border: 1px solid #59b9ea; }
.panel-header-noborder { border-width: 0px; border-bottom: 1px solid #01B2BF; }
.panel-body { overflow: auto; border: 1px solid #01B2BF; border-top-width: 0px; background-color:#ECF9FA; }
.panel-body-noheader { border-top-width: 1px; }
.panel-body-noborder { border-width: 0px; }
.panel-with-icon { padding-left: 18px; }
.panel-icon { position: absolute; left: 5px; top: 4px; width: 16px; height: 16px; }

.panel-tool { position: absolute; right: 5px; top: 4px; }
.panel-tool div { display: block; float: right; width: 16px; height: 16px; margin-left: 2px; cursor: pointer; opacity: 0.6; filter: alpha(opacity=60); }
.panel-tool div.panel-tool-over { opacity: 1; filter: alpha(opacity=100); }
.panel-tool-close { background: url('images/panel_tools.gif') no-repeat -16px 0px; }
.panel-tool-min { background: url('images/panel_tools.gif') no-repeat 0px 0px; }
.panel-tool-max { background: url('images/panel_tools.gif') no-repeat 0px -16px; }
.panel-tool-restore { background: url('images/panel_tools.gif') no-repeat -16px -16px; }
.panel-tool-collapse { background: url('images/panel_tool_collapse.gif') no-repeat; }
.panel-tool-expand { background: url('images/panel_tool_expand.gif') no-repeat; }
.panel-loading { padding: 11px 0px 10px 30px; background: url('images/panel_loading.gif') no-repeat 10px 10px; }

.s-btn-downarrow { display: inline-block; width: 16px; background: url('images/menu_downarrow.png') no-repeat 9px center; }

a.s-btn-active { background-position: bottom right; }
a.s-btn-active span.l-btn-left { background-position: bottom left; }
a.s-btn-active .s-btn-downarrow { background: url('images/menu_split_downarrow.png') no-repeat 4px center; }
a:hover.l-btn .s-btn-downarrow { background: url('images/menu_split_downarrow.png') no-repeat 4px center; }

a.s-btn-plain-active { background: transparent; border: 1px solid #7eabcd; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
a.s-btn-plain-active .s-btn-downarrow { background: url('images/menu_split_downarrow.png') no-repeat 4px center; }
.tabs-container { overflow: hidden; background: #fff; }
.tabs-header { border: 1px solid #04B3BE; border-bottom: 0px; position: relative; overflow: hidden; padding: 0px; padding-top: 2px; overflow: hidden; background-image: url(../../../images/ef_skin/tab_head_bj.png); }
.tabs-header-noborder { border: 0px; }
.tabs-header-plain { border: 0px; background: transparent; }
.tabs-scroller-left { position: absolute; left: 0px; top: -1px; width: 18px; height: 28px !important; height: 30px; border: 1px solid #04B3BE; font-size: 1px; display: none; cursor: pointer; background: #E0ECFF url('images/tabs_leftarrow.png') no-repeat 1px 5px; }
.tabs-scroller-right { position: absolute; right: 0; top: -1px; width: 18px; height: 28px !important; height: 30px; border: 1px solid #04B3BE; font-size: 1px; display: none; cursor: pointer; background: #E0ECFF url('images/tabs_rightarrow.png') no-repeat 2px 5px; }
.tabs-header-plain .tabs-scroller-left { top: 2px; height: 25px !important; height: 27px; }
.tabs-header-plain .tabs-scroller-right { top: 2px; height: 25px !important; height: 27px; }
.tabs-scroller-over { background-color: #ECF9F9; }
.tabs-wrap { position: relative; left: 0px; overflow: hidden; width: 100%; margin: 0px; padding: 0px; }
.tabs-scrolling { margin-left: 18px; margin-right: 18px; }
.tabs { list-style-type: none; height: 26px; margin: 0px; padding: 0px; padding-left: 4px; font-size: 12px; width: 5000px; border-bottom: 1px solid #04B3BE; }
.tabs li { float: left; display: inline-block; margin1: 0px 1px; margin-right: 4px; margin-bottom: -1px; padding: 0; position: relative; border: 1px solid #04B3BE; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; }
.tabs li a.tabs-inner { display: inline-block; text-decoration: none; color: #416AA3; background: url('images/tabs_enabled.png') repeat-x left top; margin: 0px; padding: 0px 10px; height: 25px; line-height: 25px; text-align: center; white-space: nowrap; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; }
.tabs li a.tabs-inner:hover { background: url('images/tabs_active.png') repeat-x left bottom; }
.tabs li.tabs-selected { border: 1px solid #04B3BE; border-bottom: 1px solid #fff; border-top1: 2px solid #04B3BE; }
.tabs li.tabs-selected a { color: #416AA3; font-weight: bold; background: #fff; background: #7eabcd url('images/tabs_active.png') repeat-x left bottom; outline: none; }
.tabs li.tabs-selected a:hover { cursor: default; pointer: default; }
.tabs-with-icon { padding-left: 20px; }
.tabs-icon { position: absolute; width: 16px; height: 16px; left: 12px; top: 3px; }
.tabs-closable { padding-right: 8px; }
.tabs li a.tabs-close { position: absolute; font-size: 1px; display: block; padding: 0px; width: 11px; height: 11px; top: 3px; right: 3px; opacity: 0.6; filter: alpha(opacity=60); background: url('images/tabs_close.gif') no-repeat; }
.tabs li a:hover.tabs-close { opacity: 1; filter: alpha(opacity=100); cursor: hand; cursor: pointer; }


.tabs-panels { margin: 0px; padding: 0px; border: 1px solid #04B3BE; border-top: 0px; overflow: auto; }
.tabs-panels-noborder { border: 0px; }
.tree { font-size: 12px; margin: 0; padding: 0; list-style-type: none; }
.tree li { white-space: nowrap; }
.tree li ul { list-style-type: none; margin: 0; padding: 0; }
.tree-node { height: 18px; white-space: nowrap; cursor: pointer; }
.tree-indent { display: inline-block; width: 16px; height: 18px; vertical-align: middle; }
.tree-hit { cursor: pointer; }
.tree-expanded { display: inline-block; width: 16px; height: 18px; vertical-align: middle; background: url('images/tree_arrows.gif') no-repeat -18px 0px; }
.tree-expanded-hover { background: url('images/tree_arrows.gif') no-repeat -50px 0px; }
.tree-collapsed { display: inline-block; width: 16px; height: 18px; vertical-align: middle; background: url('images/tree_arrows.gif') no-repeat 0px 0px; }
.tree-collapsed-hover { background: url('images/tree_arrows.gif') no-repeat -32px 0px; }
.tree-folder { display: inline-block; background: url('images/tree_folder.gif') no-repeat; width: 16px; height: 18px; vertical-align: middle; }
.tree-folder-open { background: url('images/tree_folder_open.gif') no-repeat; }
.tree-file { display: inline-block; background: url('images/tree_file.gif') no-repeat; width: 16px; height: 18px; vertical-align: middle; }
.tree-loading { background: url('images/tree_loading.gif') no-repeat; }
.tree-title { display: inline-block; line-height1: 18px; text-decoration: none; vertical-align: middle; padding: 1px 2px 1px 2px; white-space: nowrap; }

.tree-node-hover { background: #fafafa; }
.tree-node-selected { background: #FBEC88; }
.validatebox-invalid { background: #FFFFEE url('images/validatebox_warning.png') no-repeat right 1px; }
.validatebox-tip { position: absolute; width: 200px; height: auto; display: none; z-index: 9900000; }
.validatebox-tip-content { display: inline-block; position: absolute; top: 0px; left: 10px; padding: 3px 5px; border: 1px solid #CC9933; background: #FFFFCC; z-index: 9900001; font-size: 12px; }
.validatebox-tip-pointer { background: url('images/validatebox_pointer.gif') no-repeat left top; display: inline-block; width: 10px; height: 19px; position: absolute; left: 1px; top: 0px; z-index: 9900002; }
.window { font-size: 12px; position: absolute; overflow: hidden; background: transparent url('images/panel_title.png'); background1: #878787; padding: 5px; border: 1px solid #01B2BF; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.window-shadow { position: absolute; background: #ddd; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2,MakeShadow=false,ShadowOpacity=0.2); }
.window .window-header { background: transparent; padding: 2px 0px 4px 0px; }
.window .window-body { background: #fff; border: 1px solid #01B2BF; border-top-width: 0px; }
.window .window-header .panel-icon { left: 1px; top: 1px; }
.window .window-header .panel-with-icon { padding-left: 18px; }
.window .window-header .panel-tool { top: 0px; right: 1px; }
.window-proxy { position: absolute; overflow: hidden; border: 1px dashed #15428b; }
.window-mask { position: absolute; left: 0; top: 0; width: 100%; height: 100%; filter: alpha(opacity=40); opacity: 0.40; background: #ccc; display1: none; font-size: 1px; *zoom:1;
overflow:hidden;
}
