.panel { overflow: hidden; font-size: 12px; }
.panel-header { padding: 5px; line-height: 15px; color: #15428b; font-weight: bold; font-size: 12px; background: url('images/panel_title.png') repeat-x; position: relative; border: 1px solid #01B2BF; }
.panel-header-noborder { border-width: 0px; border-bottom: 1px solid #01B2BF; }
.panel-body { overflow: auto; border: 1px solid #01B2BF; border-top-width: 0px; }
.panel-body-noheader { border-top-width: 1px; }
.panel-body-noborder { border-width: 0px; }
.panel-with-icon { padding-left: 18px; }
.panel-icon { position: absolute; left: 5px; top: 4px; width: 16px; height: 16px; }

.panel-tool { position: absolute; right: 5px; top: 4px; }
.panel-tool div { display: block; float: right; width: 16px; height: 16px; margin-left: 2px; cursor: pointer; opacity: 0.6; filter: alpha(opacity=60); }
.panel-tool div.panel-tool-over { opacity: 1; filter: alpha(opacity=100); }
.panel-tool-close { background: url('images/panel_tools.gif') no-repeat -16px 0px; }
.panel-tool-min { background: url('images/panel_tools.gif') no-repeat 0px 0px; }
.panel-tool-max { background: url('images/panel_tools.gif') no-repeat 0px -16px; }
.panel-tool-restore { background: url('images/panel_tools.gif') no-repeat -16px -16px; }
.panel-tool-collapse { background: url('images/panel_tool_collapse.gif') no-repeat; }
.panel-tool-expand { background: url('images/panel_tool_expand.gif') no-repeat; }
.panel-loading { padding: 11px 0px 10px 30px; background: url('images/panel_loading.gif') no-repeat 10px 10px; }

