#wBox .wBox_b {
	filter:alpha(opacity=80);
    -moz-opacity:0.8;
    opacity: 0.8;
  background-image:url(wbox.gif);/*外部粗边框图片*/
  width:10px;
}

#wBox 
{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
  display:none;
}

#wBox .wBox_popup {
  position: relative;
}

#wBox table {
	border-collapse: collapse;
    border-spacing: 0;
}

#wBox td {
  border-bottom: 0;
  padding: 0;
}

#wBox .wBox_body {
  background-color:#ffffff;
    border:1px solid #60b4c9;/*内部边框颜色*/ 

}

#wBox img {
  border: 0;
  margin: 0;
}
#wBox .wBox_title {
  height:28px;
  color:#000000;
  width:100%;
  background:url(titleBG.png) repeat-x;/*窗头部件*/
}
#wBox .wBox_title .wBox_itemTitle{
    padding-left:5px;
    overflow:hidden;
	font-size:14px;
font-weight:bold;
}
#wBox .wBox_title .wBox_close{
    background:url(close.png) no-repeat 0 0;/*关闭按钮*/
    height:14px;
    width:14px;
    overflow:hidden;
    cursor:pointer;
}
#wBox .wBox_title .on{
    background-position:0 -14px;
}
#wBox .wBox_tl, #wBox .wBox_tr, #wBox .wBox_bl, #wBox .wBox_br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  background-image:url(wbox.gif);
  padding: 0;
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  opacity: 0.8;
}

#wBox #wBoxContent{
	padding:3px;
}
#wBox_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}
#wBox .wBox_load{
	width:270px;
}
.wBox_hide {
  z-index:-100;
}

.wBox_overlayBG {
  background-color:black;
  	filter:alpha(opacity=20);
    -moz-opacity:0.2;
    opacity: 0.2;
  z-index: 99;
}
#wBox #wBox_loading{
	width:32px;height:32px;margin:0 auto;
}