﻿ html,body{margin: 0 auto;width:100%;height:100%;font-size:13px!important; font-family:微软雅黑,新宋体,宋体,sans-serif!important;background-color:#8CC6E1}
    a{text-decoration:none!important;color:#304C7E!important;}
    /*一个大的Container，防止溢出*/
    .container{width:100%;margin:0 auto;height:100%;float:left;}
    /*顶部*/
    .top{width:100%;height:111px;background:url(../images/topbg.jpg) repeat-x}
    .topwrapper{width:1000px;margin:0 auto;height:100%;}
    .topnav{width:100%;height:25px;line-height:25px;text-align:right;float:left;}
    /*LOGO部位*/
    .logowrapper{width:320px;float:left;}
    .logo{background:url(../images/logo.png) no-repeat;height:80px;float:left;width:315px;}
    .logosplitter{background:url(../images/splitter.jpg) no-repeat 0px 15px;height:80px;float:left;width:5px;margin-left:5px;}
    .logosubtitle{background:url(../images/subtitle.jpg) no-repeat 0px 25px;height:80px;float:left;width:83px;margin-left:5px;}
    /*菜单部位*/
    .menu{width:665px;float:right;height:55px;margin-top:32px;}
    .menu a{font-size:14px;font-weight:bold;}
    .menuselected{width:95px;float:left;height:55px;background:url(../images/menubg.jpg) no-repeat;text-align:center;line-height:55px;cursor:pointer;}
    .menuunselected{width:95px;float:left;height:55px;background:none;text-align:center;line-height:55px;cursor:pointer;}
    /*公告部分*/
    .notify{width:1000px;height:35px;margin:0 auto;border:1px solid red;margin-top:12px;line-height:35px;border:1px solid #E4E4E4;border-left:3px solid #3B7046;}
    .notifylogo{width:100px;height:100%;float:left;}
    .notifylogo img{margin-left:10px;margin-right:5px;}
    .notifylogo span{font-weight:bold;}
    .notifycontent{width:840px;height:100%;float:left;}
    .notifymore{width:60px;height:100%;float:left;color:#808080;}
    
    
    .footer{width:1000px;min-height:70px;border:1px solid #DDDDDD;margin:0 auto;}
    .footertitle{width:100%;float:left;border-bottom:3px solid #437244;height:35px;line-height:35px;}
    .footertitle span{margin-left:20px;font-weight:bold;color:#407542;}
    .footercontent{width:100%;}
    .footernav{width:100%;height:35px;line-height:35px;background-color:#007247;margin-top:15px;text-align:center;color:White;}
    .footernav a{color:white!important;}
    .footerlink{width:160px;margin-right:5px;margin-top:5px;float:left;text-align:center;}
    .footerwrapper{width:100%;margin:0 auto;padding:20px;margin-top:20px;}
    .footerlogo{width:1000px;height:80px;margin:0 auto;margin-top:15px;}
    .footercopyright{width:100%;text-align:center;margin-top:20px;color:#8F8F8F;}


   .loginwrapper{width:1000px;height:449px;margin:0 auto;}
        .loginleft{width:568px;height:100%;background:url(../images/img.png) no-repeat;float:left;}
        .loginright{width:308px;height:358px;background:url(../images/login.png) no-repeat;float:right;margin-top:40px;}
        .loginul{list-style:none;padding:0;margin:0;float:left;width:100%;}
        .loginuserli{float:left;}
        .loginuserli input{margin-right:10px;border:1px solid #8CC6E1;width:150px;border-radius:7px;font-size:14px;height:26px;background:#fff url(../images/login/user.png) no-repeat 5px 2px;padding-left:30px;}
        .loginpwdli{float:left;height:50px;}
        .loginpwdli input{margin-right:10px;border:1px solid #8CC6E1;width:150px;border-radius:7px;font-size:14px;height:26px;background:#fff url(../images/login/pwd.png) no-repeat 5px 2px;padding-left:30px;}
        .logincodeli{float:left;height:50px;}
        .logincodeli input{border:none;border-bottom:1px solid #8CC6E1;width:60px;border-radius:7px;font-size:14px;height:26px;background:#fff url(../images/login/code.png) no-repeat 5px 2px;padding-left:30px;}
        .logincodeli img{cursor: pointer;height:22px;position:relative;top:2px;}
        .loginbtnli{float:left;height:50px;}
        .loginbtnli input{background:url(../images/login/go.png) no-repeat center;width:30px;height:30px;border:0;cursor:pointer;margin-left:10px;}
        .loginvalili{float:left;height:30px;}
        .infocenter{width:420px;height:30px;line-height:30px;float:left;color:Red;}
        
        #mainBgBody{background:url(../images/newLogin/rightBg.png) no-repeat;background-position:bottom right;height:700px;}
        #middleContent{width:1048px; margin:0 auto;height:340px; }
        #middleContent #leftTextArea{float:left; color:#fff; margin-top:40px; width:400px;font-size:14px;}
        #middleContent #leftTextArea #title{ color:#fff; font-size:32px; font-weight:bold; margin-bottom:30px;}
        #middleContent #leftTextArea #deciscript{ line-height:30px;font-size:18px; letter-spacing:5px;}
        #middleContent #rightImgArea{ float:right;margin-right:100px;}
        #divImageList{width:1048px; margin:0 auto;}
        #divImageList ul{  list-style:none;}
        #divImageList ul li{ list-style:none; height:133px; line-height:133px; float:left; margin-right:2px;  cursor:pointer;}
        .enterPlatform{ width:100%; height:33px;line-height:33px;text-align:center; margin-top:20px; cursor:pointer;border:1px solid red;}
        .footer{width:1048px; margin:0 auto;margin-top:20px;}
        .footer p{ line-height:25px; height:25px; text-align:center; color:#000;margin-top:10px;}
        .func{cursor:pointer;}
        .func {-webkit-transition: -webkit-transform 0.5s ease-out;-moz-transition: -moz-transform 0.5s ease-out;-o-transition: -o-transform 0.5s ease-out;-ms-transition: -ms-transform 0.5s ease-out;}
        .func:hover {-webkit-transform: rotateZ(360deg);-moz-transform: rotateZ(360deg);-o-transform: rotateZ(360deg);-ms-transform: rotateZ(360deg);transform: rotateZ(360deg);}