﻿.searchcontainer{width:1000px;height:auto;margin:0 auto;margin-bottom:10px;margin-top:10px;}

.datacontainer{width:1000px;height:auto;margin:0 auto;}

.paramcontainer{width:1000px;height:auto;margin:0 auto;}

.chartcontainer{width:1000px;height:auto;margin:0 auto;margin-bottom:10px;margin-top:10px;}

.controllercontainer {width:1020px;height:auto;margin:0 auto;}

.notifymore{width:0px!important;}

.row{margin-top:3px;}

#content {width:100%;}