﻿body
{
     font-family:微软雅黑,新宋体,宋体,sans-serif
}

        /*公用 开始*/
          ul
          {
         padding:0px;
         margin:0px;
         }
         ul li
         {
              list-style:none;
         }
         a
         {
             cursor:pointer;
         }
         a:hover
         {

         }

          /*dot线条*/
        .dotdiv
        { 
            width: 460px;
            border-bottom: 1px dotted #E2E2E2;
            margin:8px 12px;
            padding:0px;
            height:1px;
        }
            .contentinfo{width:1000px; height:auto; margin:10px auto; background-color: #F7F7F7;  font-size: 10pt;  }     
        .body
        {
             font-size:9px;
              background:#f7f7f7;
        }

         /*公用 结束*/

        /* 第一个板块*/

        .contentfirst
        {
            height: 516px;
        }
        /*left板块*/
        .divleft1
        {
            width: 265px;
            height: 100%;
            float: left;
            margin-right: 15px;
        }
        .tdzs
        {
            height: 138px;
            margin-bottom: 22px;
            border: 1px solid #cfcfcf;
            background-image: url('../images/fn_index_03.png');
        }
        
        .divleft1 ul li
        {
            text-decoration: none;
            height: 50px;
            margin: 23px 0px 0px 0px;
            cursor: pointer;           
           
        }

        .divcenter1
        {
            width: 484px;
            margin-right: 15px;
            height: 100%;
            float: left;
        }
        .jrttinfo
        {
            width: 100%;
            height: 465px;
            border: 1px solid #DEDEDE;
        }
        .divjrtt1
        {
            height: 106px; width: 100%; border: none;
        }
        .divjrtt2
        {
            height: 26px; padding-top: 6px;
        }

        .spanjrtt2
        {
            float: right; margin-right: 15px;
     color: #aaa; margin-top: 5px;
        }
        .spanjrtt2 b
        {
            width: 10px; height: 12px; display: inline-block;
       background: url('../images/gdsanjiao.png')
        }
          .jrtitle
        {
            text-align: center;
            padding: 0px;
            margin: 0px;
        }
        .jrtitle div:first-child a
        {
            font-size: 20pt; 
            font-weight: 900; 
            color: #016C04; 
            font-family: 微软雅黑;
            filter: blur(add=1, direction=45, strength=5)
        }
        .jrtext
        {
            font-size: 12pt; padding-top: 12px;
        }

          /* 第一个内容右侧 标题 开始*/
        .divright1
        {
            width: 215px;
            height: 514px;
            border: 1px solid #dedede;
            float: left;

        }
        #tdzyfltop
        {
            height: 6px;
            background-color: #2B842A;

        }
        .tdzyfl
        {
            border-bottom:2px solid #EEEEEE; height: 31px; background: #F7F7F7; color: #048008; font: bold 12pt/2.0em 微软雅黑;
                    padding-left: 10px;
        }

        .zyfltitlediv
        {
            font: bold 11pt/1.5em 微软雅黑;
            height:20px;
            clear:both;
        }
        .zyfltitleSelect
        {
            color: #1E8C1C;
            margin-right: 10px;
            margin-left: 10px;
        }
        .zyfltitlediv hr
        {

            margin:0px 0px 0px 4px;!important;
            margin:0px 6px;
            color: #DEDEDE;
        }
        .qgcity
        {
            width:auto;
            height:auto;
            margin-top:5px !important;
             margin-top:0px;
        }
         .qgcity div:first-child
        {
            width: 214px;
            float:left;
        }
        .qgcity ul
        {
          
            
        }
        .qgcity ul li
        {
            float: left;
            border: 1px solid #DDDDDD;
            margin-left: 13px;
            margin-top: 4px;
            width: 85px;
            text-align: center;
            padding-top: 4px;
            height: 20px;
            font-size: 9pt;

        }
        /* 第一个内容右侧 标题 结束*/

        /* 第二个板块 间隔小图片*/

        .contentbetween
        {
            height: 111px;
            margin-top:10px;
            margin-bottom:10px;
            border:0px solid red;
        }

         .contentbetween ul li
        {
             float:left;
             margin-left:8px;
        }
          .contentbetween ul li img
        {
              height:110px;
              width:192px;
        }

        /* 住宅土地流转*/

        .content5
        {
            height: 492px;
            border:1px solid #DCDCDC;
        }
        .liuzhuantitle
        {
            background:#F5F5F5;
            line-height:36px;
            padding-left:10px;
            
           
        }
         .liuzhuantitle b
         {
             text-align:center; padding-top:6px;
            color:#007249; font: bold 12pt/2.0em 微软雅黑;
            display:inline-block;
            background-image:url('../images/fn_36.png');
            width:191px; height:33px; margin-top:-3px;
            float:left;
         }
        .liuzhuuantype
        {
            display:inline-block;
            float:right;
            margin-right:5px;
        }
        .liuzhuuantype ul li
        {
             float:left;
        }
        .liuzhuaninfo
        {
            padding-top:5px;
        }
        .productinfo
        {
          width:726px;
          float:left;
        }
        .productinfo a
        {
             color:#133DB6;
             font:10pt/1.4em 微软雅黑;
        }
        .productinfo a:hover
        {
            color:Red;
        }
         .productinfo ul div
         {
               color:red;
             font:12pt/1.4em 微软雅黑;
         }

        .productinfo ul
        {
            margin:20px 20px 20px 0px;             
             height:420px;
        }

         .productinfo ul li
        {
             float:left;
             width:160px;
             height:220px;
             padding-left:16px;

        }
       .productinfo ul li img
        {
            width:159px;
            height:122px;

        }
        /* 流转右侧新闻列表以及图片 开始*/
        .liuzhuanright
        {
            width:248px; 
            float:left;
             margin-left:11px;
              background-color:#F7F7F7;
              padding-left:8px;
              padding-right:5px;
        }
        .liuzhuanright b
        {
             display:block;
             font: 12pt/1.5em 微软雅黑;
             line-height:30px;
             margin-top:10px;
             
        }
        .liuzhuanrightdiv
        {
            border-bottom: 1px dotted #A9CAED;
            color:#818181;
             line-height:22px;
             height:54px
        }
         .liuzhuanRinfo ul
        {
            margin-top:10px;
            margin-bottom:10px;            
         }
        .liuzhuanRinfo li
        {
            float:left;
            line-height:22px;
            width: 100%;
            height: 24px;
            
         }        
         
        .liuzhuanlist1
       {
            height:78px;
       }
       .liuzhuanlist1 li
       {
       }     
       .liuzhuanlist2
       {           
       }
       .liuzhuanimglist2 li
       {
           height:64px;
           margin-top:5px;
       }
       .liuzhuanimglist2 img
       { 
           width:225px;
           height:62px;  
       }
       /* 流转右侧新闻列表以及图片 结束*/

        /*间隔小图片*/

        .content6
        {
            height: 92px;
            margin: 11px 0px 20px 0px;
        }
        /*商业土地流转同住宅土地流转 css*/

        .content7
        {
            height: 492px;
        }

        /*图文混排 图片在左*/
         .jrttstyle
        {
            font-weight: bold;
            font-size: 12pt;
            margin-left: 16px;
        }
        dl, dt, dd
        {
            padding: 0px;
            margin: 0px;
        }
       
        .jrtjtw2
        {
            height:107px;
        }
        .jrtjtw2 dt
        {
            float:left;
             width:172px;
            margin:0px,20px;
        }
        .jrtjtw2 dt img
        {
            border: 1px solid #DCDCDE;
            border-bottom-color: #7F7F7F;
            border-right-color: #7F7F7F;
            width: 148px;
            height: 106px;
            margin-left:10px;
        }
        .lzxxInfotitle
       {
            font-size: 12pt;
            font-weight: bold;
             margin-top:10px;

       }
         .jrtjtw2 dl dd ul
         {
              color:Red;
              padding-top:20px;
              padding-left:20px;
         }
          .jrtjtw2 ul li
          {
             float:left;
             width:125px;
             height:20px;
             margin-left:10px;
            font-size: 9pt;
          }
      
        .jrtjtw
        {
            height: 103px;
        }
        .jrtjtw  dt
        {
            float: left;
            width: 172px;
            margin: 0px 20px;
        }
        .jrtjtw dt img
        {
            padding: 4px;
            border: 1px solid #DCDCDE;
            border-bottom-color: #7F7F7F;
            border-right-color: #7F7F7F;
            width: 160px;
            height: 98px;
        }

        .jrtjtw dl
        {
            width: 480px;
            margin: 5px;
            margin-bottom: 10px;
            display: inline;
            float: left;
        }
        .jrtjtw dl dd
        {
            float: left;
            width: 250px;
        }
         .box-text
        {
            font-size: 10pt;
            font-weight: bold;
        }
        .box-shuoming
        {
            margin-top: 5px;
             font-family:宋体;
             font-size:9pt;
        }

        /*今日头条样式*/

        .centerfirst
        {
            height: 32px;
            border: 3px solid #407b11;
            margin: 0px 0px 10px 0px;
        }
        .selectdiv
        {
            height: 96%;
            width: 100px;
            background-color: #f6f6f6;
            float: left;
        }
        /* 类型选择*/
        #searchtype
        {
            height: 25px;
            margin: 5px;
            border: none;
            background: #f6f6f6;
        }
         /* 找土地搜索框*/
        .divsearchtxt input
        {
            float: left;
            height: 30px;
            width: 282px;
            border: none;
            font-size: 13pt;
        }
        /* 找土地按钮样式*/
        .divsearchtxt a
        {
            cursor: pointer;
            float: right;
            width: 90px;
            margin: 0px;
            padding: 0px;
            height: 32px;
            background-image: url('../images/fn_index_05.png');
        }
        .jrtjxw
        {
            height: 55px;
        }
        .jrtjxw ul li
        {
             line-height:25px;
             font-size:10pt;
             padding-left:10px;
             color: #767676;
        }
        
            .rmztleft
        {
            width: 700px;
            height: 247px;
            border: 1px solid #E3E3E3;
            float: left;
        }
        .rmzttitle
        {
            background: #F5F5F5;
            height: 37px;
            line-height: 37px;
        }
        .rmzttitle b
        {
            margin-left: 20px;
            margin-top: 6px;
            float: left;
            font: bolder 12pt/1.5em 宋体;
        }
        .rmzttitle span
        {
            float: right;
            margin-right: 36px;
        }
        .rmzttuwen
        {
            margin: 10px 19px 15px 10px;
            height: 112px;
            border-bottom: 1px dotted #eeeeee;
        }
        .rmzttuwen dl
        {
            width: 327px;
            float: left;
        }
        .rmzttuwen dl dd
        {
            float: left;
            width: 190px;
        }
        .rmzttuwen dt
        {
            float: left;
            margin-right: 10px;
        }
        .rmzttuwen dt img
        {
            width: 120px;
            height: 91px;
        }
        .tuwentitle
        {
            font: bold 10pt/1.5em 宋体;
            line-height: 25px;
        }
        .tuwentitle a
        {
            color: #214099;
        }
        .tuwentext
        {
            line-height: 25px;
        }
         .rmztnews ul
              {
                  margin-left:27px;
              list-style:square inside ;
              }
        .rmztnews li
        {
            width: 326px;
            line-height: 21px;
            color: #717171;
            float:left;
            list-style: square inside ;
        }
        
            .tdtools
            {
             width:282px; height:149px; border:1px solid #EAEAEA;
             float:left; margin-left:10px;
            }
            .tdtools div:first-child
            {
              height:36px; background:#1C8C1E; line-height:35px;
            }
            .tdtools div b
            {
              float:left; font-size:12pt; margin-left:10px;
            }
            .tdtools div span
            {
              margin-right:8px; display:inline-block; float:right;
            }
            .tdtools ul
            {
                margin-top:20px;
                margin-left:20px;
            }
            .tdtools  li
            {
                float:left;
                width:129px;
                height:45px;
                line-height:45px;
            }
            .tdtools  li img
            {
                 width:18px;
                 height:18px;
                 position:relative;
                 top:4px;
            }
            .cpycdiv 
            {
                margin-left:10px;
                 float:left;
                 margin-top:8px;
            }
            .cpycdiv img
            {
                width: 286; height: 89px;
            }
            .clearbothdiv
            {
                clear:both; height:0px; border:none;
            }