﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/admin/js/jqueryeasyui/themes/gray/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/js/jqueryeasyui/themes/icon.css")"        rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/jquery-1.7.2.min.js")"   type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/jquery.easyui.min.js")"  type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/locale/easyui-lang-zh_CN.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jquery.validationEngine/jquery.validationEngine-zh_CN.js")" type="text/javascript"></script>  
    @RenderSection("scripts", required: false)
</head>
<body>
@RenderBody()
</body>
</html>
