﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts{
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemonSignalSelect.js")" type="text/javascript"></script>

    <style type="text/css">
        #container td input{border:none;border-bottom:1px solid gray;}
        .closeMePls {cursor:pointer;}
        .onSelectImg {cursor:pointer;width:130px;}
    </style>
    <script type="text/javascript">
        var DataURL = "GetControllerListByPage";
        var ColumnData = [[
                            {
                                field: 'company_id', title: '所属公司',
                                 formatter: function (value, row, index) {
                                     return row.company_name;
                                 },
                                 editor: {
                                     type: 'combobox',
                                     options: {
                                         valueField: 'id',
                                         textField: 'name',
                                         url: '/BaseData/GetSchoolByFlag',
                                         onLoadSuccess: function (data) {
                                             if (data.success) {
                                                 //绑定公司数据
                                                 $(this).combobox("loadData", data.data);

                                                 //找到绑定设备列表的Editor
                                                 var row = $("#dg").datagrid('getSelected');
                                                 var rindex = $("#dg").datagrid('getRowIndex', row);
                                                 var cityed = $("#dg").datagrid('getEditor', { index: rindex, field: 'machine_id' });

                                                 //开始绑定设备列表，然后为其指定默认值(需要绑定Onloadsuccess方法和OnSelect方法)
                                                 $.bindCombobox('GetMachineBy', "{companyId:" + row.company_id + "}", "machine_id", "machine_name", $(cityed.target), null,
                                                 function (data) {
                                                     //设置设备默认值
                                                     $(cityed.target).combobox("setValue", row.machine_id);
                                                 },
                                                 function (record) {});
                                             }
                                         },
                                         onSelect: function (currentrow) {
                                             //当选择公司的时候
                                             var row = $("#dg").datagrid('getSelected');
                                             var rindex = $("#dg").datagrid('getRowIndex', row);
                                             var ed = $("#dg").datagrid('getEditor', { index: rindex, field: 'machine_id' });
                                             // //找到绑定设备的列 然后绑定其editor
                                             debugger;
                                             $.bindCombobox('GetMachineBy', "{companyId:" + currentrow.id + "}", "machine_id", "machine_name", $(ed.target), null, null, function (record) { });
                                         },
                                         required: true
                                     }
                                 }, width: 100
                            },
                            {
                                field: 'machine_id', title: '设备名称', formatter: function (value, row, index) {
                                    return row.machine_name;
                                }, editor: {
                                    type: 'combobox',
                                    options: {
                                        valueField: 'machine_id',
                                        textField: 'machine_name',
                                        required: true
                                    }
                                }, width: 150
                            },
                            {
                                field: 'machine_type', title: '所属类别',
                                formatter: function (value, row, index) {
                                    return row.type_name;
                                },
                                editor: {
                                    type: 'combobox',
                                    options: {
                                        valueField: 'settingvalue1',
                                        textField: 'settingname',
                                        url: '/BaseData/GetBaseSettingBy?groupname=machinetype',
                                        required: true
                                    }
                                }, width: 120
                            },
                            { field: 'route_id', title: '路数编号', editor: 'text', width: 50 },
                            { field: 'route_name', title: '路数名称', editor: 'text', width: 150 },
                            { field: 'route_multiple', title: '多向配置', editor: 'buttonS', width: 200 },
                            { field: 'route_delay', title: '控制延时(秒)', editor: 'numberbox', width: 70 },
                            { field: 'route_note', title: '配置备注', editor: 'text', width: 100 },
                            { field: 'recordorder', title: '排序', editor: 'numberbox', width: 50 },
                            { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
        ]];

    var SaveRecords = function () {
        //只有先endedit之后，值才会传到后台。
        endEdit();
        var inserted = $('#dg').datagrid('getChanges', "inserted");
        var deleted = $('#dg').datagrid('getChanges', "deleted");
        var updated = $('#dg').datagrid('getChanges', "updated");
        var effectRow = new Object();
        if (inserted.length) {
            effectRow["inserted"] = JSON.stringify(inserted);
        }
        if (deleted.length) {
            effectRow["deleted"] = JSON.stringify(deleted);
        }
        if (updated.length) {
            effectRow["updated"] = JSON.stringify(updated);
        }
        $.post("CommitControllerConfigDetails", effectRow, function (response) {
            if (response.success)
                $.messager.show({ title: '操作成功', msg: response.success });
            else
                $.messager.show({ title: '操作失败', msg: response.error });

            $('#dg').datagrid('reload');
        }, "JSON");
    }

    $.bindCombobox = function (url, dataparam, valueF, textF, stuff, formatterItem, loadSuccess, selectItem) {
        $.ajaxWebService(url, dataparam, function (data) {
            if (data.success) {
                var result = data.data;
                debugger;
                stuff.combobox({
                    valueField: valueF,
                    textField: textF,
                    data: result,
                    formatter: formatterItem,
                    onLoadSuccess: loadSuccess,
                    onSelect: selectItem
                });
            }
            else {
                alert(data.message);
            }
        });
    }

    $.ajaxWebService = function (url, dataparam, datasuccess) {
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            url: url,
            data: dataparam,
            success: datasuccess,
            error: function (a, b, c) { }
        });
    }

    $(document).ready(function () {
        $(".closeMePls").live("click", function () {
            $(this).parent().parent().remove();
        });

        $(".onSelectImg").live("click", function () {
            var currentTag = $(this).attr("name");
            $("#curTag").val(currentTag);
            $("#icondlg").dialog('open');
        });
    })
  
</script>

<script>
    var globalRouteMultiple;

    $.extend($.fn.datagrid.defaults.editors, {
        buttonS: {
            init: function (container, options) {
                var html = '<input type="text"  onclick="openConfigDialog()"/>';
                var input = $(html).appendTo(container);
                return input.linkbutton(options);
            },
            destroy: function (target) {
                $(".closeMePls").parent().parent().remove();
            },
            getValue: function (target) {
                var result = saveConfig();
                if (result == null || result == "" || result == ",,") 
                    return $(target).val();
                else
                    return result;
            },
            setValue: function (target, value) {
                $(target).val( value);
            },
            resize: function (target, width) {
            }
        }
    });

    function openConfigDialog()
    {
        $('#dlg').dialog('open');
    }

    var globalCount = 0;

    function addOneRow()
    {
        globalCount++;
        $("#container").append('<tr><td><input type="text" style="width:50px;"/></td><td><input type="text" style="width:120px;" /></td><td><input type="text" name=s'+globalCount+' class="onSelectImg" /></td><td><span class="closeMePls">X</span></td></tr>');
    }

    function saveConfig()
    {
        var container = [];
        var group = [];
        $("#container input").each(function (index) {
            var curIndex = index + 1;
            var curValue = $(this).val();

            if (curIndex % 3 != 0)
            {
                //push标志和文字
                group.push(curValue);
            }
            else
            {
                //push图标值进来
                group.push(curValue);
                //格式化
                var fmtGroup = group.join(",");

                container.push(fmtGroup);
                //置空，等待下次循环使用
                group = [];
            }
        });

        var fmtContainer = container.join("|");
        return fmtContainer;
    }
</script>
}
<table id="dg" title="控制设备配置信息维护"></table>
<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput" class="easyui-searchbox" style="width:200px;" />

<div id="dlg"
     class="easyui-dialog"
     title="多向配置对话框"
     data-options="modal: true
                  ,closed:true
                  ,buttons:[{
				                text:'新增一行',
				                handler:function(){addOneRow();}
			                },{
				                text:'保存结果',
				                handler:function(){$('#dlg').dialog('close');}
			                }]"
     style="width:400px;height:300px;padding:10px">
    <table cellpadding="5">
        <thead><tr><th>标志</th><th>名称</th><th>图标</th></tr></thead>
        <tbody id="container">
            <tr><td><input type="text" style="width:50px;" /></td><td><input type="text" style="width:120px;" /></td><td><input type="text" name="s0" class="onSelectImg" /></td><td><span class="closeMePls">X</span></td></tr>
        </tbody>
    </table>
</div>

<div id="icondlg"
     class="easyui-dialog"
     title="图标选择对话框"
     data-options="modal: true
                  ,closed:true
                  ,buttons:[{
				                text:'保存结果',
				                handler:function(){$('#icondlg').dialog('close');}
			                }]"
     style="width:400px;height:400px;padding:2px">
    <input type="hidden" id="curTag" />
    <iframe src="IconSelection" scrolling="yes" frameborder="0" width="370" height="300"></iframe>
</div>
