﻿@{
    ViewBag.Title = null;
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="dsBootstrap">
<head>
    <title></title>
    <style type="text/css">
        html {font-size:12px;}
        table {border-left:1px solid #dfdfdf;border-top:1px solid #dfdfdf;width:100%;}
        td {border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;}

        thead td{height:35px;line-height:35px;text-align:center;background-color:#dfdfdf;color:gray;}
        tbody td{height:25px;line-height:25px;text-align:center;}
        tbody tr {cursor:pointer;}
        tbody tr:hover {background-color:yellow;}

        .select {background-color:gray;color:white;}
    </style>
    <!--AngularJS Part-->
    <script src="~/Content/front/angularjs/angular.min.js"></script>
    <script src="~/Content/front/angularjs/angular-cookies.min.js"></script>
    <!--UIGrid Part-->
    <script src="~/Content/front/angular-ui-grid/ui-grid.min.js"></script>
    <!--DateTimePicker Part(http://dalelotts.github.io/angular-bootstrap-datetimepicker/)-->
    <link href="~/Content/front/angular-datetimepicker/css/datetimepicker.css" rel="stylesheet" />
    <script src="~/Content/front/angular-datetimepicker/js/moment.js"></script>
    <script src="~/Content/front/angular-datetimepicker/js/zh-cn.js"></script>
    <script src="~/Content/front/angular-datetimepicker/js/datetimepicker.js"></script>
    <script src="~/JLib/app.js"></script>
    <script src="~/JLib/ParamSelection/ParamSelectionController.js"></script>
    <script src="~/JLib/ParamSelection/ParamSelectionService.js"></script>
</head>
<body>
  <table cellpadding="0" cellspacing="0">
      <thead>
          <tr>
              <td>参数编号</td>
              <td>参数名称</td>
              <td>参数默认最小值</td>
              <td>参数默认最大值</td>
              <td>参数单位</td>
              <td>参数单位(中文)</td>
          </tr>
      </thead>
      <tbody id="contentContainer" ng-controller="paramController">
          <tr ng-repeat="param in paramOption" ng-click="setSelected(param.settingvalue1)" ng-class="{select:param.settingvalue1==selectedRowID}">
              <td>{{param.settingvalue1}}</td>
              <td>{{param.settingname}}</td>
              <td>{{param.settingvalue2}}</td>
              <td>{{param.settingvalue3}}</td>
              <td>{{param.settingvalue4}}</td>
              <td>{{param.settingvalue5}}</td>
          </tr>
      </tbody>
  </table>
</body>
</html>
