﻿@{
    ViewBag.Title = "";
    Layout = null;
}
<link href="/Content/admin/js/jqueryeasyui/themes/gray/easyui.css" rel="stylesheet" type="text/css" />
<link href="/Content/admin/js/jqueryeasyui/themes/icon.css"        rel="stylesheet" type="text/css" />
<script src="/Content/admin/js/jqueryeasyui/jquery-1.7.2.min.js"   type="text/javascript"></script>
<script src="/Content/admin/js/jqueryeasyui/jquery.easyui.min.js"  type="text/javascript"></script>
<script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemonExx.js")" type="text/javascript"></script>
@{
    var cookie = new FuNong.Framework.Cookie.CookieWrapper();
    var nv = cookie.GetCookieCollection("FuNong.UserInfo.Login");
    var roleid = string.Empty;
    if (nv != null)
    {
        roleid = nv["FuNong.Login.RoleID"];
    }
 }
<script type="text/javascript">
    var DataURL = "Process5DetailAjax?id=@Model";
     var ColumnData = [[
                        { field: 'id', hidden: true },
                        { field: 'requestname', title: '意向受让方姓名',  width: 100 },
                        { field: 'requestphone', title: '意向受让方电话号码', formatter: function (value, row, index) {
                            var roleid = @roleid;
                            if(roleid==2)  //普通用户
                            {
                                return "<span style='color:red;'>请联系流转中心电话：0475-2792555 组织交易！</span>";
                            }
                            return value;
                        },  width: 200 },
                        { field: 'requestnote', title: '意向受让方备注',  width: 200 },
                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
                      ]];
</script>

<table id="dg" ></table>
