﻿@model FuNong.UserInterface.Models.Process4Model
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts
{
    <script src="@Url.Content("~/Content/admin/js/jqprint/jquery.jqprint-0.3.js")" type="text/javascript"></script>

    <link href="@Url.Content("~/Content/admin/js/artDialog/skins/blue.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/admin/js/artDialog/jquery.artDialog.js")" type="text/javascript"></script>

    <style type="text/css">
       @* table{width:700px;border-left:1px solid black;border-top:1px solid black;}
        table thead tr th{border-right:1px solid black;border-bottom:1px solid black;height:30px;line-height:30px;}
        table tbody tr td{border-right:1px solid black;border-bottom:1px solid black;}*@
        
        .smalltxt{width:50px;border:none;border-bottom:1px solid black;background-color:White; text-align:center;}
        .shorttxt{width:100px;border:none;border-bottom:1px solid black;background-color:White; text-align:center;}
        .midtxt {width:250px;border:none;border-bottom:1px solid black;background-color:White;}
        .largetxt{width:500px;border:none;border-bottom:1px solid black;background-color:White;}
        
        .editable{cursor:text;background-color:white; font-size:13px;width:90%;height:90%;border:none;cursor:text;*overflow-y:hidden;*overflow-x:hidden;overflow-y:hidden;overflow-x:hidden;} 
        
        .btnapprove{margin-left:50px;width:188px;height:33px;line-height:33px;color:white;font-weight:bold;background:url(@Url.Content("~/Content/admin/images/btnapprove.png")) no-repeat;border:none;}
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#printform").click(function () {
                $(".print_hidden").css("display", "none");
                $("html").jqprint();
                $(".print_hidden").css("display", "block");
            });
        });

        function checkSubmit() {
            $("#form0").submit();
        }
    </script>

}
@{
    string scriptwarning = string.Empty;
    string message = string.Empty;
    if(Model!=null)
    {
        message = Model.message;
        if(!string.IsNullOrEmpty(message))
        {
            if(Model.success)
            {
                scriptwarning = "  <script type='text/javascript'>art.dialog({ title: '提示', icon: 'succeed', time: 4, content:'" + message + "', padding: 0 });</script>";
            }
            else
            {
                scriptwarning = "  <script type='text/javascript'>art.dialog({ title: '提示', icon: 'error', time: 4, content:'" + message + "', padding: 0 });</script>";
            }
        }
    }
 }
<div style="width:700px;height:100%;text-align:center;margin:0 auto;text-indent:2em;font-size:15px;font-family: 微软雅黑;line-height:2;" class="print_show">
<form id="form0" action="Process_1" method="post">
    @Html.Raw(@scriptwarning)
    <div style="font-weight:bold;font-size:24px;width:100%;float:left;">
        农村土地承包经营权流转委托书
    </div>
    <div style="font-weight:normal;font-size:14px;width:100%;float:left;text-align:left;margin-top:10px;">
        通辽市土地流转大厅：
    </div>
    <div style="font-weight:normal;font-size:14px;width:100%;float:left;text-align:left;margin-top:10px;">
    委托人：<input type="text" class="midtxt" name="field1" />
     <br />
     <br />
　　受托方：<input type="text" class="midtxt" name="field2" />
     <br />
     <br />
　　为了发展农业产业，搞活农村经济，现我自愿将所承包土地的承包经营权流转事宜委托你代理，具体代理事项如下：
     <br />
     <br />
　　一、委托流转土地面积及方位（详细信息，请在下表清单处补充）：面积为<input type="text" class="shorttxt" name="field3" />亩
　　　　<br />
　　　　位于<input type="text" class="largetxt" name="field4" />。
     <br />
     <br />
　　二、委托代理及流转期限：自<input type="text" class="smalltxt" name="field5" />年<input type="text" class="smalltxt" name="field6"/>月<input type="text" class="smalltxt" name="field7"/>日-<input type="text" class="smalltxt" name="field8"/>年<input type="text" class="smalltxt" name="field9"/>月<input type="text" class="smalltxt" name="field10"/>日止。 
     <br />
     <br />
　　三、委托权限：
     <br />
     <br />
　　　　1、在委托代理期限内，代理我所承包土地的承包经营权流转给第三方，并委托你与第三方签订土地承包经营权租赁合同。
     <br />
     <br />
　　　　2、向第三方收取不低于<input type="text" class="shorttxt" name="field11"/>元每年每亩的流转费，并按时全额支付给我。
     <br />
     <br />
　　　　3、该土地若征用，其土地征用补偿费、农业人口安置补助费及国家下拨的粮食直补费由委托方(即农户业主);青苗补偿费由租用经营方所有。
     <br />
     <br />
　　　　4、在流转期内，第三方租用后，必须保证土地用作发展种植、养殖等高效农业项目的使用。在此前提下，我保证不对其合法经营进行任何形式的干涉。
     <br />
     <br />
　　本委托书一式两份，双方各执一份，签字即生效。
     <br />
     <br />
　　授权委托人(农户)：<input type="text" class="midtxt"  name="field12"/>
    <br />
    <br />
　　<input type="text" class="smalltxt" name="field13"/>年<input type="text" class="smalltxt" name="field14"/>月<input type="text" class="smalltxt" name="field15"/>日
    </div>
    <br />
    <br />
    @*<input type="hidden" name="hidetemplate" id="hidetemplate" />*@
    </form>
    <div style="width:700px;height:30px;float:left;text-align:center;margin-top:10px;" class="print_hidden">
        <button class="btnapprove" id="addnew" onclick="checkSubmit();">提交表单</button>
        <button class="btnapprove" id="printform">打印表格</button>
    </div>
</div>
