﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@section scripts
{
    <style type="text/css">
    a{text-decoration:none;color:blue}
    a:hover{color:black;}
    </style>
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemonApprove.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var DataURL = "GetProcess4ApproveList";
        var ColumnData = [[
                        { field: 'id', hidden: true },
                        { field: 'requestid', title: '流转流水号',width: 60 },
                        { field: 'publishtitle', title: '发布信息标题', formatter: function (value, row, index) {
                            return "<a href='/Home/SoilDetail?menu=1&id=" + row.id + "' target='_blank'>" + value + "</a>";
                        }, width: 200
                        },
                        { field: 'soiltypename', title: '土地类型',  width: 50 },
                        { field: 'changetypename', title: '流转类型',  width: 50 },
                        { field: 'isapprove', title: '是否审核',
                            formatter: function (value, row, index) {
                                if (Boolean(value) == true)
                                    return '<span class="icon icon-ok">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                                else if (Boolean(value) == false)
                                    return '<span class="icon icon-no">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                            },
                            editor: {
                                type: 'checkbox',
                                options: { on: 1, off: 0 }
                            }, width: 50
                        },
                        { field: 'publisher', title: '受托人',  width: 80 },
                        { field: 'publisherphone', title: '受托人电话', width: 80 },
                        { field: 'recordorder', title: '排序',  width: 50 },
                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
                      ]];

                        var SaveRecords = function () {
                            //只有先endedit之后，值才会传到后台。
                            endEdit();
                            var inserted = $('#dg').datagrid('getChanges', "inserted");
                            var deleted = $('#dg').datagrid('getChanges', "deleted");
                            var updated = $('#dg').datagrid('getChanges', "updated");
                            var effectRow = new Object();
                            if (inserted.length) {
                                effectRow["inserted"] = JSON.stringify(inserted);
                            }
                            if (deleted.length) {
                                effectRow["deleted"] = JSON.stringify(deleted);
                            }
                            if (updated.length) {
                                effectRow["updated"] = JSON.stringify(updated);
                            }
                            $.post("ApproveProcess4", effectRow, function (response) {
                                if (response.success)
                                    $.messager.show({ title: '审核成功', msg: response.message });
                                else
                                    $.messager.show({ title: '审核失败', msg: response.message });

                                $('#dg').datagrid('reload');
                            }, "JSON");
                        }
        </script>
}

<table id="dg" title="待审核的土地发布信息"></table>
<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput"  class="easyui-searchbox" style="width:200px;" />