﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts
{
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/plugins/datagrid-detailview.js")"  type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/TreeGridEx.js")" type="text/javascript"></script>

<script type="text/javascript">
    var DataURL = "Process3Demo";
    var ColumnData = [[
                        { field: 'id', hidden: true },
                        { field: 'clientname', title: '委托方姓名', editor: 'text', width: 100 },
//                      { field: 'soilcertificateimages', title: '受托方证件照', formatter: function (value, row, index) {
//                            if (row.id == 1) {
//                                return "<img src='../TempJson/1.jpg' style='width:200px;height:80px;' alt=''/>";
//                            }
//                            else if (row.id == 2) {
//                                return "<img src='../TempJson/2.jpg' style='width:200px;height:80px;' alt=''/>";
//                            }
//                            else {
//                                return "<img src='../TempJson/3.jpg' style='width:200px;height:80px;' alt=''/>";
//                            }
//                        }, width: 150
//                        },
                        { field: 'clientidcard', title: '委托方身份证', editor: 'text', width: 100 },
                        { field: 'servername', title: '受托方姓名', editor: 'text', width: 100 },
                        { field: 'serveridcard', title: '受托方身份证', editor: 'text', width: 100 },
                        { field: 'isapprove', title: '是否审核通过',
                            formatter: function (value, row, index) {
                                if (Boolean(value) == true)
                                    return '<p class="icon icon-ok">&nbsp;&nbsp;&nbsp;&nbsp;</p>';
                                else if (Boolean(value) == false)
                                    return '<p class="icon icon-no">&nbsp;&nbsp;&nbsp;&nbsp;</p>';
                            },
                            editor: {
                                type: 'checkbox',
                                options: { on: 1, off: 0 }
                            }, width: 50
                        },
                        { field: 'recordorder', title: '排序', editor: 'numberbox', width: 50 },
                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
                      ]];
</script>
}

<table id="dg" title="权属审核列表查看(注意:以下列表为已提交的流转请求审核列表。审核通过则提示已审核；审核未通过则提示审核进行中。只有审核通过，您才能进行下一步操作。)"></table>
<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput"  class="easyui-searchbox" style="width:200px;" />