﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts
{
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/plugins/datagrid-detailview.js")"  type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/TreeDataGridApprove.js")" type="text/javascript"></script>

<script type="text/javascript">

    var DataURL = "GetProcess3List";

    var DetailURL = "'Process_3_Detail?id='+row.id";
    DetailHeight = 600;

    var ColumnData = [[
                        { field: 'id', hidden: true },
                        { field: 'isapprove', title: '是否审核通过',
                             formatter: function (value, row, index) {
                                 if (Boolean(value) == true)
                                     return '<span class="icon icon-ok" style="display:block;height:100%;width:100%;background-color:yellow;">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                                 else if (Boolean(value) == false)
                                     return '<span class="icon icon-no" style="display:block;height:100%;width:100%;background-color:yellow;">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                             }, editor: {
                                 type: 'checkbox',
                                 options: { on: 1, off: 0 }
                             }, width: 100
                         },
                         { field: 'soilcertificateimages', title: '双方证件照', formatter: function (value, row, index) {
                             return "<span style='color:blue;'>请展开查看</span>";
                         }, width: 150
                         },
                        { field: 'clientname', title: '委托方姓名', width: 100 },

                        { field: 'clientidcard', title: '委托方身份证', width: 150 },
                        
                        { field: 'servername', title: '受托方公司名称',  width: 250 },
                        { field: 'serveridcard', title: '受托方身份证',  width: 150 },
                       
                        { field: 'recordorder', title: '排序', width: 50 },
                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
                      ]];

                     var SaveRecords = function () {
                         //只有先endedit之后，值才会传到后台。
                         endEdit();
                         var inserted = $('#dg').datagrid('getChanges', "inserted");
                         var deleted = $('#dg').datagrid('getChanges', "deleted");
                         var updated = $('#dg').datagrid('getChanges', "updated");
                         var effectRow = new Object();
                         if (inserted.length) {
                             effectRow["inserted"] = JSON.stringify(inserted);
                         }
                         if (deleted.length) {
                             effectRow["deleted"] = JSON.stringify(deleted);
                         }
                         if (updated.length) {
                             effectRow["updated"] = JSON.stringify(updated);
                         }
                         $.post("ApproveProcess3", effectRow, function (response) {
                             if (response.success)
                                 $.messager.show({ title: '审核成功', msg: response.message });
                             else
                                 $.messager.show({ title: '审核失败', msg: response.message });

                             $('#dg').datagrid('reload');
                         }, "JSON");
                     }

</script>
}

<table id="dg" title="权属审核列表查看(注意:以下列表为已提交的流转请求审核列表。审核通过则提示已审核；审核未通过则提示审核进行中。只有审核通过，您才能进行下一步操作。)"></table>
<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput"  class="easyui-searchbox" style="width:200px;" />