﻿@{
    ViewBag.Title = "";
    Layout = null;
}
@{
    var cookie = new FuNong.Framework.Cookie.CookieWrapper();
    var nv = cookie.GetCookieCollection("FuNong.UserInfo.Login");
    string roleid = string.Empty;
    if(nv!=null)
    {
       roleid   = nv["FuNong.Login.RoleID"];
    }
}
<link href="/Content/admin/js/jqueryeasyui/themes/gray/easyui.css" rel="stylesheet" type="text/css" />
<link href="/Content/admin/js/jqueryeasyui/themes/icon.css"        rel="stylesheet" type="text/css" />
<script src="/Content/admin/js/jqueryeasyui/jquery-1.7.2.min.js"   type="text/javascript"></script>
<script src="/Content/admin/js/jqueryeasyui/jquery.easyui.min.js"  type="text/javascript"></script>
@if (!roleid.Equals("2"))  //如果是非普通会员，则有权限审核
{
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemonApprove.js")" type="text/javascript"></script>
}
else  //如果是普通会员，则没有权限审核
{
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemonExx.js")" type="text/javascript"></script>
}

<script type="text/javascript">
    var DataURL = "Process6DetailAjax?id=@Model";
     var ColumnData = [[
                        { field: 'id', hidden: true },
                        { field: 'requestname', title: '意向受让方姓名',  width: 100 },
                        { field: 'requestphone', title: '意向受让方电话号码', formatter: function (value, row, index) {
                            var roleid = @roleid;
                            if(roleid==2)  //普通用户
                            {
                                var isarrange = row.isarrange;
                                if(isarrange=="1")
                                {
                                    return "<span style='color:green;'>流转中心已经组织过交易行为！</span>";
                                }
                                else
                                {
                                    return "<span style='color:red;'>请联系流转中心电话：0475-2792555 组织交易！</span>";
                                }
                            }
                            return value;
                        },  width: 230 },
                        { field: 'isarrange', title: '是否组织过交易',
                            formatter: function (value, row, index) {
                                if (Boolean(value) == true)
                                    return '<span class="icon icon-ok" style="display:block;height:100%;width:100%;background-color:yellow;">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                                else if (Boolean(value) == false)
                                    return '<span class="icon icon-no" style="display:block;height:100%;width:100%;background-color:yellow;">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                            }, editor: {
                                 type: 'checkbox',
                                 options: { on: 1, off: 0 }
                             }, width: 70
                        },
                        { field: 'requestnote', title: '意向受让方备注',  width: 200 },
                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
                      ]];

                        var SaveRecords = function () {
                            //只有先endedit之后，值才会传到后台。
                            endEdit();
                            var inserted = $('#dg').datagrid('getChanges', "inserted");
                            var deleted = $('#dg').datagrid('getChanges', "deleted");
                            var updated = $('#dg').datagrid('getChanges', "updated");
                            var effectRow = new Object();
                            if (inserted.length) {
                                effectRow["inserted"] = JSON.stringify(inserted);
                            }
                            if (deleted.length) {
                                effectRow["deleted"] = JSON.stringify(deleted);
                            }
                            if (updated.length) {
                                effectRow["updated"] = JSON.stringify(updated);
                            }
                            $.post("ApproveProcess6", effectRow, function (response) {
                                if (response.success)
                                    $.messager.show({ title: '审核成功', msg: response.message });
                                else
                                    $.messager.show({ title: '审核失败', msg: response.message });

                                $('#dg').datagrid('reload');
                            }, "JSON");
                        }
</script>

<table id="dg" ></table>
