﻿@{
    ViewBag.Title = "";
    Layout = null;
}
<!DOCTYPE html>
<html>
@{
    var cookie = new FuNong.Framework.Cookie.CookieWrapper();
    var nv = cookie.GetCookieCollection("FuNong.UserInfo.Login");
    string roleid = string.Empty;
    if(nv!=null)
    {
       roleid   = nv["FuNong.Login.RoleID"];
    }
}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="zh-CN" />
<meta content="all" name="robots" />
<meta name="author" content=" " />
<meta name="Copyright" content="  " />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="filetype" content="1">
<meta name="publishedtype" content="1">
<meta name="pagetype" content="2">
<meta name="catalogs" content="M_306955">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<link href="/Content/admin/js/jqueryeasyui/themes/gray/easyui.css" rel="stylesheet" type="text/css" />
<link href="/Content/admin/js/jqueryeasyui/themes/icon.css"        rel="stylesheet" type="text/css" />
<script src="/Content/admin/js/jqueryeasyui/jquery-1.7.2.min.js"   type="text/javascript"></script>
<script src="/Content/admin/js/jqueryeasyui/jquery.easyui.min.js"  type="text/javascript"></script>
<!--[if IE]>
<style type="text/css">
  @@font-face {
    font-family: MENKSOF0;
	font-style:  normal;
    font-weight: normal;
    src: url("/img/mongol/MENKSOF0.eot");
	}
</style>
<![endif]-->
<style type="text/css">
    body { padding:0; margin:0; font:normal 18px/160% "MENKSOF0"; color:#000000;text-align:left; }
    input { padding:0; margin:0; font:normal 13px/160% "MENKSOF0"; color:#000000;text-align:left;}
    @@font-face {
        font-family: MENKSOF0;
	    font-style:  normal;
        font-weight: normal;
        src:url("../../UploadFile/Menksoft2007.woff") format("woff");
    }
</style>
@if (!roleid.Equals("2"))  //如果是非普通会员，则有权限审核
{
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemon.js")" type="text/javascript"></script>
}
else  //如果是普通会员，则没有权限审核
{
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemonExx.js")" type="text/javascript"></script>
}

<script type="text/javascript">
    var DataURL = "GetNewsTypeList";
    var ColumnData = [[
                        { field: 'id', title: '新闻类型编号', hidden: false, width: 50 },
                        { field: 'typename', title: '新闻类型名称', editor: 'text', width: 80 },
                        { field: 'typenote', title: '新闻类型链接', editor: 'text', width: 80 },
                         { field: 'typenamemeng', title: '是否首页模块', formatter: function (value, row, index) {
                             if (Boolean(value) == true)
                                 return '<span class="icon icon-ok" style="height:16px;display:block;">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                             else if (Boolean(value) == false)
                                 return '<span class="icon icon-cancel" style="height:16px;display:block;">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                         }, editor: { type: 'combobox',
                             options: {
                                 valueField: 'settingvalue1',
                                 textField: 'settingname',
                                 url: '/BaseData/GetBaseSettingBy?groupname=judge',
                                 required: true
                             }
                         }, width: 35
                         },
                        { field: 'parentid', title: '隶属于',
                            formatter: function (value, row, index) {
                                if (row.parentid == 0) {
                                    return "<span style='color:red;'>顶级菜单</span>";
                                }
                                else {
                                    return row.parentname;
                                }
                            },
                            editor: { type: 'combobox',
                                options: {
                                    valueField: 'id',
                                    textField: 'typename',
                                    url: 'GetParentNewsType',
                                    required: true
                                }
                            }, width: 100
                        },
                        { field: 'recordorder', title: '排序', editor: 'numberbox', width: 60 },
                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
                      ]];

                        var SaveRecords = function () {
                            endEdit();
                            var inserted = $('#dg').datagrid('getChanges', "inserted");
                            var deleted = $('#dg').datagrid('getChanges', "deleted");
                            var updated = $('#dg').datagrid('getChanges', "updated");
                            var effectRow = new Object();
                            if (inserted.length) {
                                effectRow["inserted"] = JSON.stringify(inserted);
                            }
                            if (deleted.length) {
                                effectRow["deleted"] = JSON.stringify(deleted);
                            }
                            if (updated.length) {
                                effectRow["updated"] = JSON.stringify(updated);
                            }
                            $.post("CommitNewsType", effectRow, function (response) {
                                if (response.success)
                                    $.messager.show({ title: '操作成功', msg: response.message });
                                else
                                    $.messager.show({ title: '操作失败', msg: response.message });

                                $('#dg').datagrid('reload');
                            }, "JSON");
                        }
</script>
</head>
<body>
<table id="dg" ></table>
</body>
</html>