﻿@{
    ViewBag.Title = "";
    Layout = null;
}
<!DOCTYPE html>
<html>
@{
    string scriptwarning = string.Empty;
    string message = string.Empty;
    if (Model != null)
    {
        message = Model.Message;
        if (!string.IsNullOrEmpty(message))
        {
            if (Model.Success)
            {
                scriptwarning = "<script type='text/javascript'>art.dialog({ title: '提示', icon: 'succeed', time: 4, content:'" + message + "', padding: 0 });</script>";
            }
            else
            {
                scriptwarning = "<script type='text/javascript'>art.dialog({ title: '提示', icon: 'error', time: 4, content:'" + message + "', padding: 0 });</script>";
            }
        }
    }
 }
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="zh-CN" />
<meta content="all" name="robots" />
<meta name="author" content=" " />
<meta name="Copyright" content="  " />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="filetype" content="1">
<meta name="publishedtype" content="1">
<meta name="pagetype" content="2">
<meta name="catalogs" content="M_306955">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />

    <link href="@Url.Content("~/Content/admin/js/jqueryeasyui/themes/gray/easyui.css")"                 rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/js/jqueryeasyui/themes/icon.css")"                        rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/js/jquery.validationEngine/validationEngine.jquery.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/js/artDialog/skins/blue.css")"  
    <link href="@Url.Content("~/Content/admin/js/baidueditor/themes/iframe.css")"                   rel="stylesheet"  type="text/css" />
    <link href="@Url.Content("~/Content/admin/js/baidueditor/themes/default/css/ueditor.css")"      rel="stylesheet" type="text/css" />   
                      
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/jquery-1.7.2.min.js")"                           type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/jquery.easyui.min.js")"                          type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jquery.validationEngine/jquery.validationEngine.js")"         type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jquery.validationEngine/jquery.validationEngine-zh_CN.js")"   type="text/javascript"></script>  
    <script src="@Url.Content("~/Content/admin/js/artDialog/jquery.artDialog.js")"                              type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/baidueditor/ueditor.config.js")"                              type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/baidueditor/ueditor.all.js")"                                 type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/ajaxupload/ajaxupload.js")"                                   type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#form0").validationEngine();

            //百度编辑器配置
            var editorurl = "../Content/admin/js/baidueditor/";
            var iframecssurl = "../Content/admin/js/baidueditor/themes/iframe.css";
            var editor = new baidu.editor.ui.Editor({
                UEDITOR_HOME_URL: editorurl,                                                         //配置编辑器路径
                iframeCssUrl: iframecssurl,                                                          //样式路径
                initialContent: "",                                                                 //初始化编辑器内容
                autoHeightEnabled: true,                                                            //高度自动增长
                minFrameHeight: 300                                                                  //最小高度
            });
            editor.render('newscontent');

            //获取新闻类型
            $.ajaxWebService("GetNewsTypeListForCombobox", "{}", function (data) {
                if (data.success) {
                    var len = data.data.length;
                    for (var i = 0; i < len; i++) {
                        var currentDataObject = data.data[i];
                        var id = currentDataObject.settingvalue1;
                        var name = currentDataObject.settingname;
                        $("#typeid").append("<option value='" + id + "'>" + name + "</option>");
                    }
                }
            });

            //加载资讯信息
            setTimeout(function () { loadNews(editor); }, 2000);

            //绑定封面图片上传
            $.imgUpload($("#unloadPic"), $("#uploadedName"), $("#errorRemind"), $("#pageimg"));
        });

        function loadNews(editor) {
             var id = getUrlVars()["id"];
             $.ajaxWebService("GetNewsDetails", "{newsid:" + id + "}", function (data) {
                 if (data.success) {
                     //加载id
                     $("#id").val(id);
                     //加载语言
                     var language = data.data.language;
                     if (language == 0 || language == null || language == undefined || language == "") $("#language1").attr("checked", "checked");
                     else $("#language2").attr("checked", "checked");
                     //加载下拉列表
                     var typeid = data.data.typeid;
                     $("#typeid").val(typeid);
                     //加载资讯标题
                     var title = data.data.newstitle;
                     $("#newstitle").val(title);
                     //加载资讯概要
                     var note = data.data.newsnote;
                     $("#newsnote").text(note);
                     //是否今日头条
                     var totaytop = data.data.todaytop;
                     if (totaytop == 1) $("#todaytop").attr("checked", "true");

                     //是否今日推荐
                     var totayrecommand = data.data.todayrecommand;
                     if (totayrecommand == 1) $("#todayrecommand").attr("checked", "true");
                     //是否滚动资讯
                     var todayscroll = data.data.todayscroll;
                     if (todayscroll == 1) $("#todayscroll").attr("checked", "true");
                     //加载资讯内容
                     var newscontent = data.data.newscontent;
                     editor.setContent(newscontent);

                     //封面图片
                     if (data.data.pageimg != null && data.data.pageimg != undefined) {
                         $("#previewimg").attr("src", clear(data.data.pageimg));
                     }
                 }
                 else {
                     art.dialog({ title: '提示', icon: 'error', time: 4, content: data.message, padding: 0 });
                 }
             });
        }

        //去掉字符串中的逗号
        function clear(str) {  
            str = str.replace(/,/g, "");//取消字符串中出现的所有逗号   
            return str;  
        }  

        $.ajaxWebService = function (url, dataparam, datasuccess) {
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: url,
                data: dataparam,
                success: datasuccess,
                error: function (a, b, c) { }
            });
        }

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        function checkSubmit() {
            var id = getUrlVars()["id"];
            if (id != null && id != undefined && id != "") {
                $("#flag").val("1");  //代表是更新操作
            }
            return true;
        }

        $.imgUpload = function (elemntButton, elementName, elementError, elementImgs) {
            //图片上传相关配置
            //var oBtn = $("#unloadPic");
            //var oShow = $("#uploadedName");
            //var oRemind = $("#errorRemind");
            var oBtn = elemntButton;
            var oShow = elementName;
            var oRemind = elementError;
            new AjaxUpload(oBtn, {
                action: "../Process/SoilImagesUpload",
                name: "upload",
                onSubmit: function (file, ext) {
                    if (ext && /^(jpg|jpeg|png|gif)$/.test(ext)) {
                        oBtn.val("正在上传…");
                        oBtn.css("disabled", "disabled");
                    } else {
                        oRemind.css("color", "#ff3300");
                        oRemind.html("不支持非图片格式！");
                        return false;
                    }
                },
                onComplete: function (file, response) {
                    oBtn.css("disabled", "");
                    //oBtn.val("再上传一张图片");
                    oBtn.css("display", "none");
                    oRemind.html("");
                    var newChild = document.createElement("li");
                    newChild.innerHTML = file;
                    oShow.append(newChild);

                    var temp = response.replace('<pre style="word-wrap: break-word; white-space: pre-wrap;">', '').replace('</pre>', '');
                    var data = eval('[' + temp + ']');
                    var dataex = data[0];

                    if (dataex.success) {
                        var path = dataex.path;
                        var existImgList = elementImgs.val();
                        existImgList = existImgList + "," + path;
                        elementImgs.val(existImgList);
                        $("#previewimg").attr("src", path);
                    }
                    else
                        oRemind.html(dataex.message);
                }
            });
        }


    </script>
</head>
<body>
    <div  style="width:100%;height:auto;text-align:center;margin:0 auto;font-size:13px;">
    <div style="width:100%;height:40px;line-height:40px;border-bottom:5px solid #0092DC;font-size:15px;font-weight:bold;">新闻资讯信息</div>
    <form id="form0" method="post" action="NewsEditor" onsubmit="checkSubmit();">
     @Html.Raw(scriptwarning)
    <table cellpadding="0" cellspacing="0" style="width:98%;height:auto;border:1px solid #CCCCCC;margin:0 auto;margin-top:20px;">
    <thead>
    <th colspan="6" style="border-bottom:1px solid #CCCCCC;text-align:left;line-height:30px;height:30px;color:#0092DC">&nbsp;&nbsp;新闻资讯信息新增</th>
    </thead>
    <tbody>
    <tr>
        <td style="width:150px;height:35px;text-align:right;">资讯类型：</td>
        <td style="text-align:left;" colspan="5">
        <select id="typeid" name="typeid" style="width:450px;height:25px;" class="validate[required]"></select>
        </td>
    </tr>
    <tr>
        <td style="width:150px;height:35px;text-align:right;">资讯标题：</td>
        <td style="text-align:left;" colspan="5"><input type="text" id="newstitle" name="newstitle"  style="width:450px;height:25px;" class="validate[required]" /></td>
    </tr>
     <tr>
         <td style="width:150px;height:40px;text-align:right;">资讯概要：</td>
         <td style="text-align:left;" colspan="5"><textarea id="newsnote" name="newsnote" style="width:550px;height:50px;" class="validate[required]" ></textarea></td>
    </tr>
    <tr>
        <td style="width:150px;height:40px;text-align:right;">今日头条：</td>
        <td style="text-align:left;width:10px;"><input type="checkbox" value="1" id="todaytop" name="todaytop" /></td>
        <td style="width:150px;height:40px;text-align:right;">今日推荐：</td>
        <td style="text-align:left;width:10px;"><input type="checkbox" value="1" id="todayrecommand" name="todayrecommand" /></td>
        <td style="width:150px;height:40px;text-align:right;">滚动资讯：</td>
        <td style="text-align:left;"><input type="checkbox" value="1" id="todayscroll" name="todayscroll" /></td>
     </tr>
       <tr>
         <td style="width:150px;height:40px;text-align:right;">封面图片：</td>
         <td style="text-align:left;" colspan="5">
           <div style="float:left;">
                <p id="errorRemind"></p>
                <input id="unloadPic" type="button" value="上传封面图片" style="width:150px;height:30px;margin-left:5px;" />
                <ol id="uploadedName"></ol>
                <input type="hidden" id="pageimg" name="pageimg"  />
                <img src="" id="previewimg" style="width:80px;height:80px;" />
            </div>
         </td>
      </tr>
     <tr>
         <td style="width:150px;height:40px;text-align:right;">资讯内容：</td>
         <td style="text-align:left;" colspan="5">
          <textarea id="newscontent" name="newscontent" style="width:100%;height:350px;"></textarea>
         </td>
      </tr>
      <tr>
         <td colspan="5" style="height:60px;">
         <input type="submit" style="width:150px;height:30px;text-align:center;" value="提交新闻资讯" />
         <input type="hidden" name="flag" value="0" id="flag" /><input type="hidden" name="id" id="id" />
         </td>
    </tr>
    </tbody>
    </table>
    </form>
</div>
</body>
</html>